* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  background: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__title {
  font-size: 35px;
  font-weight: 900;
  line-height: 160%;
  text-align: center;
}

@media (max-width: 425px) {
  .game__title {
    font-size: 28px;
  }
}

.game__body {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  perspective: 1000px;
}

@media (max-width: 768px) {
  .game__body {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
  }
}

@media (max-width: 425px) {
  .game__body {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(4, 6rem);
  }
}

.game__card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}

.game__card_selected {
  transform: rotateY(180deg);
}

.game__card_hidden {
  opacity: 0;
  visibility: hidden;
}

.game__card-front, .game__card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #000;
  border-radius: 5px;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}

.game__card-front {
  background-color: #fff;
}

.game__card-back {
  transform: rotateY(180deg);
}

