.header {
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}

.logo-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-title {
    font-size: 80px;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: 20px;

    background: linear-gradient(219deg,
            var(--friends-yellow) 37%,
            var(--friends-blue) 37%,
            var(--friends-blue) 70%,
            var(--friends-red) 70%);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media screen and (max-width: 450px) {
        font-size: 60px;
        margin-left: 10px;
    }
}
