* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(188, 201, 238);
  color: #000;
}

.menu__link:active {
  text-decoration: underline;
}
.popup__link:active {
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgb(168, 185, 231);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.menu {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
  display: inline;
  margin-right: 10px;
}

.menu__item:last-child {
  margin: 0;
}

.chek__label {
  padding: 10px 0px 3px 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup__checkbox {
  position: absolute;
  margin-left: -30px;
  width: 30px;
  height: 30px;
  background-image: url(../image/popup-button.png);
  background-size: cover;
}

.menu__link {
  padding: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.menu__link__img {
  font-size: 27px;
  padding: 3px;
}
.menu__img {
  height: 25px;
  width: 25px;
}

input.popup__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup__container {
  display: none;
}

#popup__icon:checked ~ .popup__container {
  position: absolute;
  top: 80px;
  left: 70%;
  display: inline-block;
  width: 300px;
  height: auto;
  margin-right: 30%;
  background-color: whitesmoke;
}

.popup__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup__item {
  display: block;
  width: 90px;
  padding: 10px;
  text-align: center;
  margin: 5px;
}
.popup__link {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.popup__img {
  width: 48px;
  height: 48px;
}
.hidden__item {
  display: none;
}

.popup__button__more {
  display: block;
  width: 70%;
  height: 30px;
  padding: 5px;
  margin: 7px auto;
  text-align: center;
  font-weight: 600;
  background-color: rgb(238, 232, 225);
}

.popup__button__hide {
  display: block;
  width: 70%;
  height: 30px;
  padding: 5px;
  margin: 7px auto;
  text-align: center;
  font-weight: 600;
  background-color: rgb(238, 232, 225);
}

.popup__button__hide {
  display: none;
}

#popup:checked ~ * li.hidden__item {
  display: inline-block;
}
#popup:checked ~ .popup__container {
  position: absolute;
  top: 80px;
  left: 70%;
  display: inline-block;
  width: 320px;
  height: 300px;
  background-color: whitesmoke;
  overflow-y: scroll;
}

#popup:checked ~ * span.popup__button__more {
  display: none;
}
#popup:checked ~ * span.popup__button__hide {
  display: block;
}

.checkbox:focus ~ .chek__label {
  outline: 3px solid rgb(67, 90, 153);
  border-radius: 5px;
  background-color: rgb(127, 153, 224);
}

a.menu__link:focus-within {
  outline: 3px solid rgb(67, 90, 153);
  border-radius: 5px;
  background-color: rgb(127, 153, 224);
}

a.popup__link:focus {
  outline: none;
}

li.popup__item:focus-within {
  outline: 3px solid rgb(67, 90, 153);
  border-radius: 5px;
  background-color: rgb(238, 232, 225);
}

.popup__item:hover,
.popup__button span:hover {
  cursor: pointer;
  background-color: rgb(238, 232, 225);
}

.popup__button span:focus {
  outline: 3px solid rgb(67, 90, 153);
  border-radius: 5px;
  background-color: rgb(238, 232, 225);
}

.menu__link:focus,
.menu__link__img:focus,
.popup__checkbox:focus {
  outline: 3px solid rgb(67, 90, 153);
  border-radius: 5px;
  background-color: rgb(127, 153, 224);
}

.menu__link:hover,
.menu__link__img:hover,
.popup__checkbox:hover {
  cursor: pointer;
  background-color: rgb(127, 153, 224);
}

@media (max-width: 575px) {
  #popup__icon:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 15%;
    display: inline-block;
    width: 300px;
    height: auto;
    overflow-y: auto;
  }
  #popup:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 15%;
    display: inline-block;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }
}

@media (576px <= width <= 767px) {
  #popup__icon:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 45%;
    display: inline-block;
    width: 300px;
    height: auto;
    overflow-y: auto;
  }
  #popup:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 45%;
    display: inline-block;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }
}
@media (768px <= width <= 992px) {
  #popup__icon:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 58%;
    display: inline-block;
    width: 300px;
    height: auto;
    overflow-y: auto;
  }
  #popup:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 58%;
    display: inline-block;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }
}
@media (993px <= width <= 1200px) {
  #popup__icon:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 65%;
    display: inline-block;
    width: 300px;
    height: auto;
    overflow-y: auto;
  }
  #popup:checked ~ .popup__container {
    position: absolute;
    top: 80px;
    left: 65%;
    display: inline-block;
    width: 320px;
    height: 300px;
    overflow-y: scroll;
  }
}
