* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    height: 96vh; 
}

.asideBlock {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.asideBtn {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: gainsboro;
    cursor: pointer;
}

.asideBtn:hover {
    background-color: azure;
    border: 1px solid blue;
}

.mainBlock {
    display: flex;
    align-items: center;
    min-width: 300px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
    background-color: gainsboro;
}

.mainHeader {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    text-shadow: -2px 0px 10px rgba(150, 122, 129, 0.39);
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

.mainImg {
    width: 200px;
    height: 200px;
}

.mainDescr {
    border: 1px solid black;
    max-width: 300px;
    word-break: break-all;
    margin-right: 40px;
}

.mainSource {
    width: 100%;
}

.mainDescrOl {
    margin: 0 25px;
}

.mainDescrLi {
    padding: 5px 0;
}

.clicked {
    background-color: white;
}

.colledge {
    background: linear-gradient(180deg, rgba(121,68,3,1) 0%, rgba(174,110,31,1) 37%, rgba(246,136,0,1) 100%);
}

.late {
    background: linear-gradient(180deg, rgba(62,31,16,1) 0%, rgba(99,49,25,1) 37%, rgba(124,60,29,1) 100%);
}

.graduation {
    background: linear-gradient(180deg, rgba(82,16,87,1) 0%, rgba(134,8,143,1) 37%, rgba(209,23,222,1) 100%);
}

.heartbreak {
    background: linear-gradient(180deg, rgba(140,138,154,1) 0%, rgba(180,177,204,1) 37%, rgba(197,194,217,1) 100%);
}

.mbdtf {
    background: linear-gradient(180deg, rgba(255,0,29,1) 0%, rgba(240,39,62,1) 37%, rgba(198,37,55,1) 100%);
}

.yeezus {
    background: linear-gradient(180deg, rgba(249,252,247,1) 0%, rgba(237,249,230,1) 37%, rgba(220,230,214,1) 100%);
}

.tlop {
    background: linear-gradient(180deg, rgba(244,147,105,1) 0%, rgba(235,119,69,1) 37%, rgba(153,84,54,1) 100%);
}

.ye {
    background: linear-gradient(180deg, rgba(170,164,227,1) 0%, rgba(67,62,115,1) 37%, rgba(28,19,134,1) 100%);
}

.jis {
    background: linear-gradient(180deg, rgba(148,140,231,1) 0%, rgba(47,30,226,1) 37%, rgba(26,20,85,1) 100%);
}

.donda {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 37%, rgba(0,0,0,1) 100%);
}

@media (max-width: 768px) { 

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%; 
    }

    .asideBlock {
        margin: 20px 0;
    }

    .mainBlock {
        width: 100%;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 80px;
        align-items: center;
    }

    .mainDescr {
        border: 1px solid black;
        max-width: 300px;
        word-break: break-all;
        margin: 20px 0;
        padding: 10px;
    }

    .mainSource {
        margin-top: 20px;
        width: 100%;
    }
}


