/* content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    height: 96vh; 
}

/* asideItem */

.asideBlock {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.asideBtn {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: gainsboro;
    cursor: pointer;
}

.asideBtn:hover {
    background-color: azure;
    border: 1px solid blue;
}

/* mainItems */

.mainBlock {
    display: flex;
    align-items: center;
    min-width: 300px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
    background-color: gainsboro;
}

.mainHeader {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    text-shadow: -2px 0px 10px rgba(150, 122, 129, 0.39);
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

.mainImg {
    /* border: 1px solid black; */
    width: 200px;
    height: 200px;
}

.mainDescr {
    border: 1px solid black;
    max-width: 200px;
    word-break: break-all;
    margin-right: 20px;
}

.mainSource {
    width: 100%;
}

.mainDescrOl {
    margin: 0 25px;
}

.mainDescrLi {
    padding: 5px 0;
}


/* clicked Btn*/

.clicked {
    background-color: white;
}


/* mobile */
@media (max-width: 768px) { 

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%; 
    }

    .asideBlock {
        margin: 20px 0;
    }
}


