/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
}

body {
  color: hsl(0, 0%, 0%);;
  font-size: 1rem;
  background-color: hsl(180, 16%, 90%);
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
}

ul, nav {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1-like{
  font-size: 2rem;
}

.main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px;
}
.nav__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav__item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e4e4;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: -6px 0 8px -4px rgb(36 86 132 / 10%);
  cursor: pointer;
  margin-bottom: 8px;
  padding: 18px 24px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #918a8a;
}
.content{
  background: #fff;
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  max-width: 100%;
  padding: 20px 24px;
  width: 100%;
}
.main__header{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.main__content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.main__content img{
  width: 100%;
}
.main__content p{
  padding: 10px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}
.nav__item.active{
  background-color: #fff;
  box-shadow: 0 0 0px rgba(250, 253, 255, 0);
  border-right: #fff;
  color: #000000;
}

@media (max-width: 768px){
  .main{
    grid-template-columns: 0.5fr 3.5fr;
  }
  .h1-like{
    font-size: 1.2rem;
  }
  .h2-like{
    font-size: 0.8rem;
  }
  .nav__item{
    font-size: 0.6rem;
    padding: 10px 15px;
  }
  .main__content p{
    font-size: 0.8rem;
    padding: 0;
  }
  .content{
    padding: 5px;
  }
}