.adaptive {
    position: absolute;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out all;
    &__navigation {   
        height: 100%;   
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &-item {
            width: 100%;
            height: 10%;
        }
        &-button {
            border: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
            font-size: 30px;
            font-weight: 500;
            color: $main-second-color;
            cursor: pointer;
            transition: 0.3s ease-in-out all;
            &:hover {
                transition: 0.3s ease-in-out all;
                background-color: $main-accent-color;
            }
            &__active {
                background-color: $main-accent-color;
            }
        }
    }
    &__active {
        transition: 0.2s ease-in-out all;
        left: 0;
    }
        
}
