@media (max-width: 1400px) {
    .main {
        &__navigation-button:before {
           max-width: 50px; 
        }
    }
}



@media (max-width: 1100px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header {
        padding-left: 0;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .main {
        padding: 0;
        &__navigation {
            width: 25%;
        }
    }
}

@media (max-width: 890px) {
    .header {
        position: relative;
    }
    .main {
        height: 90vh;
        .wrapper {
            justify-content: space-around;
        }
        &__navigation {
            width: 20%;
        }
        &__navigation-button {
            padding-left: 30%;
            font-size: 20px;
            &:before {
                max-width: 20px; 
            }
            &_active:before {
                width: 30px;
                right: 60%;
            }
        }
        &__content-title {
            font-size: 24px;
        }
        &__content-subtitle {
            font-size: 16px;
        }
        &__content-descr {

        }
            
    }
}

@media (max-width: 800px) {
    .header {
        // height: 20%;
        &__logo-img {
        }
        &__hamburger {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .main {
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
    }
}



@media (max-width: 400px) {
    .header {
        padding: 10px 0;
        height: 20%;
    }
    .main {
        padding: 5% 0 35% 0;
        overflow: auto;
        height: 80%;
        &__content-subtitle {
            text-align: center;
            font-size: 14px;
        }
        &__content-descr {
            line-height: 20px;
            font-size: 14px;
        }
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .header {
        padding: 60px 0;
        &__hamburger {
            display: block;
            
        }
        &__hamburger-active {
            top: 10px;
            span:last-child {
                background-color: $main-second-color;
            }
            span:first-child {
                background-color: $main-second-color;;
            }
        }
    }
    .main {
        padding: 400px 0 50px 0;
        overflow: auto;
        .wrapper {
            justify-content: center;
        }
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
    }
    .adaptive {
        height: 100%;
        &__navigation-item {
            height: 13%;
        }
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    .header {
        padding: 60px 0;
    }
    .main {
        padding: 350px 0 50px 0;
        overflow: auto;
        .wrapper {
            justify-content: center;
        }
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
    }
}
