@media (max-width: 2560px) and (max-height: 1250px) {
    .main {
        .wrapper {
            height: 900px;
        }
        &__content {
            max-height: 100%;
            &-image {
                max-height: 600px;
            }
        }
    }
}

@media (max-width: 1920px) {
    .main {
        padding: 30px 0;
        .wrapper {
            max-height: 1000px;
        }
        &__content {
            max-height: 100%;
            &-image {
                max-height: 600px;
            }
        }
    }
}

@media (max-width: 1500px) and (max-height: 800px) {
    .main {
        padding: 0;
        .wrapper {
            height: 730px;
            align-items: flex-start;
        }
        &__navigation {
            width: 20%;
            transform: translateY(15%);
        }
        &__navigation-button {
            height: 70px;
            padding-left: 0%;
            &:before {
                right: 90%;
                max-width: 20px; 
            }
            &_active:before {
                width: 30px;
                right: 95%;
            }
        }
        &__content {
            max-width: 55%;
            &-image {
                max-height: 400px;
            }
        }
        &__content-title {
            font-size: 24px;
        }
        &__content-subtitle {
            font-size: 16px;
        }
    }
}

@media (max-width: 1400px) {
    .main {
        padding: 0;
        &__navigation-button {
            height: 70px;
            padding-left: 0%;
            &:before {
                right: 75%;
                max-width: 40px; 
            }
            &_active:before {
                width: 40px;
                right: 90%;
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .main {
        padding: 0;
        &__navigation {
            justify-content: flex-start;
        }
        &__navigation-button {
            padding-left: 35%;
            font-size: 20px;
            &:before {
                max-width: 20px; 
            }
            &_active:before {
                width: 30px;
                right: 60%;
            }
        }
        &__content-title {
            font-size: 24px;
        }
        &__content-subtitle {
            font-size: 16px;
        }
    }
}

@media (max-width: 830px) {
    .header {
        &__hamburger {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .main {
        padding: 20px;
        .wrapper {
            height: auto;
        }
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .header {
        padding: 30px 0;
        &__hamburger {
            display: block;
        }
    }
    .main {
        padding: 20px;
        .wrapper {
            justify-content: center;
        }
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
    }
    .adaptive {
        height: 100%;
        &__navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__navigation-button {
            font-size: 25px;
        }
        &__navigation-list {
            width: 80%;
        }
        &__navigation-item {
            height: 10%;
        }
    }
}

@media (max-width: 680px) and (orientation: landscape) {
    .header {
    }
    .main {
        .wrapper {
            justify-content: center;
        }
        &__navigation {
            display: none;
        }
        &__content {
            max-width: 100%;
        }
    }
}
