body {
	font-family: Bungee Spice, Roboto;
	font-size: 16px;
	font-weight: 400;
	background: url("../assets/img/bg.jpg");
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
	align-items: center;
	display: flex;
}

.header__title {
	font-size: 60px;
	text-align: center;
	margin-top: 30px;
}

.cards-deck {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 560px;
	gap: 25px;
}

.card-flip {
	position: relative;
	width: 120px;
	height: 135px;
	cursor: pointer;
	opacity: 1;
}

.card-flip:hover {
	box-shadow: -1px 0px 47px -12px #fff;
}

.card-flip-front,
.card-flip-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	transition: 0.6s;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.card-flip-front {
	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
	z-index: 1;
}

.card-flip-back {
	-webkit-transform: perspective(600px) rotateY(-179deg);
	transform: perspective(600px) rotateY(-179deg);
}

.card-flip-front.active {
	-webkit-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);
}

.card-flip-back.active {
	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
	z-index: 2;
}

.none {
	opacity: 0;
	transition: opacity 0.9s ease-in;
	cursor: default;
}

.footer {
	text-align: center;
	font-size: 20px;
	padding: 15px;
}

/* --------------- mobile ---------------- */

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 0px;
	}
}

@media (max-width: 699.98px) {
	.header__title {
		font-size: 36px;
		margin-top: 35px;
	}

	.cards-deck {
		padding: 0 5px;
		row-gap: 18px;
		column-gap: 12px;
		max-width: 293px;
	}

	.card-flip {
		width: 86px;
		height: 96px;
	}
	.card-flip-front,
	.card-flip-back {
		width: 86px;
		height: 96px;
	}
}
