*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #dff6ff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%230d97cd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #06283D;
    font-size: 2rem;
    font-family: Montserrat;
}

.wrapper {
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: #47B5FF;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    height: 101px;
    position: relative;
}

.welcome {
    padding-top: 20px;
}

.popup_checkbox {
    position: absolute;
    appearance: none;
}

.popup_checkbox:focus~.popup_checkbox_label {
    background-color: #3D9CDB;
    border-radius: 4px;
}

.popup_checkbox_label {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    right: 0;
    top: 93px;
    z-index: 4;
    max-width: 400px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1363DF;
    border: 1px solid #333;
}

.popup_checkbox:checked~.popup {
    display: block;
}

.nav-menu,
.inner-popup_checkbox:checked~.nav-menu__inner {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1363DF;
}

.nav-item {
    width: 33%;
    max-height: 140px;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid transparent;
    border-radius: 8px;
}

.nav-item :focus {
    opacity: 0.7;
    background-color: #4D7EFF;
    color: #fefefe;
}

.nav-item :hover {
    opacity: 0.7;
    background-color: #4D7EFF;
    color: #fefefe;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #06283D;
    font-size: 1rem;
    overflow-wrap: break-word;
}

.menu-img {
    width: 100%;
    margin-bottom: 10px;
}

.figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin: 1%;
}

.figcaption {
    background-color: #454655;
    color: #F8F8FF;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
}

.popup__inner {
    display: block;
    width: 100%;
}

.inner-popup_checkbox_label {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.inner-popup_checkbox__btn {
    font-size: 2rem;
    border-radius: 2px;
    color: grey;
    background-color: #F9F871;
}

.inner-popup_checkbox__btn:hover {
    color: #00CAF1;
}

.inner-popup_checkbox {
    position: absolute;
    appearance: none;
}

.inner-popup_checkbox:focus~.inner-popup_checkbox_label {
    border: 1px solid #00CAF1;
}

.nav-menu__inner {
    display: none;
}
  
