@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/unsplashLove.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(-50px);
    color: rgb(255,255,255);
    transition: all 0.3s ease 0s;
    text-shadow:  1px 2px 15px rgb(255,192,203), -1px -1px 1px rgb(255,192,203);
}

.header:hover{
    text-shadow:  1px 2px 15px rgb(255,20,147), -1px -1px 1px rgb(255,20,147);
}

.logo img{
    margin-right: 10px;
    transform: translateY(5px);
    width: 60px;
}

.container{
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 2px 15px rgb(255,192,203), -1px -1px 1px rgb(255,192,203);
    transition: all 0.4s;
    transform-style: preserve-3d;
    border-radius: 50%;
    background-color: rgb(0,0,0);
    margin: 15px;
}

.card:hover{
    box-shadow: 1px 2px 25px rgb(255,192,203), -1px -1px 1px 	rgb(255,192,203);
}

.card:hover {
    cursor: pointer;
}

.card.active {
    transform: rotateY(180deg);
}

.card.opened{
    position: relative;
    transform: rotateY(180deg);
    background-color: rgb(255,192,203);
}

.card .front-side,
.card .back-side {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    line-height: 1.5;
    color: rgb(255,192,203);
    font-family: 'Sansita Swashed', cursive;
    
}

.front-size {
    z-index: 2;
    transform: rotateY(0deg);
}

.back-side {
    transform: rotateY(180deg);
}

@media screen and (max-width:530px){
    .wrapper{
        font-size: 12px;
    }

    .container{
        max-width: 300px;
    }

    .card{
        width: 80px;
        height: 90px;
        margin: 10px;
    }
}
