:root {
  --primary-text-color: #495057;
  --secondaty-text-color: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--secondaty-text-color);
  padding: 2px 12px;
  border-radius: 4px;
}
a:hover {
  background-color: #f1f3f5;
}
a:focus {
  outline: 2px solid #212529;
  background-color: #f1f3f5;
}

li:focus {
  outline: 2px solid #212529;
  background-color: red;
}
body {
  color: #343a40;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  max-width: 1400px;
  margin: 20px auto;
  position: relative;
  padding: 0 20px;
}
ul {
  list-style-type: none;
}

.links-cnt {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
.links-cnt li {
}

/* Popup */
.popup {
  display: flex;
  align-items: center;
  position: relative;
}

.popup__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  stroke: var(--secondaty-text-color);
  padding: 4px;
}

.popup__menu {
  display: none;
  width: 300px;
  min-height: 100px;
  max-height: 400px;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.18);

  border: 1px solid #e9ecef;
  border-radius: 5px;

  position: absolute;
  top: calc(100% + 5px);
  right: 0;
}

.popup__menu ul {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 10px;
}
.popup__menu li {
  width: 100%;
  height: 100%;
}
.popup__menu-icon {
  width: 50px;
  height: 50px;
}
.popup__checkbox:checked ~ .popup__menu {
  display: block;
}
.popup__checkbox:checked ~ .popup__icon {
  stroke: var(--primary-text-color);
  border: 1px solid #868e96;
}
.popup__checkbox:focus + .popup__icon {
  background-color: #f1f3f5;
}
