* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 80px;
}

.navigation__list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 20px;
    align-items: start;
    justify-items: start;

}

.navigation__item  {
    list-style-type: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px; 
    justify-items: center;
}

.navigation__item:hover {
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(40, 9, 9, 0.15);
    background-color:rgba(0, 0, 0, 0.1)
}

.navigation__item:focus {
    padding: 4px;
    border: 2px solid rgb(19, 18, 18);
} 

.navigation__image {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navigation__item-modal {
    position: relative;
}

.navigation__check_input{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.navigation__check_input:focus ~label {
    outline-style: solid;
    border-radius:5px;
    outline-width: 0.15rem;
}

.modal {
    display: none; 
    position: absolute;
    top: 67px;
    right: -150px;
    z-index: 3;
    overflow: auto;
    width: 360px;
    height: 530px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.modal::-webkit-scrollbar {
    width: 10px;
    height: 0;
}
.modal::-webkit-scrollbar-thumb {
    background: rgb(233, 197, 18);
    border-radius:5px;
}


.modal__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    list-style: none;
    gap: 30px 30px;
    align-items: center;
    justify-items: center;
}

.modal__item {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal__item:hover {
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(40, 9, 9, 0.15);
    background-color:rgba(0, 0, 0, 0.1)
}

.modal__item:focus {
    padding: 4px;
    border: 2px solid rgb(19, 18, 18);
} 

.modal__link {
    text-decoration: none;
}

.modal__image {
    width: 40px;
    height: auto;
    display: block;
}

.modal__descr {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.modal__item2 {
    display: none;
}

#modal:checked ~ .modal {
    display:block;
}

.modal__button {
    position: absolute;
    display: block;
    width: 200px;
    padding: 10px;
    height: 30px;
    color: #121111;
    background-color:rgb(99, 108, 108);
    border-radius:10px;
    text-align: center;
    cursor: pointer;
    bottom: 0;
    left: 80px;
}

.modal__button::before {
    content: 'Bottom';
    color:white;
}

.modal__button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background-color:rgb(61, 76, 76);
}

#modal2:checked~.modal__list>.modal__item2 {
    display:flex;
  } 

  #modal2:checked ~ .modal__button{
    bottom: -400px;
}

 #modal2:checked ~ .modal__button::before {
    content: 'Up';
}
