* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.header {
    display: flex;
    flex-direction: row;
}

.nav {
    padding: 5px 10px;
    background-color: #efefef;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

.button {
    flex-basis: 80px;
    font-size: 15px;
}

.button a:link,
.button a:visited {
    padding: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.button a:hover {
    background-color: #ccc;
}

.button a:active {
    background-color: #ababab;
}

.button a:focus {
    background-color: rgb(165, 195, 230);
}

.popup {
    flex-basis: 38px;

}

.popup_box {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 38px;
    width: 38px;
    background: url(https://raw.githubusercontent.com/kottans/frontend/2022_UA/img/popup-button.png) no-repeat center;
    border-radius: 5px;
}

.popup_box:hover {
    background-color: #ccc;
    cursor: pointer;
}

.popup_box:active {
    background-color: #ababab;
}

.popup_box:checked {
    background-color: #ababab;
}

.popup_box:focus {
    background-color: rgb(165, 195, 230);
}

.popup_box:checked~.popup_block {
    visibility: visible;
}

.popup_block {
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    position: absolute;
    right: 50px;
    top: 50px;
    background: #efefef;
    border: 1px solid #e7e3e3;
    border-radius: 0px 0px 12px 12px;
    border-top: none;
}

.popup_block ul {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 11px;
    justify-content: space-between;
}

.popup_item {
    list-style: none;
}

.popup_link:link,
.popup_link:visited {
    color: #222121;
    margin: 5px;
    padding: 5px;
    height: 100%;
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #efefef;
}

.popup_link:hover {
    background-color: rgb(225, 222, 222);
    color: #3b3b3b;
    border: 1px;
    border: 1px solid #efefef
}

.popup_link:active {
    border: 1px dotted rgb(6, 11, 104);
    color: rgb(0, 0, 0);
}

.popup_link:focus {
    border: 1px dotted rgb(13, 82, 129);
    background-color: rgb(165, 195, 230);
}

.popup_item img {
    width: 60px;
    position: relative;
}

.items_hidden {
    visibility: hidden;
    display: none;
    position: fixed;
}

.more_items_checkbox:checked~.items_hidden {
    visibility: visible;
    position: static;

}

.more_items_checkbox:checked~.more_items_id {
    border: 1px solid rgb(225, 222, 222);
    border-radius: 0px;
    background-color: rgb(225, 222, 222);
    padding-bottom: 10px;
}

.more_items_id:hover {
    color: rgb(48, 82, 160);
    background-color: rgb(165, 195, 230);
}


.more_items_checkbox:focus+.more_items_id,
.more_items_checkbox:checked:focus+.more_items_id {
    color: rgb(48, 82, 160);
    background-color: rgb(165, 195, 230);
}

.more_items_checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.more_items_id {
    margin-top: -15px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 6px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: #ababab;
    border: 1px solid #e7e3e3;
    border-radius: 0px 0px 12px 12px;
}

.avatar {
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.avatar a {
    display: flex;
}

.popup_link:link,
.popup_link:visited {
    color: rgb(37, 37, 37)
}

.avatar:hover {
    background-color: #ccc;

}

.avatar:active {
    background-color: #ababab;
}

.avatar:focus {
    background-color: rgb(165, 195, 230);
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: auto;
}

.footer {
    border-top: 1px solid #ccc;
    background-color: rgb(212, 212, 212);
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
    color: rgb(71, 63, 63);
}
