:root {
    --default-font: 'Roboto Slab';
    --default-font-size: 14px;
    --friends-red: #E91E23;
    --friends-blue: #02B2E7;
    --friends-yellow: #FABC16;
    --hover-focus: #E91E23;
    --default-shadow: 4px 4px 8px 0px #02B2E7;
}
