@media (max-width: 1920px) {
    .main {
        .main__cards {
            padding: 40px;
            grid-template-rows: repeat(4, 1fr);
            width: 760px;
            height: 90%;
        }
    }
}

@media (max-width: 1500px) and (max-height: 900px){
    .main {
        .main__cards {
            padding: 30px;
            grid-template-rows: repeat(4, 1fr);
            height: 90%;
            gap: 30px;
            width: 600px;
        }
    }
    .timer {
        padding: 5px;
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .main {
        position: static;
        height: 100vh;
        padding: 30px;
        .main__cards {
            padding: 20px;
            width: 100%;
            height: 90%;
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 1fr;
        }
        .main__card:hover {
            filter: drop-shadow(0px 0px 10px rgb(20, 0, 0));
            transform: scale(1.00);
        }
        .winMessage {
            .winMessage__title {
                padding-left: 0px;
                font-size: 32px;
            }
            .winMessage__image {
                width: 80%;
            }
        }
        .click-to-continue:hover {
            background-color: rgb(228, 58, 58);
            color: white;
        }
    }
}

@media (max-width: 650px) {
    .main {
        .main__cards {
            height: 80%;
        }
    }
    .timer {
        font-size: 18px;
        &-current,
        &-best {
            padding-left: 20px;
            width: 260px;
        }
    }
}

@media (max-width: 600px) {
    .main {
        .main__cards {
            height: 70%;
        }
    }
}

@media (max-width: 450px) {
    .main {
        .main__cards {
            height: 60%;
        }
        .main__card-back {
            border-radius: 10px;
        }
        .main__card-front {
            border-radius: 10px;
        }
    }
    .timer {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .main {
        padding: 5px;
        align-items: flex-start;
        .main__cards {
            border-radius: 10px;
            height: 80vh;
            width: 30%;
            gap: 10px;
            padding: 10px;
        }
        .main__card-back {
            border-radius: 10px;
        }
        .main__card-front {
            border-radius: 10px;
        }
        .winMessage {
            .winMessage__title {
                padding-left: 30px;
                font-size: 70px;
            }
            .winMessage__image {
                width: 60%;
            }
        }
        .click-to-continue {
            bottom: 10%;
            &:hover {
                background-color: rgb(228, 58, 58);
                color: white;
            }
        }
    }
    .timer {
        flex-direction: column;
        font-size: 20px;
    }
}
@media (max-width: 680px) and (orientation: landscape) {
    .main {
        .main__cards {
            width: 30%;
            gap: 10px;
            padding: 15px;
        }
        .main__card-back {
            border-radius: 10px;
        }
        .main__card-front {
            border-radius: 10px;
        }
        .winMessage {
            .winMessage__title {
                padding-left: 30px;
                font-size: 70px;
            }
            .winMessage__image {
                width: 60%;
            }
        }
        .click-to-continue {
            bottom: 10%;
            &:hover {
                background-color: rgb(228, 58, 58);
                color: white;
            }
        }
    }
    .timer {
        flex-direction: column;
        font-size: 16px;
    }
}
