@import url('//fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

:root{
    --main-bg-color: #e3e2df;
    --main-text-color: #352b25;
    --game-theme-color: #5d001e;
    --card-border-bg-color: #949391;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.header{
    margin: 2rem 0;
    text-align: center;
}

.game-title{
    font-size: 2.4rem;
    font-weight: 700;
}

.game-theme{
    color: var(--game-theme-color);
}

.game-description{
    padding: 0.8rem;
    font-size: 1.2rem;
}

.game-container{
    display: flex;
}

.cards-section{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    perspective: 1000px;
}

.card-container{
    position: relative;
    width: 10rem;
    height: 10rem;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s, visibility 0.5s;
    -webkit-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;         
}

.card-container:hover{
    transform: scale(0.98);
}

.card-container.flipped{
    transform: rotateY(180deg);
}

.card-container.matched{
    visibility: hidden;
}

.back-card, .front-card{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 2px solid var(--card-border-bg-color);
    border-radius: 10px;
    position: absolute;
    -webkit-backface-visibility: hidden; 
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-card{
    padding: 0.3rem;
    background-color: var(--card-border-bg-color);
    transform: rotateY(180deg);
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-window{
    padding: 1rem;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 85%;
    max-width: 600px;
    text-align: center;
}

.restart-title{
    font-size: 1.5rem;
}

.restart-description{
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}

.restart-btn{
    padding: 10px 25px;
    background-color: var(--game-theme-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 950px){
    .card-container{
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width: 650px){
    html{
        font-size: 13px;
    }

    .header{
        margin: 0.5rem;
    }

    .cards-section{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 370px){
    html{
        font-size: 10px;
    }
}

@media (max-width: 280px){
    html{
        font-size: 8px;
    }
}
