body {
  /* Запретить ширину меньше 320px */
  min-inline-size: 320px;

  font-family: sans-serif;
  
  /* По умолчанию прокрутка у всех страниц */
  overflow-y: scroll;
}

.srOnly {
  position: absolute;

  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
