:root {
	--primary-color: #70a1ff;
	--primary-color-dark: #1e90ff;
	--white-color: #fff;
	--black-color: #333;
	--gray-color: #747d8c;;

	--container-width: 1400px;
	--main-font-stack: Arial, Helvetica, sans-serif;
	--main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--rounded: 5px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--primary-color);
	font-family: var(--main-font-stack);
	padding: 0 1rem;
}

.header {
	max-width: var(--container-width);
	margin: 1rem auto;
	background-color: var(--white-color);
	text-align: center;
	border-radius: var(--rounded);
	box-shadow: var(--main-shadow);
}

.header__title {
	padding: 1rem;
	display: inline-block;
	font-size: 2rem;
	text-decoration: none;
	color: #333;
}

.main__container {
	max-width: var(--container-width);
	margin: 0 auto;
}

.filter-options {
	padding: 1rem;
	height: fit-content;
	width: 100%;
	background-color: var(--white-color);
	margin-bottom: 1rem;
	border-radius: var(--rounded);
	box-shadow: var(--main-shadow);
}

.filter-options__group {
	margin-bottom: 1rem;
}

.filter-options__group-title {
	width: 100%;
	margin-bottom: 0.5rem;
	display: inline-block;
}

.filter-options__name-search-control {
	width: 100%;
	padding: 0.5rem;
	border-radius: var(--rounded);
	border: 1px solid var(--primary-color);
	outline: none;
}

.filter-options__button {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--primary-color);
	color: var(--white-color);
	border: 0;
	border-radius: var(--rounded);
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}

.filter-options__button:hover {
	background-color: var(--primary-color-dark);
}

.user-list {
	list-style: none;
	margin-bottom: 1rem;
}

.user-list__item {
	margin-bottom: 1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	background-color: var(--white-color);
	border-radius: var(--rounded);
	box-shadow: var(--main-shadow);
	word-break: break-all
}

.user-list__item-image {
	margin-right: 1rem;
	width: 100px;
	height: auto;
	border-radius: 50%;
}

.user-list__item-details {
	word-wrap: break-word;
	color: var(--black-color);
}

.user-list__item-title {
	margin-bottom: 0.75rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.user-list__item-email {
	margin-bottom: 0.5rem;
	display: block;
	text-decoration: none;
	color: var(--gray-color);
}

.user-list__item-tel {
	display: block;
	text-decoration: none;
	color: var(--gray-color);
}

@media (min-width: 481px) {
	.main__filter-options {
		flex: 1;
		flex-shrink: 2;
	}

	.gender-selection {
		flex-direction: row;
		justify-content: space-between;
	}

	.main__user-list {
		flex: 3;
		display: flex;
		gap: 1rem;
		align-self: flex-start;
		flex-wrap: wrap;
	}

	.user-list__item {
		flex: 0 1 calc(50% - 0.5rem);
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.user-list__item-image {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

@media (min-width: 769px) {
	.main__container {
		display: flex;
		gap: 1rem;
	}
}

@media (min-width: 1201px) {
	.user-list__item {
		flex-basis: calc(25% - 0.75rem);
	}
}
