* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .game {
    zoom: 50%;
  }

  .card__face--front {
    background: crimson;
    background-image: url(img/card-back.svg);
    background-size: 640px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left+50% top+170px;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.conteiner {
  min-height: 100vh;
}

.conteiner-leaf-fall {
  background-image: url(img/snowflake3.png), url(img/snowflake2.png);
  animation: snow 8s linear infinite;
  background-color: #0084ff3f;

}

.leaf-fall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-image: url(img/snowflake3.png), url(img/snowflake.png);
  animation: snow 15s linear infinite;

}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #e78753;
  text-shadow:
    2px 0 2px #000,
    0 2px 2px #000,
    -2px 0 2px #000,
    0 -2px 2px #000;
}

.game {
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.scene {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 2px solid #000000;
  margin: 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 600ms;
}

.card.is-flipped {
  transform: translateX(100%) rotateY(180deg);
  pointer-events: none;
}

.card.found-pair {
  transform: translateX(100%) rotateY(180deg);
  pointer-events: none;
}

.card.found-pair .card__img {
  filter: brightness(1.3);
  transition-duration: .5s;
  transition-delay: .5s;
}

.card__face {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.card__img {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 501px) {
  .card__face--front {
    background: crimson;
    background-image: url(img/card-back.svg);
    background-size: 640px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left+50% top+100px;
  }
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}
