.header {
    background-color: $color-bg;
    &__logo-img {
        width: 50px;
        height: 50px;
        background-color: $color-bg;
        border-radius: 50%;
        transition: 0.5s all;
    }
    &__navigation {
        position: relative;
    }
    &__list {
        display: flex;
        align-items: center;
        column-gap: 40px;
        font-size: $fz-nav;
        list-style-type: none;
    }
    
    &__links {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-link;
        height: 100%;
        font-family: $ff-nav;
        font-weight: 400;
        transition: 0.3s color;
        &:hover {
            color: $color-hover;
            transition: 0.3s color;
        }
    }
    &__bell-icon{
        width: 30px;
        height: 35px;
    }
    &__user-avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }


    &__popup-label {
        display: block;
    }
    &__popup-btn-img {
        display: block;
        width: 35px;
        height: 35px;
        background: url('../images/popup-button-2.png') no-repeat center;
        cursor: pointer;
        &:after {
            visibility: hidden;
            content: '';
            background: url('../images/up.svg') no-repeat center;
            display: block;
            background-color: white;
            width: 13px;
            height: 11px;
            position: absolute;
            left: 50%;
            transform: translateX(50%);
            top: 111%;
        }
    }

    &__popup-input {
        appearance: none;
        display: block;
        &:checked + .header__popup-btn-img {
            border: 1px solid $color-hover;
            border-radius: 8px;
        }
        &:checked + .header__popup-btn-img:after {
            visibility: visible;
            transition-delay: 0.3s;
        }
        &:checked ~ .header__popup-submenu  {
            visibility: visible;
            transform: translateY(21px);
            transition: 0.3s visibility;
            transition: 0.3s transform;
        }
        &:focus + .header__popup-btn-img {
            outline: 1px solid white;
            border-radius: 5px;
        }
    }

    &__popup-submenu{
        position: absolute;
        right: 50px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        align-items: center;
        justify-items: center;
        gap: 30px;
        padding-top: 30px;
        height: 500px;
        width: 105%;
        z-index: -1;
        list-style-type: none;
        border: 1px solid #1C1B1E;
        border-radius: 5px;
        box-shadow: 1px 2px 3px grey;
        transform: translateY(-600px);
        visibility: hidden;
        transition: 0.3s all;
    }
    &__popup-item {
        width: 100%;
        &:nth-child(3n+1) {
            margin-left: 30px;
        }
        &:nth-child(3n+3) {
            margin-right: 30px;
        }
    }
    &__popup-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        font-size: 16px;
        font-family: $ff-nav;
        text-decoration: none;
        border: 1px solid transparent;
        color: $color-link;
        &:hover {
            padding: 5px 0;
            filter: drop-shadow(0px 1px 2px grey);
            border: 1px solid lightgrey;
            border-radius: 5px;
            transform: translateY(1px);
            transition: 0.3s all;
        }
        &:focus {
            outline: solid lightgrey;
            border-radius: 5px; 
        }
        &:active {
            outline: solid lightskyblue;
            border-radius: 5px; 
        }
    }
    &__popup-img{
        display: block;
        width: 50px;
        height: 40px;
        object-fit: cover;
    }


    &__popup-more {
        align-self: end;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 40px;
        width: 100%;
        background-color: lightgrey;
    }

    &__popup-input-more {
        appearance: none;
        display: block;
        &:checked ~ .header__more-content  {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            align-items: center;
            justify-items: center;
            gap: 30px;
            padding: 40px 0;
        }   
        &:focus + .header__popup-btn-text  {
            background-color: lightblue;
        }
    }

    &__popup-btn-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: $ff-nav;
        color: $color-link;
        cursor: pointer;
        transition: 0.3s color;
        text-decoration: none;
        &:hover {
            color: black;
            transition: 0.3s color;
        }
    }

    &__more-content {
        list-style-type: none;
        display: none;
    }
}
