@import "variables", "reset";

html {
   font-size: $main-font-style;
}

body {
   color: $font-color;
   font-family: $main-font-family;
   line-height: $main-line-height;
   background-color: $background-color;
}

.page {
   min-height: 100%;
   min-width: 200px;
   display: grid;
   grid-template: minmax(50px, auto) 1fr minmax(50px, auto) / 1fr;
   grid-template-areas:
      "header"
      "main"
      "footer";

   &__header {
      grid-area: header;
      display: grid;
      grid-template: 1fr / 1fr minmax(40px, auto) minmax(150px, 720px) minmax(40px, auto) 1fr;
      justify-content: center;
      align-items: center;
      padding: $main-padding;
   }

   &__burger {
      grid-column: 2 / 3;
      align-self: center;
      justify-self: center;
   }

   &__logo {
      // grid-column: 4 / 5;
      font-family: $header-font-family;
      display: block;
      font-size: $logo-font-style;
      list-style: $logo-line-height;
      color: currentColor;
      align-self: center;
      justify-self: center;
   }

   &__aside {
      position: fixed;
      background-color: $backgrount-transparent-color;
      top: 60px;
      left: -100%;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      padding: $main-padding;
      transition: all 0.4s ease-in;
      z-index: 1;
      overflow: auto;
   }

   &__main {
      grid-area: main;
      display: grid;
      grid-template: 1fr / 1fr minmax(150px, 800px) 1fr;
      padding: $main-padding;
   }

   &__footer {
      grid-area: footer;
      display: grid;
      grid-template: 1fr / 1fr minmax(100px, 800px) 1fr;
      padding: $main-padding;
   }
   &__copyright {
      grid-column: 2/3;
   }
}

.burger {
   &__checkbox:checked ~ &__button {
      span {
         &:nth-child(1) {
            top: 11px;
            transform: rotate(135deg);
         }

         &:nth-child(2) {
            opacity: 0;
            left: -60px;
         }

         &:nth-child(3) {
            top: 11px;
            transform: rotate(-131deg);
         }
      }
   }
   &__checkbox ~ &__button {
      box-shadow: none;
      @include devices(tablet) {
         display: none;
      }
   }

   &__checkbox:focus ~ &__button,
   &__checkbox:active ~ &__button,
   &__checkbox:hover ~ &__button {
      box-shadow: 0 0 5px $shadow-color;
      border-radius: 50px;
   }
   &__checkbox ~ .page__aside {
      left: -100%;
      @include devices(tablet) {
         position: absolute;
         left: 0;
         width: 200px;
      }
   }

   &__checkbox:checked ~ .page__aside {
      left: 0;
   }

   &__button {
      width: 25px;
      height: 25px;
      display: block;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
         &:nth-child(1) {
            top: 5px;
         }
         &:nth-child(2) {
            top: 11px;
         }
         &:nth-child(3) {
            top: 17px;
         }
      }
   }

   &__line {
      display: block;
      position: absolute;
      height: 2px;
      width: 60%;
      background: currentColor;
      border-radius: 2px;
      opacity: 1;
      left: 20%;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
   }

   @include devices(tablet) {
      position: relative;
   }
}

.sidenav {
   &__title {
      font-family: $header-font-family;
      font-size: $subtitle-font-style;
      line-height: $subtitle-line-height;
   }
   &__item {
      color: currentColor;
   }
}

.content {
   &__seciton {
      grid-column: 2/3;
      display: grid;
      grid-template: 80px repeat(4, auto) / repeat(3, 1fr);
      gap: $main-padding;
   }

   &__title {
      grid-column: 1/4;
      grid-row: 1/2;
      align-self: center;
      justify-self: right;
      font-family: $header-font-family;
      font-size: $title-font-style;
      line-height: $title-line-height;

      @include devices(mobile) {
         grid-column: 2/4;
         font-size: $title-font-style--mobile;
      }
   }

   &__text {
      grid-column: 1/4;
      grid-row: 6;
      background-color: $backgrount-transparent-color;
      align-self: center;
      justify-self: center;
      padding: $main-padding;
      @include devices(mobile) {
         grid-column: 1/3;
         grid-row: 3/5;
      }
   }
   &__picture {
      grid-column: 2/4;
      grid-row: 2/5;
      width: 100%;
      height: auto;
      @include devices(mobile) {
         grid-column: 2/4;
         grid-row: 2/6;
      }
   }
}

.copyright {
   align-self: center;
   justify-self: center;
   a {
      color: currentColor;
   }
}
