
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

li {
    list-style: none;
    padding: 0;
}

.section {
    padding: 50px 0;
}
