body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*--------HEADER----------------*/
.header-title {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #353636;
    text-align: center;
    color: white;
    height: auto;
    font-size: 4vw;
}

.svg-icon {
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
}

.spanish-flag {
    transform: rotate(45deg);
}

/*------SIDE NAVIGATION MENU------ */


.menu {
    background-color: #353636;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-text {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    display: block;
    padding: 1rem;
}

.selectedRegion {
    background-color: #F5F5F6;
    color: black;
    border-style: none none none solid;
    border-color: #ED1F34;
}

/*------MAIN CONTENT---------*/
.bigContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    display: flex;
    margin: 1%;
    margin-top: 5%;
    
}
.main {
    display: none;
}

.active {
    display: block;
}

.main {
    background-color: #F5F5F6;
    width: 100%;
}

.main-title {
    font-size: 5vw;
    text-align: center;

}

.main-text {
    text-align: center;
    font-size: 2vw;
    margin: 5%;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



/*----foooter-------*/
.my-footter {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}

/*----FOR SMALLER SCREENS-------*/

@media only screen and (max-width: 600px) {
    .header-title {
        margin: 0;
        font-size: 10vw;
    }

    .container {
        flex-direction: column;
        text-align: center;
        margin: 0;
        margin-top: 5%;
        padding: 0;

    }

    .menu-text {
        font-size: 4vw;
    }

    .main-text {
        font-size: 4vw;
    }

    .selectedRegion {
        border-style: none none solid none;
    }

    div>img {
        height: auto;
        width: 100%;
    }
}
