@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
	box-sizing: border-box;
	margin: 0;

}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Figtree', sans-serif;
}

ul {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.visually-hidden {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.logo {
	flex-shrink: 0;
	cursor: pointer;
}

.header {
	margin-top: 20px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
}

.nav {
	/*flex: auto;*/
}

.nav-list {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 0 1 500px;
	gap: 1.5rem;
}

.nav-item {
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 2px solid transparent;
	transition: all ease-in-out .3s;
}

.nav-item:not(.popup-btn):hover {
	border: 2px solid black;
}

/*.nav-item.popup-btn {
	border: 2px solid black;
}*/

.nav-link {
	font-size: 18px;
	text-transform: capitalize;
}

.blog {}

.store {}

.popup-btn {}

.popup {}

.user {}

.user-img {
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 50%;
}

.popup-label {
	cursor: pointer;
	display: flex;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	align-items: center;
	transition: border ease-in-out .3s;
}

.popup-list {
	padding: 5px;
	height: 340px;
	width: 330px;
	max-height: calc(-65px + 100vh);
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	top: 3rem;
	right: 0;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 95px);
	grid-auto-rows: 1fr;
	justify-content: center;
	column-gap: 5px;
	row-gap: 5px;
	box-shadow: rgba(55, 52, 52, 0.5) 0 0 20px;
	transition: all ease-in .3s;
	padding-right: 0;
	/* experemental feature >| */
	scrollbar-gutter: stable;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.popup-item {
	transition: box-shadow ease-in-out 0.2s;
	height: 90px;
	width: 100%;
	position: relative;
}

.popup-item:hover,
.popup-item:focus-within {
	transition: all ease-in-out 0.2s;
	transform: scale(1.02);
	z-index: 100;
}

.popup-item:hover .popup-link,
.popup-item:focus-within .popup-link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 13px;
	background-color: #fff;
	transform: scale(1.02);
}

.popup-icon {
	background-image: url('./assets/popup-button.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 30px;
	display: block;
	border-radius: 50%;
}

.popup-checkbox {
	transition: all ease-in .3s;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	font-size: 0;
	clip: rect(0 0 0);
	overflow: hidden;
}

.popup-checkbox:focus+.popup-label,
.popup-checkbox:hover+.popup-label,
.popup-checkbox:checked+.popup-label {
	border: 2px solid black;
}

.popup-checkbox:checked~.popup-list {
	opacity: 1;
	z-index: 1;
	pointer-events: all;
	appearance: auto;
	-webkit-appearance: auto;
	-moz-appearance: auto;
	visibility: visible;
}

.popup-link {
	padding: 8px 0;
	display: grid;
	/*grid-auto-flow: row;*/
	grid-template: 50px auto / 90px;
	overflow: hidden;
	text-align: center;
	transition: all .3s;
	outline: none;
	width: 100%;
	border-radius: 15px;
	/*height: 100%;*/

}

.popup-link>.popup-img {
	border: 1px solid transparent;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	/*display: block;*/
}

.popup-link>.popup-item-text {
	padding: 0 5px;
	margin-top: 5px;
	font-size: 14px;
	line-height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: black;
	font-weight: 500;
}

.popup-item:hover .popup-item-text,
.popup-item:focus-within .popup-item-text {
	white-space: normal;
	text-overflow: clip;
	overflow-wrap: break-word;
}

.popup-img {
	object-fit: contain;
}

.more-list-container {
	position: relative;
	display: grid;
	grid-column: 1 / span 3;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.more {
	position: absolute;
	appearance: none;
	-webkit-appearance: auto;
	-moz-appearance: auto;
	opacity: 0;
}

.more-label {
	position: relative;
	margin: 0 auto;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 25px;
	border-radius: 20px;
	font-weight: 700;
	cursor: pointer;
	transition: all ease-out .3s;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(253, 29, 29, 1) 0%, rgba(131, 58, 180, 1) 30%, rgba(252, 176, 69, 1) 100%);
}

.more-list {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 95px);
	/*grid-auto-rows: 1fr;*/
	justify-content: center;
	column-gap: 5px;
	row-gap: 5px;
	/*padding-bottom: 40px;*/
	margin-top: 6px;
}

.more:checked {
	visibility: hidden;
}

.more:not(:checked)~ul.more-list {
	display: none;
}

.more:checked~.more-list:before {
	position: absolute;
	content: '';
	height: 3px;
	width: 80%;
	background-color: rgb(182, 182, 182);
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 25px;
	transition: all ease-in .3s;
}

/*.more:checked+.more-label {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}*/

.more:checked+.more-label {
	display: none;
}

.more-label::before {
	height: 100%;
	width: 100%;
	content: 'More';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	opacity: 0;
	transition: all ease-in .1s;
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

}

.more+.more-label:hover::before,
.more:focus+.more-label:before {
	opacity: 1;

}

.more:focus+.more-label,
.more:hover+.more-label {
	border: 1px solid black;
	box-shadow: rgb(173, 20, 110) 0px 5px 10px;
}