body {
    background-color: #ff0000;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    display: flex;
    padding: 50px;
}

.side_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.side_menu_content {
    display: flex;
    font-size: small;
    min-width: 180px;
    background-color: #ffae00;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    padding: 10px 30px 30px 30px;
}

.title_center {
    padding: 20px 0 10px 0;
    font-weight: 600;
    font-size: medium;
    color: rgb(11, 11, 11);
}

.filter_element {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    gap: 5px;
}

#search_bar {
    margin: 0;
    resize: none;
    outline: none;
    border: none;
    background-color: #e9eef8;
    width: 200px;
    border-radius: 20px;
    padding: 8px;
}

.num_input {
    margin: 0;
    resize: none;
    outline: none;
    border: none;
    background-color: #e9eef8;
    max-width: 30px;
    max-height: 20px;
    border-radius: 20px;
    padding: 8px;
}

.num_input::-webkit-outer-spin-button,
.num_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num_input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    color: #939393;
}

.gender {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.sort_button img {
    max-width: 30px;
}

#user_cards {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 15px;
    margin: 0;
}

.user_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ffae00;
    cursor: pointer;
    max-height:385px;
}

.user_name {
    color: azure;
    background-color: #ffae00;
    align-self: center;
    font-size: 20px;
    padding: 7px;
}

.user_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.user_photo {
    min-height: 120px;
    min-width: 120px;
}

.user_photo img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    justify-self: center;
}

.user_about {
    text-align: center;
    color: rgb(47, 46, 46);
    max-width: 180px;
}

.city, .country {
    margin: 0;
    font-weight: 800;
}

.age_block {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.age_inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.age {
    color: #ffae00;
    border: solid 1px #ffae00;
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom-style: none;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_standard {
    display: flex;
    font-weight: 700;
    align-items: center;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    gap: 5px;
    cursor: pointer;
}

.button_standard:hover {
    background-color: rgba(230, 244, 244, 0.815);
    transition: 0.3s;
}

.sort_button:hover {
    cursor: pointer;
}

.switch_style_button {
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    cursor: pointer;
    left: 240px;
    background-color: #ff0000;
    border: 1px solid black
}

.switched_colors {
    background-color: grey;
}
