* {
  padding: 0;
  margin: 0;
}

.popup__icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 40%;
  margin: 10px auto 10px;
}

.popup__icon__head {
  width: 30px;
  height: 30px;
  display: block;
}

.popup__list {
  list-style: none;
}

.head__link {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 0 15px;
  line-height: 30px;
  text-align: center;
}

.header__list,
.popup__item {
  display: inline-block;
}

.icon_text {
  margin: 5px auto;
  display: block;
  text-align: center;
}

.popup__item {
  width: 50%;
  height: 70px;
  border-radius: 5px;
  padding: 5px 0;
}

.popup__item:hover {
  cursor: pointer;
  background-color: #dedef5;
}

.popup__item:focus {
  background-color: #ddc0c0;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #000;
  position: relative;
}

.popup__checkbox,
.more__popup__checkbox {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.popup__checkbox:focus ~ .popup__checkbox__label {
  background-color: #e1f08f;
  border-radius: 4px;
}

.popup__checkbox__label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
  margin-left: 15px;
}

.more__popup__list {
  display: none;
}

.popup {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  width: 200px;
  height: 300px;
  overflow: auto;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 15px 5px;
}

.popup__checkbox:checked ~ .popup {
  display: block;
}

.popup__list,
.more__popup__checkbox:checked ~ .more__popup__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more__popup__checkbox:checked ~ .label__disable {
  display: none;
}

.head__link,
.more {
  width: 100%;
}

.more__popup__checkbox:focus ~ .more__popup__checkbox__label {
  border: 2px solid #0748a3;
  background-color: #94aed3;
}

.more__popup__checkbox__label {
  width: 60px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
