@import "null_style.scss";

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

#pageHeader {
    grid-area: header;
}

#pageNav {
    grid-area: nav;
}

#pageMain {
    grid-area: main;
}

#pageFooter {
    grid-area: footer;
}

.navigation {
    background-color: rgb(6, 61, 63);
    color: rgb(156, 250, 242);
    font-weight: 700;
}

.nav__div {
    display: block;
}

.nav__div-menu {
    cursor: pointer;
    line-height: 20px;
    padding: 25px 25px;
    border-width: 15px 10px 0px 10px;
    border-color: rgb(6, 61, 63);
    border-style: solid;
    background-color: rgb(22, 169, 174);
}

.nav__div-menu:hover {
    color: rgb(240, 209, 56);
    background-color: rgb(10, 110, 100);
}

.main {
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 221, 161);
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.footer,
.header {
    background-color: rgb(68, 202, 206);
    height: 50px;
    font-weight: 700;
    text-shadow: 3px 3px 10px rgb(7, 68, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(110, 251, 240);
}

.git:hover {
    color: rgb(26, 41, 215);
}

/** Оформлення таблиці */
table {    
    width: 100%;
}

.main__td-title {    
    width: 200px;
    background:  rgb(242, 212, 102);
    color: rgb(6, 61, 63);
    padding: 20px;

}

.main__td-text {    
    background:  rgb(225, 205, 134);
    padding: 20px;    
}

