* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header {
  background-color: #7d9d9c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 5rem;
}

.header .title {
  color: #576f72;
  padding: 5px 0 5px 0;
}

.body {
  background-color: #f0ebe3;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.all-cards .card-desc {
  text-align: center;
  font-size: 1.6rem;
}

.game-card {
  background-color: #f0ebe3;
  width: 11.8rem;
  height: 13.6rem;
  cursor: pointer;
}

.card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: 0 1px 3px #7d9d9c;
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
  padding-top: 0.5rem;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.game-card:hover .card-inner {
  box-shadow: 0 5px 15px #7d9d9c;
}

.card-img-front,
.card-img-back {
  width: 9.8rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.matched {
  opacity: 0.4;
}

.total {
  align-self: center;
  font-size: 2rem;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 57.5%;
  }

  .all-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 38%;
  }
}
