/* ========================================================================== */
/* КОНТЕЙНЕР ВРАЩАТЕЛЯ */
/* ========================================================================== */
.flipper {
  /* Если нужно задать размеры, делать это для "контейнера" */
  /* inline-size: 100px;
  block-size: 100px; */

  /* Установить перспективу, чтобы добавить "глубину" */
  /* Меньше значение — больше глубина */
  perspective: 1000px;
}



/* ========================================================================== */
/* ВРАЩАТЕЛЬ */
/* ========================================================================== */
.flipper__inner {
  /* Относительное позиционирование, на которое будут опираться "стороны вращателя" */
  position: relative;

  /* Для "вращателя" задать размеры = 100% от "контейнера" */
  inline-size: 100%;
  block-size: 100%;

  /* Стили "карточки" нужно задавать "вращателю" */
  /* border: 1px solid #000; */
  
  /* Дочерние элементы позиционировать в 3D-пространстве */
  transform-style: preserve-3d;

  /* Начальное положение вращателя (не обязательно, для наглядности) */
  transform: rotateY(0);

  /* Анимировать свойство "rotate" */
  transition: transform 0.3s;
}

/* При наведении на "контейнер", поворачивать "вращатель" */
.flipper__inner--flipped {
  /* Повернуть вращатель (по оси "Y") (на 180 градусов) */
  transform: rotateY(180deg);
}



/* ========================================================================== */
/* СТОРОНЫ ВРАЩАТЕЛЯ */
/* ========================================================================== */
.flipper__side {
  /* Абсолютное позиционирование, чтобы "стороны" заполняли "вращатель" */
  position: absolute;
  inset: 0;
  
  /* Не отображать противоположную сторону при повороте "вращателя" */
  backface-visibility: hidden;
}

/* Передняя сторона вращателя */
.flipper__side--front {
  /* Поднять "переднюю" сторону над "задней" */
  z-index: 2;
}

/* Задняя сторона вращателя */
.flipper__side--back {
  /* Отразить зеркально заднюю сторону, чтобы после разворота содержимое отображалось слева направо */
  transform: rotateY(180deg);
}
