* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	height: 100%;
	background: url("img/hand-painted-watercolor-pastel-sky-background.webp") 0 0 / cover no-repeat;
	font-family: "Dancing Script", cursive;
	overflow-x: hidden;
}

.wrapper {
	max-height: 100%;

	display: flex;
}

.header {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px rgb(255, 255, 255) inset;
	border-radius: 15px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 414px) {
	.header {
		height: 60px;
	}
}

.header__container {
	display: flex;
	justify-content: flex-end;
}
@media (max-width: 414px) {
	.header__container {
		display: flex;
		justify-content: center;
	}
}

.header__menu {
	margin-top: -5px;
}

.header__list {
	display: flex;
}

.header__item {
	margin: 20px 20px;
	display: flex;
	align-items: center;
	list-style: none;
}
@media (max-width: 726px) {
	.header__item {
		margin: 20px 10px;
	}
}
@media (max-width: 610px) {
	.header__item {
		margin: 20px 5px;
	}
}
@media (max-width: 414px) {
	.header__item {
		margin: 20px 2px;
	}
}

a {
	cursor: pointer;
}

.header__link {
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 20px;
	color: rgb(33, 0, 183);
	text-decoration: none;
	transition-duration: 1s;
}
@media (max-width: 550px) {
	.header__link {
		width: 70px;
		height: 40px;
		font-size: 16px;
	}
}
@media (max-width: 414px) {
	.header__link {
		width: 50px;
		height: 20px;
	}
}

.header__link_1 {
	margin-right: 20px;
	margin-top: -10px;
}

.header__link:hover {
	border-radius: 20px;
	background-color: rgb(136, 217, 255);
	text-decoration: underline;
}

.header__link:focus,
.header__link:focus-within {
	border: 1px solid orange;
}

.header__img {
	width: 35px;
	height: 35px;
	margin-top: -5px;
}
@media (max-width: 550px) {
	.header__img {
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 414px) {
	.header__img {
		width: 25px;
		height: 25px;
	}
}

.menu__input,
.menu__subinput {
	position: absolute;
	appearance: none;
}

.menu__input:checked ~ .menu__popup {
	display: block;
}

.menu__img {
	width: 48px;
	height: 48px;
	transition-duration: 1s;
}
@media (max-width: 550px) {
	.menu__img {
		width: 43px;
		height: 43px;
	}
}
@media (max-width: 414px) {
	.menu__img {
		width: 35px;
		height: 35px;
	}
}

.menu__img:hover {
	border-radius: 20px;
	background-color: rgb(136, 217, 255);
	cursor: pointer;
}

.menu__popup {
	width: 300px;
	height: 360px;
	border: solid 3px rgb(180, 218, 249);
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgb(185, 209, 249);
	display: none;
	position: absolute;
	top: 90px;
	right: 240px;
	overflow-x: hidden;
}
@media (max-width: 726px) {
	.menu__popup {
		right: 180px;
	}
}
@media (max-width: 610px) {
	.menu__popup {
		right: 150px;
	}
}
@media (max-width: 550px) {
	.menu__popup {
		width: 290px;
		height: 290px;
		right: 110px;
	}
}
@media (max-width: 414px) {
	.menu__popup {
		width: 260px;
		height: 280px;
		right: 80px;
	}
}
@media (max-width: 395px) {
	.menu__popup {
		right: 60px;
	}
}


.menu__list,
.menu__sublist {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	list-style: none;
}

.menu__item,
.menu__subitem {
	width: 90px;
	height: 100px;
}

.menu__item:focus,
.menu__subitem:focus,
.menu__item:focus-within,
.menu__subitem:focus-within {
	border: 1px solid orange;
	border-radius: 20px;
}

.menu__item:hover,
.menu__subitem:hover {
	border-radius: 20px;
	background-color: rgb(251, 244, 233);
}

.menu__link,
.menu__sublink {
	text-decoration: none;
}

.menu__image,
.menu__subimage {
	width: 80px;
	height: 60px;
	transition-duration: 0.5s;
}
@media (max-width: 550px) {
	.menu__image,
	.menu__subimage {
		width: 70px;
		height: 50px;
	}
}

h4 {
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}
@media (max-width: 550px) {
	h4 {
		font-size: 15px;
	}
}

.menu__btn {
	width: 280px;
	height: 30px;
	margin: 10px;
	border: 1px solid rgb(238, 138, 118);
	border-radius: 10px;
	box-shadow: 0px 6px 0px rgb(166, 213, 253), 0px 3px 0px rgb(255, 182, 244);
	background-color: rgb(255, 231, 197);
	display: block;
	text-align: center;
	transition-duration: 1s;
}
@media (max-width: 550px) {
	.menu__btn {
		width: 260px;
		height: 25px;
		box-shadow: 0px 3px 0px rgb(166, 213, 253), 0px 2px 0px rgb(255, 182, 244);
		font-size: 15px;
	}
}

.menu__btn:hover {
	top: 2px;
	background-color: rgb(251, 213, 159);
	box-shadow: 0px 3px 0px rgb(96, 178, 250), 0px 3px 0px rgb(247, 96, 224);
}

.menu__subpopup {
	display: none;
}

.menu__subinput:checked ~ .menu__subpopup {
	display: block;
}

.menu__subinput:checked ~ .menu__popup {
	overflow-y: scroll;
}

.menu__btn {
	display: block;
}
.menu__subinput:checked ~ .menu__sublabel {
	display: none;
}
