* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a, button, input {
  outline: none;
}

.wrapper {
  background-color: #030409;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
}

.header__logo {
  color: #030409;
  padding: 10px;
  border-radius: 100%;
  background-color: #BF3807;
  transition: all 0.5s;
}

.header__logo:focus, .header__logo:hover {
  box-shadow: 0px 0px 20px 20px rgba(191, 56, 7, 0.5);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  flex: 1 1 auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-weight: 700;
}

.form__btn {
  border: 2px solid #BF3807;
  border-radius: 5px;
  height: 30px;
  color: #BF3807;
  padding: 0 15px;
  transition: all 0.5s;
}

.form__btn:active {
  background-color: #BF3807;
  color: #030409;
}

.form__btn:focus, .form__btn:hover {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.filter-gender {
  display: flex;
  gap: 5px;
}

.filter-gender__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-gender__input:checked + .filter-gender__label {
  background-color: #BF3807;
  color: #030409;
}

.filter-gender__input:focus + .filter-gender__label, .filter-gender__input:hover + .filter-gender__label {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.filter-gender__label {
  border: 2px solid #BF3807;
  border-radius: 5px;
  height: 30px;
  color: #BF3807;
  padding: 0 15px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-age {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.filter-age__text {
  color: #BF3807;
}

.filter-age__input {
  width: 40px;
  height: 100%;
  border: 2px solid #BF3807;
  color: #BF3807;
  background-color: inherit;
  border-radius: 5px;
  padding: 0 4px;
  transition: all 0.5s;
}

.filter-age__input::-moz-placeholder {
  color: #BF3807;
}

.filter-age__input:-ms-input-placeholder {
  color: #BF3807;
}

.filter-age__input::placeholder {
  color: #BF3807;
}

.filter-age__input:focus, .filter-age__input:hover {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.sort {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sort__text {
  color: #BF3807;
}

.sort__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.sort__input:checked + .sort__label {
  background-color: #BF3807;
}

.sort__input:checked + .sort__label .sort__svg path {
  fill: #030409;
  transition: all 0.5s;
}

.sort__input:focus + .sort__label, .sort__input:hover + .sort__label {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.sort__label {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #BF3807;
  transition: all 0.5s;
  cursor: pointer;
}

.sort__svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search {
  position: relative;
  height: 30px;
  width: 210px;
}

.search__input {
  width: 100%;
  height: 100%;
  border: 2px solid #BF3807;
  color: #BF3807;
  background-color: inherit;
  border-radius: 5px;
  padding: 0 25px 0 10px;
  transition: all 0.5s;
}

.search__input::-moz-placeholder {
  color: #BF3807;
}

.search__input:-ms-input-placeholder {
  color: #BF3807;
}

.search__input::placeholder {
  color: #BF3807;
}

.search__input:focus, .search__input:hover {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.search__btn {
  position: absolute;
  top: 8px;
  right: 10px;
  display: block;
  background-color: inherit;
}

.search__btn:focus {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.list {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #BF3807;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 7px rgba(191, 56, 7, 0.5);
  font-weight: 500;
}

.card__img {
  border-radius: 100%;
}

.card__name {
  text-align: center;
}

.card__phone {
  color: #BF3807;
  position: relative;
}

.card__phone:focus:before, .card__phone:hover:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #BF3807;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer__messege {
  color: #BF3807;
  border-radius: 10px;
  padding: 0 5px;
  transition: all 0.5s;
}

.footer__messege:focus, .footer__messege:hover {
  box-shadow: 0px 0px 10px 10px rgba(191, 56, 7, 0.5);
}

.status-message {
  margin-top: 50px;
  display: block;
  color: #BF3807;
  text-align: center;
}

.status-message__title {
  font-size: 35px;
  line-height: 150%;
}

.status-message__descr {
  font-size: 25px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 940px;
  }

  .form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .search {
    width: 100%;
  }

  .card__img {
    width: 100px;
    height: 100px;
  }

  .status-message__title {
    font-size: 25px;
    line-height: 120%;
  }

  .status-message__descr {
    font-size: 20px;
    line-height: 150%;
  }
}
