* {
  box-sizing: border-box;
  list-style: none;
}

.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;    
}

.navigation {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;   
  background-color: blanchedalmond; 
  height: 5rem;      
}

.container {
  height: 40rem;     
}

.popup_icons {
  text-decoration: none;
  padding: 0.3rem;
  color: #6395ea;
}

.popup_img {
  display: block;
  width:3rem;
  height: 3rem;       
  padding: 0.3rem;     
  margin-left: auto;
  margin-right: auto;   
}

.popup_input, .popup_input_more {
  display: none;    
}

.block_popup {
  display: none;
  position: absolute;      
  top: 5rem;   
  width: 21rem;
  max-height: 40rem;  
  border: 2px solid white;  
  border-radius: 5px;
  overflow: hidden;    
}

.popup_list {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  gap: 0.6rem; 
  text-align: center; 
  color: rgb(33, 33, 172); 
  padding: 1rem;  
}

.popup_block_img {
  display: block;     
}    

.popup_input:checked ~ .block_popup {
  display: block;
  border-color:lightblue;
}

.block_popup_more {
  display: none;      
  top: 20rem;   
  width: 21rem;
  max-height: 20rem;    
  border-radius: 5px;
  overflow: hidden;      
}

.popup_input_more:checked ~ .block_popup_more {
  display: block;
}

.popup_more_name {
 text-align: center;
 background-color: bisque;
}

.popup_block_img:hover, .popup_icons:hover, .popup_more_name:hover {
border-radius: 10px;
background-color: #d9f2ff;
cursor: pointer;
}

.popup_icons:focus-within,
.popup_block_img:focus-within {
outline: 2px solid #6395ea;
border-radius: 5px;
}
