/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/*- - - - - - - - - - - - - - - - - - */
body,
html {
    height: 100%;

}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 10px;
}

.header__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    display: block;
    align-self: center;
}

.header__item {
    padding: 8px;
    font-size: 14px;
    display: block;
}

.header__item,
.popup__menu__label,
.popup__menu__more__label {
    cursor: pointer;
}

.header__item:hover,
.header__item:focus-within {

    text-decoration: underline;
}

.header__icon img.icon__img:hover,
.header__icon img.icon__img:focus-within {
    padding: 5px;
    background-color: #b0b0b0;
    border-radius: 50%;
}

.header__link {
    text-decoration: none;
    color: #445162;
}

.icon__img {
    width: 24px;
    height: 24px;
}

/*remove checkbox input*/
.popup__menu__input,
.popup__menu__more__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.popup__menu__input + .popup__menu__wrapper {
    display: none;
}

.popup__menu__input:checked + .popup__menu__wrapper {
    display: block;
}

.popup__menu__more__input ~ .popup__menu__more__wrapper {
    display: none;
}

.popup__menu__more__input:checked ~ .popup__menu__more__wrapper {
    display: block;
}

input[class='popup__menu__more__input'] + label div:after{content:'More';}
input[class='popup__menu__more__input']:checked + label div:after{content:'Less';}

.popup__menu__wrapper {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    position: absolute;
    width: 300px;
    right: 10px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;

    overflow: scroll;
    max-height: 490px;
}

.popup__menu, .popup__menu__more {
    padding: 15px;
    /*border: 1px solid red;*/

    display: grid;
    grid-template: auto/ 1fr 1fr 1fr;
    grid-gap: 10px;
}

.popup__menu__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    color: #445162;
}
.popup__menu__item a:hover,
.popup__menu__item a:focus-within {
    opacity: 0.6;
    transform: translateY(-5px);
    transition: all 0.2s ease-in;
    background-color: #eeeeee;

}

.popup__menu__image {
    width: 60px;
    height: 50px;
    object-fit: contain;

}

.more-button {
    background: #8ca3c4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.more-button:hover,
.more-button:focus-within {
    opacity: 0.8;
}

.main {
    flex: 1 1 auto;
    overflow: scroll;
}

.footer {
    background-color: #d7d2d2;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #445162;
    font-size: 15px;
    cursor: pointer;
}

.more_button_focus a:focus-within,
.header__item:focus-within,
li.popup__menu__item a:focus-within,
.popup__menu__more__input:focus-within + label > div
{
    outline: 2px solid #1d8bf5;
}
