@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mochiy Pop One", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #0b0e14;
  margin: 10px 0;
}

.header {
  display: flex;
  justify-content: end;
  position: relative;
  margin: 20px 30px;
  color: #fff;
}

.header p {
  font-size: 1.8rem;
}

main {
  display: flex;
}

.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 100px;
}

.buttons {
  border: none;
  background-color: transparent;
  color: deeppink;
  height: 100px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem sans-serif;
  cursor: pointer;
}

.buttons::before,
.buttons::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: deeppink;
  transition: all 250ms ease-in-out;
}

.buttons::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 deeppink;
}

.buttons::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px deeppink;
}

.buttons:hover {
  font-size: 2em;
  transition: all 250ms ease-in-out;
}

.buttons:hover::before {
  left: -10px;
  box-shadow: 318px 0 deeppink;
}

.buttons:hover::after {
  top: -10px;
  box-shadow: 0 118px deeppink;
}

.buttons:last-child {
  margin-bottom: 50px;
}

.container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section__title {
  font-size: 3rem;
  color: rgb(220, 191, 191);
  text-align: center;
}

.container__image-text {
  display: flex;
}

.section__img {
  width: 500px;
  height: 500px;
  margin: 50px;
  object-fit: contain;
}

.section__text {
  margin-top: 50px;
  font-size: 1.5rem;
  color: deeppink;
  font-style: italic;
  line-height: 1.9em;
  word-spacing: 3px;
  text-align: justify;
}

.section__info {
  font-size: 1.5rem;
  color: deeppink;
}

.section__song {
  margin-top: 85px;
  font-size: 1.5rem;
  color: deeppink;
  word-spacing: 6px;
  margin-bottom: 20px;
}

@media(max-width:2000px) {
  .sideBar {
    gap: 30px;
  }

  .section__text {
    font-size: 1rem;
    margin-top: 50px;
  }

  .buttons {
    height: 60px;
    width: 300px;
  }

  .buttons::before {
    width: 2px;
    height: 60px;
    box-shadow: 298px 0 deeppink;
  }

  .buttons::after {
    height: 2px;
    width: 300px;
    box-shadow: 0 58px deeppink;
  }

  .buttons:hover {
    font-size: 2em;
    transition: all 250ms ease-in-out;
  }

  .buttons:hover::before {
    left: -8px;
    box-shadow: 318px 0 deeppink;
  }

  .buttons:hover::after {
    top: -8px;
    box-shadow: 0 78px deeppink;
  }
}

@media(max-width:1700px) {
  .section__text {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .container__image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__img {
    margin: 10px;
    width: 250px;
    height: 250px;
  }

  .section__song {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .sideBar {
    gap: 18px;
  }
}

@media(max-width:1280px) {
  .sideBar {
    margin-left: 50px;
  }

  .section__text {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__img {
    margin: 10px;
    width: 300px;
    height: 300px;
  }

  .section__song {
    margin-top: 30px;
    font-size: 1.1rem;
  }
}

@media(max-width:913px) {
  .container {
    margin: 0 15px;
  }

  .sideBar {
    margin-left: 20px;
  }
}

@media(max-width:790px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .sideBar {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .container {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header {
    justify-content: center;
    margin: 10px;
  }

  .section__img {
    margin: 10px;
    width: 200px;
    height: 200px;
  }

  .section__text {
    font-size: 0.6rem;
    margin-top: 5px;
  }
}

@media(max-width:651px) {
  main {
    align-items: center;
  }

  .sideBar {
    grid-column-gap: 55px;
    grid-row-gap: 5px;
    margin-left: 0;
  }

  .buttons {
    height: 40px;
    width: 140px;
    font: 1rem sans-serif;
    margin-bottom: 10px;
  }

  .buttons::before {
    width: 2px;
    height: 40px;
    box-shadow: 138px 0 deeppink;
  }

  .buttons::after {
    height: 2px;
    width: 140px;
    box-shadow: 0 38px deeppink;
  }

  .buttons:hover {
    font-size: 1.15em;
  }

  .buttons:hover::before {
    left: -6px;
    box-shadow: 150px 0 deeppink;
  }

  .buttons:hover::after {
    top: -6px;
    box-shadow: 0 50px deeppink;
  }

  .buttons:last-child {
    margin-bottom: 5px;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__text {
    font-size: 0.9rem;
  }
}

@media(max-width:465px) {
  .header p {
    font-size: 1.1rem;
  }

  .section__title {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .section__text {
    margin-top: 0;
    font-size: 0.6rem;
  }

  .sideBar {
    grid-column-gap: 17px;
    grid-row-gap: 2px;
    margin-left: 0px;
  }

  .container {
    margin: 0 10px;
  }

  .section__song {
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .section__img {
    margin: 10px;
    width: 120px;
    height: 120px;
  }
}

@media(max-width:320px) {
  .sideBar {
    grid-column-gap: 9px;
    grid-row-gap: 2px;
    margin-left: 0px;
  }

  .buttons {
    height: 25px;
    width: 130px;
    font-size: 0.7rem;
  }

  .buttons::before {
    width: 2px;
    height: 25px;
    box-shadow: 128px 0 deeppink;
  }

  .buttons::after {
    height: 2px;
    width: 130px;
    box-shadow: 0 23px deeppink;
  }

  .buttons:hover {
    font-size: 0.9em;
  }

  .buttons:hover::before {
    left: -4px;
    box-shadow: 137px 0 deeppink;
  }

  .buttons:hover::after {
    top: -4px;
    box-shadow: 0 32px deeppink;
  }

  .section__song {
    font-size: 0.7rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .section__title {
    font-size: 0.9rem;
    margin-top: 0;
  }

  .section__text {
    font-size: 0.45rem;
  }
}
