.header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: $light-color;
    transition: 0.3s all;
    &-active {
        box-shadow: 5px 5px 20px $light-color;
        border-bottom: 1px solid transparent;
        transition: 0.3s all;
    }
    &__logo {
        width: 200px;
    }
    &__search-block {
        flex: 1 1 auto;
        position: relative;
        text-align: center;
    }
    &__search-input {
        position: relative;
        padding: 7px 40px 7px 7px;
        border-radius: 10px;
        border: 2px solid $second-accent-color;
        width: 44%;
        height: 35px;
        transition: 0.5s border;
        &:focus {
            outline-color: $first-accent-color;
            border: 2px solid $first-accent-color;
            transition: 0.5s border;
        }
        &:hover {
            outline: none;
            border: 2px solid $first-accent-color;
            transition: 0.5s border;
        }
    }
    &__search-submit {
        position: absolute;
        height: 90%;
        width: 40px;
        right: 28%;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        border-left: 1px solid $second-accent-color;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            .header__search-img {
                fill: $first-accent-color;
                transition: 0.3s fill;
            }
        }
    }
    &__search-img { 
        height: 100%;
        width: 22px;
        fill: $second-accent-color;
        transition: 0.3s fill;
    }
}
