.navigation-left {
    top: 130px;
    position: fixed;
    padding: 5px 35px 5px 0px;
    border-right: 1px solid lightgray;
    max-width: 350px;
    height: 86%;
    background-color: $light-color;
    z-index: 10;
    &__header {
        display: flex;
        gap: 10px;
    }
    &__closebtn {
        position: absolute;
        right: 12px;
        top: 12px;
        display: none;
        width: 25px;
        height: 25px;
        border: none;
        background: url('../img/x.svg') center center no-repeat;
        cursor: pointer;
    }
    &__title {
        font-size: 18px;
    }
    &__img-filter {
        stroke: $second-accent-color;
    }
    &__list {
        margin-top: 40px;
        list-style-type: none;
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        &:not(:first-child) {
            margin-top: 30px;
        }
        hr {
            border:none; 
            border-top:1px lightgray solid; height: 1px;
            width: 100%;
            margin-top: 10px;
        }
        &-age {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            row-gap: 30px;
        }
        .range-parametres {
            border-radius: 8px;
            border: 1px solid $second-accent-color;
            padding: 0 5px;
            width: 50px;
            height: 30px;
            background-color: white;
            text-align: center;
            transition: 0.3s all;
            &:focus {
                outline-color: $second-accent-color;
            }
        }
        &-min-max-wrapper {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-start;
            column-gap: 20px;
        }
        &-submit {
            cursor: pointer;
            &:hover {
                background-color: $second-accent-color;
                color: $light-color;
            }
        }
    }
    &__link {
        text-decoration: none;
    }
    &__btn {
        overflow: hidden;
        position: relative;
        border: none;
        background-color: transparent;
        color: $second-accent-color;
        font-size: 16px;
        font-weight: bold;
        transition: 0.3s all;
        padding: 5px 8px;
        cursor: pointer;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $first-accent-color;
            bottom: 0;
            left: -100%;
            transition: 0.3s all;
        }
        &:hover {
            color: $first-accent-color;
            transition: 0.3s all;
            &:after {
                left: 0;
                transition: 0.3s all;
            }
        }
        &-active {
            outline-color: $second-accent-color;
            color: $first-accent-color;
            transition: 0.3s all;
            &:after {
                left: 0;
                transition: 0.3s all;
            }
        }
    }
    &__bottom-btn {
        margin: 0 auto;
        height: 40px;
        min-width: 120px;
        padding: 5px 20px;
        color: #fafafa;
        background-color: $dark-color;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
            background-color: $first-accent-color;
            transition: 0.3s all;
        }
    }
}

.navigation-top {
    &__list {
        display: flex;
        list-style-type: none;
        align-items: center;
        &-adaptive-burger {
            display: none;
        }
    }
    &__item {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &__sort {
        padding: 5px;
        padding-right: 0;
    }
    &__select {
        padding: 5px;
        padding-right: 0;
        height: 100%;
        font-size: 14px;
        font-weight: 600;
        color: $second-accent-color;
        background-color: $light-color;
        border: none;
        margin-left: 5px;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s all;
        text-align: left;
        &:hover {
            color: $first-accent-color;
        }
        &:focus {
            outline-style: dotted;
            outline-color: $second-accent-color;
        }
    }
}
