.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease all;
    &_active {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease all;
      }
  }
  
  .preloader span {
    animation: preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .preloader span:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, $first-accent-color, $second-accent-color);
    margin: -4px 0 0 -4px;
  }
  .preloader span:nth-child(1) {
    animation-delay: -0.036s;
  }
  .preloader span:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .preloader span:nth-child(2) {
    animation-delay: -0.072s;
  }
  .preloader span:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .preloader span:nth-child(3) {
    animation-delay: -0.108s;
  }
  .preloader span:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .preloader span:nth-child(4) {
    animation-delay: -0.144s;
  }
  .preloader span:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .preloader span:nth-child(5) {
    animation-delay: -0.18s;
  }
  .preloader span:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .preloader span:nth-child(6) {
    animation-delay: -0.216s;
  }
  .preloader span:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .preloader span:nth-child(7) {
    animation-delay: -0.252s;
  }
  .preloader span:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .preloader span:nth-child(8) {
    animation-delay: -0.288s;
  }
  .preloader span:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  