.game_container {
  display: block;
  width: 700px;
  margin: 0 auto;
}

.memory_cards {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.memory_card {
  height: 150px;
  width: 150px;
  border: 1px solid rgb(218, 208, 208);
  border-radius: 6px;
  cursor: pointer;
  perspective: 1000px;
}

.memory_card .front-view {
  height: 150px;
  width: 150px;
}

.memory_card .back-view {
  height: 150px;
  width: 150px;
}

.memory_card .front-view > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.memory_card .back-view > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front-view,
.back-view {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front-view {
  z-index: 2;
  transform: rotateY(0deg);
}

.back-view {
  transform: rotateY(180deg);
}

.memory_card.flip .flipper {
  transform: rotateY(180deg);
}
.memory_card.fix {
  pointer-events: none;
  opacity: 30%;
  transition: 0.5s;
}
