@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Great+Vibes&family=Inter:wght@300;400;800&display=swap');

* {
	font-family: 'Aclonica', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
	background: url(../img/bgmain.jpg)  center (center / cover) no-repeat;
	height: 100vh;
	position: relative;
	margin: 0 auto;
}

.header {
	text-align: center;
	color: rgb(146, 62, 67);
	letter-spacing: .2rem;
	margin:0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 200px);
	gap: 10px;
	grid-template-rows: repeat(3, 275px);
	perspective: 1000px;
}

.hide-swap {
	border-radius: 5px;
	transition: 0.8s;
	transform-style: preserve-3d;
	position: relative;
	z-index: 99;
}

.active {
	transform: rotateY(180deg);
}

.c1 {
	z-index: 2;
	width: 200px;
	height: 275px;
	backface-visibility: hidden;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(0deg);	
	cursor: pointer;
	background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 15s infinite linear; 
    background-size: 400%; 
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.c2 {
	width: 200px;
	height: 275px;
	backface-visibility: hidden;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	cursor: pointer;
}

.visible {
	visibility: hidden;
}

.victory {
	width: 100%;
	height: 100%;
	background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 15s infinite linear; 
    background-size: 400%; 
	color:aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	position: absolute;
    top: 50px;


	&__title {
		font-size: 36px;
		margin-bottom: 20px;
		text-align: center;
	}

	&__descr {
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__btn {
		width: 300px;
		height: 60px;
		text-transform: uppercase;
		color:red;
		font-size: 30px;
		border-radius:5px;
		cursor: pointer;
	}
	
}

@media  (max-width: 768px) {
	.wrapper {
		width: 400px;
		grid-template-columns: repeat(4, 100px);
		grid-template-rows: repeat(3, 150px);

	}
	.c1, .c2  {
		width: 100px;
		height: 150px;
	}
}

@media  (max-width: 535px) {
	.wrapper {
		width: 300px;
		grid-template-columns: repeat(4, 75px);
		grid-template-rows: repeat(3, 115px);

	}
	.c1, .c2  {
		width: 75px;
		height: 115px;
	}
	.victory {
		top: 90px;
	}
}
