@keyframes nav-animation
  from
    transform: scale(1)
  50%
    transform: scale(1.2)
    filter: invert(54%) sepia(4%) saturate(14%) hue-rotate(1deg) brightness(93%) contrast(91%)
  to
    transform: scale(1)

@keyframes logo-animation
  from
    transform: scale(1)
  50%
    transform: scale(1.2)
  to
    transform: scale(1)

@keyframes one_time_180_rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(180deg)

@keyframes infinite_180_rotate
  from
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  to
    transform: rotate(0deg)

