:root {
    --default-font: 'Lemonada';
    --main-gray-color: #b1a6a6;
    --blue-color: #0000ff;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-color-btn: #0000008e;
    --hover-focus-color: #000000c4;
    --default-shadow: -0 -1px 1px #FFFFFF,
        0 -1px 1px #FFFFFF,
        -0 1px 1px #FFFFFF,
        0 1px 1px #FFFFFF,
        -1px -0 1px #FFFFFF,
        1px -0 1px #FFFFFF,
        -1px 0 1px #FFFFFF,
        1px 0 1px #FFFFFF,
        -1px -1px 1px #FFFFFF,
        1px -1px 1px #FFFFFF,
        -1px 1px 1px #FFFFFF,
        1px 1px 1px #FFFFFF,
        -1px -1px 1px #FFFFFF,
        1px -1px 1px #FFFFFF,
        -1px 1px 1px #FFFFFF,
        1px 1px 1px #FFFFFF;
    ;
}
