:root {
    --default-font: 'Lemonada';
    --black: #000000;
    --white: #ffffff;
    --background-color-btn: #0000008e;
    --hover-focus: #000000c4;
    --default-white-shadow: -0 -1px 1px #FFFFFF,
        0 -1px 1px #FFFFFF,
        -0 1px 1px #FFFFFF,
        0 1px 1px #FFFFFF,
        -1px -0 1px #FFFFFF,
        1px -0 1px #FFFFFF,
        -1px 0 1px #FFFFFF,
        1px 0 1px #FFFFFF,
        -1px -1px 1px #FFFFFF,
        1px -1px 1px #FFFFFF,
        -1px 1px 1px #FFFFFF,
        1px 1px 1px #FFFFFF,
        -1px -1px 1px #FFFFFF,
        1px -1px 1px #FFFFFF,
        -1px 1px 1px #FFFFFF,
        1px 1px 1px #FFFFFF;
    ;
    --default-black-shadow: -0 -1px 0 #000000,
        0 -1px 0 #000000,
        -0 1px 0 #000000,
        0 1px 0 #000000,
        -1px -0 0 #000000,
        1px -0 0 #000000,
        -1px 0 0 #000000,
        1px 0 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}
