*{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    line-height: 1.3;
    font-weight: 400;
    background: linear-gradient(#13ff7f, #0e7b3a);
}

button{
    cursor: pointer;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 560px) {
    .container{
        padding: 0 10px;
    }
}

.header{
    font-size: 18px;
    line-height: 50px;
}

.section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.menu{
    height: calc(100vh - 60px);
}

.menu li{
    width: 300px;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.menu li:hover{
    border: 1px solid #333;
    background-color: #13ff7f;
}

.menu li a{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 15px 10px;
    text-transform: uppercase;
}

.club{
    padding: 5px 20px;
    border-radius: 8px;
    background: white;
    margin-bottom: 20px;
}

.club_title{
    color: #10b04c;
    font-size: 30px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}

.club_about{
    display: flex;
    padding-bottom: 20px;
    gap: 15px;
}

.club_img img{
    width: 150px;
}

.club_description{
    font-size: 18px;
    font-weight: 300;
}

.icon-menu {
    display: none;
}

.icon-close {
    display: none;
}

.icon-menu {
    width: 40px;
}

.icon-menu img {
    width: 30px;
    height: 26px;
    margin-top: 2px;
}

.icon-close {
    width: 30px;
}

@media screen and (max-width: 991.98px) {
    .menu{
        width: 300px;
        margin: 50px auto;
    }

    .header{
        font-size: 15px;
        margin-left: 50px;
    }

    .club_about{
        flex-direction: column;
    }

    .club_img{
        order: 1;
        margin: 0 auto 15px;
    }

    .club_description{
        order: 2;
    }

    .icon-menu {
        display: flex;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        transition: left 0.5s ease-in-out;
        background-color: #0e7b3a;
    }

    .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 50px;
        justify-content: end;
    }
}

@media screen and (max-width: 767.98px) {
    .icon-menu {
        top: 10px;
    }
}



