@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  color: #684a4a;
  font-family: "Montserrat", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
.container {
  max-width: 80vw;
  margin: 1em auto;
}
.container__title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
.container__new-game {
  display: block;
  margin: 0 auto 1em;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: #684a4a50;
}
.game {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}
.game__card {
  cursor: pointer;
  transition: all 0.8s ease 0s;
  transform-style: preserve-3d;
  position: relative;
  width: 12vw;
  height: 12vw;
  margin-bottom: 1vw;
}
.game__card-back,
.game__card-front {
  height: 100%;
  width: 100%;
  border: 0.15rem solid #684a4a;
  border-radius: 0.3rem;
  position: absolute;
  backface-visibility: hidden;
}
.game__card-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.game__card-back {
  transform: rotateY(180deg);
}
@media (max-width: 800px) {
  .game__card {
    width: 19vw;
    height: 19vw;
  }
  .game {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 500px) {
  .container__title {
    font-size: 2em;
  }
  .container__new-game {
    font-size: 1em;
  }
  .container {
    max-width: 90vw;
  }
  .game {
    grid-template-columns: repeat(3, 1fr);
  }
  .game__card {
    width: 28vw;
    height: 28vw;
  }
}
