@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #684a4a;
  font-family: "Montserrat", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.container {
  max-width: 80vw;
  margin: 1em auto;
}
.container__title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
@media (max-width: 500px) {
  .container__title {
    font-size: 2em;
  }
}
.container__new-game {
  display: block;
  margin: 0 auto 1em;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: rgba(104, 74, 74, 0.3137254902);
}
@media (max-width: 500px) {
  .container__new-game {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 90vw;
  }
}

.game {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}
.game__card {
  cursor: pointer;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 12vw;
  height: 12vw;
  margin-bottom: 1vw;
}
@media (max-width: 800px) {
  .game__card {
    width: 19vw;
    height: 19vw;
  }
}
@media (max-width: 500px) {
  .game__card {
    width: 28vw;
    height: 28vw;
  }
}
.game__card-back, .game__card-front {
  height: 100%;
  width: 100%;
  border: 0.15rem solid #684a4a;
  border-radius: 0.3rem;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.game__card-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.game__card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
@media (max-width: 800px) {
  .game {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 500px) {
  .game {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

.modal {
  position: absolute;
  left: 25%;
  top: 200px;
  background-color: #fff;
  border: 0.15rem solid #684a4a;
  width: 50%;
  height: 150px;
  border-radius: 0.3em;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__text {
  margin: auto;
  font-weight: 900;
}
.modal__btn {
  margin: auto;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}