.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  height: 60px;
}

.navmenu-link {
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.pop-input-ins,
.pop-input {
  position: absolute;
  width: 0;
  height: 0;
}

.pop-input-ins:focus ~ .more-btn {
  background-color: rgba(0, 225, 255, 0.281);
}

.pop-input:focus ~ #nav-popup-btn-label {
  background-color: rgba(0, 225, 255, 0.281);
}

.nav-item a:hover {
  background-color: #111111;
  cursor: pointer;
}

.nav-item a:focus {
  background-color: rgba(0, 225, 255, 0.281);
  outline: none;
}

.nav-item label {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-item label:hover {
  background-color: #111111;
  cursor: pointer;
}

.nav-item label:focus {
  background-color: rgba(0, 225, 255, 0.281);
}

.nav-img {
  height: 30px;
}

.user {
  width: 30px;
  object-fit: cover;
  border-radius: 100%;
}

.popup-menu,
.popup-menu-more {
  list-style-type: none;
  list-style: none;
}

.popup-container,
.popup-menu-more {
  display: none;
}

#nav-popup-btn:checked ~ .popup-container {
  display: flex;
}

#popup-more-btn:checked ~ .popup-menu-more {
  display: flex;
}

.popup-line {
  width: 90%;
  display: none;
}

#popup-more-btn:checked ~ .more-btn {
  display: none;
}

#popup-more-btn:checked ~ .popup-line {
  display: flex;
}

.popup-container {
  max-width: 440px;
  max-height: 650px;
  right: 0;
  margin: 7px;
  background-color: rgb(51, 51, 51);
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  padding: 5px 5px 0 5px;
}

.popup-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
  justify-content: space-around;
}

.popup-menu-item {
  justify-content: center;
  display: flex;
  width: 30%;
  margin: 7px;
}

.submenu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  margin: 10px 0;
}

.submenu-link p {
  margin: 0;
}

.more-btn {
  width: 100%;
}

.popup-menu-more {
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
  justify-content: space-around;
}

.popup-img {
  display: block;
  height: 50px;
  margin-bottom: 7px;
}

