*,
::after,
::before {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 5px dashed rosybrown;
    padding: 20px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link:last-child img {
    border-radius: 50%;
}

.nav-link:focus,
.menu-item-link:focus,
.more-link:focus,
.check-input:focus ~ .check,
.more:focus ~ .more-label {
    outline: 3px solid rgb(255, 0, 247);
}


.nav-link {
    display: block;
    text-decoration: none;
    color: rgb(204, 82, 82);
}

.nav-link img {
    width: 24px;
    height: 24px;
}

.check-input,
.more {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.check-input:checked ~ .menu,
.more:checked ~ .more-menu {
    display: block;
}

.check {
    cursor: pointer;
    display: block;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    border: 2px dashed rgb(224, 162, 162);
    background-color:rgb(222, 215, 215);
    height: 450px;
    overflow-y: auto;
    width: 350px;
}

.menu-list,
.more-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.menu-item-link,
.more-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 5px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.menu-item-img {
    width: 60px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 20px;
}

.more:checked + .popup-more {
    display: none;
}

.more-menu {
    display: none;
    margin-top: 50px;
    border-top: 5px dashed rgba(233, 15, 15, 0.478);
    padding-top: 50px;
}

.more-label {
    display: block;
    cursor: pointer;
    font-weight: 700;
    background-color:blueviolet;
    text-align: center;
    padding: 20px 0;
}

.even-more {
    display: block;
    margin: 30px 0 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: rgb(168, 49, 158);
}
