.user {
  box-shadow: var(--shadow-main);
}

.user__name {
  padding: 20px 10px;
  
  color: #fff;
  font-size: 1.2em;
  text-align: center;

  background-color: #46B6AC;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.user__img {
  display: block;
  inline-size: 150px;
  block-size: 150px;
  
  object-fit: cover;

  border-radius: 50%;
}

.user__age {
  font-weight: 600;
  color: #777;
}

.user__email,
.user__phone {
  color: #777;
  text-decoration: none;
}

.user__gender {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  color: #0070C1;
  text-transform: uppercase;

  border-block-start: 1px solid #eee;
}
