@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #030332;
}

.main {
  width: 70%;
  margin: 0 auto;
  max-width: 700px;
  min-width: 320px;
}

.game-descriptions {
  margin: 15px 0 15px 0;
  font-size: 18px;
  font-weight: 400;
  color: #fefefe;
}

.descriptions-highlight {
  font-weight: 900;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fefefe;
  border-radius: 5px;
}

.flip-card {
  width: 120px;
  height: 120px;
  margin: 10px;
  border: 1px #bcbcbc solid;
  transform-style: preserve-3d;
  transition-duration: .5s;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #fefefe;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card_flipped {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition-duration: .5s;
}

.hide {
  visibility: hidden;
}

.cover-img {
  width: 115px;
  border-radius: 5px;
}

.words {
  padding: 0 3px 0 3px;
  text-align: center;
}

.word-description {
  font-weight: 100;
}

@media (max-width: 800px) {
  .main {
    width: 90%;
  }

  .game-descriptions {
    margin-left: 10px;
  }

  .cards-wrapper {
    display: flex;
    justify-content: start;
    background-color: transparent;
  }

  .flip-card {
    display: flex;
    justify-content: space-evenly;
  }
}
