ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: sticky;
    justify-content: flex-end;
}

li {
    text-align: center;
    align-self: end;
    padding: 0.25em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    color: gray;
    outline: none;
}

.header {
    width: 90vw;
    min-width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px 15px #000;
    border-radius: 5px;
    margin: 5px auto;
    padding: 20px;
}

.header * {
    display: block;
}

.header__nav {
    width: 100%;
    height: 100%;
}

.header__nav__items {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav__item__main a, .header__nav__item__etc a {
    display: flex;
    flex-direction: column;
}

.header__nav__item__main a span, .header__nav__item__etc a span {
    color: white;
    font-size: 10pt;
    text-transform: capitalize;
}

.header__nav__item__main a img, .header__nav__item__etc a img {
    width: 80px;
    height: 80px;
    padding: 15% 5%;
}

.header__nav__item__main:hover,
.header__nav__item__etc:hover {
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
}

.header__nav__item__main,
.header__nav__item__etc,
.more__label {
    width: auto;
    margin: 10px;
    padding: 5px;
}

.more__label {
    background-color: rgba(104, 104, 104, 0.6);
    color: white;
    width: 100%;
}

.menu__toggle,
.more__checkbox {
    appearance: none;
}

.menu {
    position: relative;
}

.menu ul li {
    padding: 0.5% 2.5%;
}

.header__nav__item__main:focus-within,
.header__nav__item__etc:focus-within,
.more__checkbox:focus + .more__label::after {
    outline: rgba(104, 104, 104, 0.6) solid 2px;
    border-radius: 5px;
    color: white;
}

.menu__wrapper {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: rgba(112,128,144,0.5);
    box-shadow: 1px 5px 15px #000;
    border-radius: 5px;
}

.menu li label:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: red;
    right: -7px;
    margin: auto 0;
    display: none;
}

.menu__toggle:checked ~ .menu li label:before {
    display: block;
}

.menu__toggle:checked ~ .menu__wrapper {
    display: block;
    overflow-y: scroll;
}

.menu__wrapper__etc {
    display: none;
}

.more__checkbox:checked ~ .menu__wrapper__etc {
    display: grid;
}

.more__checkbox:checked + .more__label::after {
    content: "LESS";
}

.more__checkbox:not(:checked) + .more__label::after {
    content: "MORE";
}

.more__checkbox:checked ~ .menu__wrapper {
    overflow-y: scroll;
}

.menu__wrapper nav:first-child {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 350px;
    height: 370px;
}

.menu__items__main,
.menu__items__etc {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #808080;
}

a:link {
    text-decoration: none;
}
