*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  height: 100%;
}

.container {
  display: flex;
}

.navbar {
  flex: 0 0 300px;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

.navbar-header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
}

.header-content {
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.emblem {
  width: 30px;
  margin-right: 20px;
}

.navbar-list {
  padding: 0;
}

.navbar-list-item {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

.navbar-list-item:last-child {
  border-bottom: 1px solid;
}

.navbar-link {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  width: 100%;
  outline: none;
  border: none;
}

.main {
  flex: 1 1 auto;
  padding: 20px;
  max-width: 800px;
}

.mobile-menu {
  display: none;
}

.mobile-menu .line,
.mobile-menu::after,
.mobile-menu::before {
  position: absolute;
  left: 0;
  background-color: #000;
  height: 8%;
  width: 100%;
  transition: transform 0.3s ease;
}

.mobile-menu::after,
.mobile-menu::before {
  content: '';
}

.mobile-menu::after {
  bottom: 0;
}

.mobile-menu::before {
  top: 0;
}

.mobile-menu .line {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.content {
  color: #4d4e53;
  margin: 15px 0;
  font-size: 0.96em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-wrap {
  width: 100%;
}

.img-caption {
  font-style: italic;
  font-size: 0.85em;
}

.image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.char-wrap {
  width: 100%;
  overflow: hidden;
  background-color: #4d4e53;
  padding: 0;
  margin: 0;
}
.char-wrap-atrr {
  float: left;
  width: 50%;
  background-color: #e9e9ed;
  border-bottom: 1px solid #4d4e53;
  padding: 5px 0 5px 5px;
  margin: 0;
  font-weight: 600;
}
.char-wrap-value {
  float: left;
  width: 50%;

  background-color: #c9c9cc;
  border-bottom: 1px solid #4d4e53;
  padding: 5px 0 5px 5px;
  margin: 0;
}

.description {
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 815px) {
  .container {
    flex-direction: column;
  }

  .mobile-menu {
    display: block;
    width: 25px;
    height: 20px;
    margin: 20px 0 0 20px;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  .navbar {
    display: none;
  }

  .navbar.menu--open {
    display: block;
  }

  .mobile-menu.icon--active span {
    transform: scale(0) translate(0px, -50%);
  }

  .mobile-menu.icon--active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .mobile-menu.icon--active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .main {
    margin-top: 20px;
  }
}
