* {
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  outline-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #babfd1;
}

.header {
  background-color: #ffadc2;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-logo-text {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.nav-logo-text,
.link {
  color: #607196;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  line-height: 3em;
  width: 30%;
}

.nav-item {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
}

.label-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.popup-toggle {
  appearance: none;
}

.popup {
  position: absolute;
  right: 6em;
  top: 4em;
  width: 20em;
  height: 29em;
  background-color: #fff;
  border: 1px solid #ffadc2;
  box-shadow: 0 0 10px #ffadc2;
  border-radius: 10px;
  display: none;
  overflow-y: auto;
}

.popup-wrap {
  display: contents;
  list-style: none;
}

.popup::after {
  content: "";
  position: fixed;
  width: 15px;
  height: 15px;
  transform: translate(50%) rotate(-45deg);
  background-color: #fff;
  border-top: 1px solid #ffadc2;
  border-right: 1px solid #ffadc2;
  box-shadow: 1px -1px 0.5px #ffadc2;
  right: 7.4%;
  top: 3.5em;
}

.popup-toggle:checked ~ .popup-wrap .popup {
  display: block;
}

.popup-content-main {
  display: grid;
  padding: 1em 1em 0;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 0.5em;
  column-gap: 0.1em;
}

.popup-content-additional {
  padding: 1.5em 1em 0;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  display: none;
  position: relative;
  bottom: 50px;
  row-gap: 0.5em;
  column-gap: 0.1em;
}

.popup-more:checked ~ .popup-content-additional {
  display: grid;
}

.popup-more:checked + .check-additional {
  display: none;
}

.more-btn {
  border-radius: 5px;
  border: 2px solid #ffadc2;
  padding: 5px 5px;
}

.check-additional {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
}

.popup-item {
  text-decoration: none;
  width: 5.1em;
  height: 5.1em;
}

.popup-pic {
  display: block;
  margin: 5px auto;
  width: 1.8em;
  height: 1.8em;
  object-fit: cover;
}

.popup-description {
  text-align: center;
  font-size: 0.8em;
}

.popup-more {
  appearance: none;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell {
  width: 1.1em;
}

.link:hover,
.link:focus {
  color: #e8e9ed;
}

.popup-toggle:focus + .popup-wrap .label-toggle .popup-img,
.image-wrapper:focus .bell {
  background-color: #e8e9ed;
  border-radius: 5px;
  color: #e8e9ed;
}

.popup-item:hover,
.popup-item:focus {
  border: 1px solid #ffadc2;
  border-radius: 5px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.more-btn:hover,
.popup-more:focus + .check-additional .more-btn {
  background-color: #ffadc2;
  transition: all 0.2s ease-in-out;
}

.bell:hover,
.popup-img:hover {
  border-radius: 5px;
  background-color: #e8e9ed;
}

@media (max-width: 1140px) {
  .nav-links {
    width: 50%;
  }

  .popup::after {
    right: 13%;
  }
}

@media (min-width: 1280px) and (max-width: 1680px) {
  .popup {
    right: 4em;
  }
}

@media (max-width: 1279px) and (min-width: 1141px) {
  .popup {
    right: 2.5em;
  }
}

@media (max-width: 1010px) and (min-width: 721px) {
  .popup {
    right: 2em;
  }
}

@media (max-width: 720px) {
  .nav-links {
    width: 60%;
  }

  .popup {
    right: 3em;
  }

  .popup::after {
    right: 14.7%;
  }
}

@media (max-width: 540px) {
  .nav-links {
    width: 80%;
  }

  .popup {
    right: 2em;
  }
}
