:root {
    --hover-color: rgb(103, 103, 200);
    --bg-color:rgb(245, 243, 243);
    --secondary-bg-color: lightgrey;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus, .popup-item img:hover, .popup-item:focus {
    color: var(--hover-color);
    outline: 2px solid var(--hover-color);
    border-radius: 5px;
}

.popup-item, .popup-label, .input-more {
    cursor: pointer;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown {
    position: relative;
    top: 3rem;
    max-width: 18.75rem;
    max-height: 21.8rem;
    border: 2px solid var(--secondary-bg-color);
    margin: 1rem 1.5rem;
    background-color: var(--bg-color); 
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden auto;
    display: none;
}

input.popup-item {
    width: 2rem;
    height: 2rem;
}

input.popup-item:checked ~ .dropdown{
    display: block;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
}

img {
    max-width: 3.75rem;
    max-height: 3rem;
    margin: 0.55rem;
}

.wrapper.item{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: baseline;
}

.item a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	font-size: 18px;
    padding-top: 0.3rem;
	text-decoration:none;
}

.input-more{
    display: block;
    margin: 1rem 0rem;
    border: none;
    background-color: var(--secondary-bg-color); 
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    height: 2.6rem;
    width: 100%;
    top: 25.9rem;
}

.input-more::before{
    content: 'More';
}

.more-label {
    cursor: pointer;
    display: block;
}

.input-more:hover, .input-more:focus {
    color: var(--hover-color);
    outline: 2px solid var(--hover-color);
}

.additional-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: .5rem 0;
    margin-top: 4.25rem;
    margin-bottom: .5rem;
    border-bottom: 2px solid var(--secondary-bg-color);
    background-color: var(--bg-color); 
    height: auto;
}

.additional-dropdown {
    display: none;
}

.input-more:checked ~ .additional-dropdown{
    display: flex;
    flex-direction: column;
}

.even-more {
    align-self: center;
    padding-bottom: .5rem;
}

@media screen and (max-width: 380px) {
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .additional-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .input-more{
        top: 38rem;
    }
    
}
