* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --color-header: #8d7361;
  --color-back: #eeebe7;
  --color-text: #50423d;
  --color-blue: #8b8da0;
  --color-yellow: #c9bbae;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 12vh;
  padding-top: 1vh;
  background-color: var(--color-header);
  color: var(--color-back);
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--color-blue) 2px 5px 3px;
  font-size: clamp(12px, 2vh, 34px);
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 85vh;
  background-color: var(--color-back);
  position: relative;
}

.menu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 30%;
  height: 100%;
  background-color: var(--color-back);
  cursor: pointer;
  padding: 1.2em;
  position: relative;
}

.menu__item:hover {
  color: var(--color-blue);
  font-size: 1.8em;
  font-weight: 700;
  transition: all ease 0.1s;
}

.menu__item {
  background-color: var(--color-back);
  color: var(--color-text);
  font-size: 1.7em;
  margin-bottom: 15px;
  height: 60px;
  padding: 5px;
  box-shadow: 0 4px 12px var(--color-text), 0 16px 20px var(--color-text);
}

.menu__item__active {
  font-size: 1.8em;
  font-weight: 700;
}

.content {
  width: 70%;
  height: 100%;
  background-color: var(--color-back);
  position: relative;
}

.item {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.item__src {
  flex-grow: 2;
  align-self: center;
  object-fit: cover;
  max-width: 60%;
  max-height: 50%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2%;
  box-shadow: 5px 15px 10px 3px;
  animation: fade 1s;
}

.item__text,
.item__header {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 25px;
  color: var(--color-text);
}

.item__header {
  flex-grow: 0.1;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-shadow: 2px 2px 2px var(--color-blue);
}

.item__text {
  flex-grow: 2;
  font-size: 1.5em;
  animation: fade-text 1.5s ease-out;
}

@media screen and (min-width: 1025px) {
  .wrap {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    font-size: 18px;
  }
  .wrap {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    height: 10vh;
    font-size: 16px;
  }
  .wrap {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 8vh;
    font-size: min(16px, 2vh);
  }
  .wrap {
    font-size: 10px;
  }
}
