:root {
  --popupwrapper-color: rgba(128, 128, 128, 0.4);
  --text-color: #000;
  --main-bg-color: #fff;
  --size-30: 30px;
  --size-20: 20px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
