*, *::before, *::after{
    /* outline: tomato solid 1px; */
    padding: 0px 0px;
  }

  .container{
    padding: 0 200px;
  }


  p,li{
    margin: 0 ;
  }
  
  li{
    list-style-type: none;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  body{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
  }