:root {
    --border-color: #cecece;
    --aside-bg-color: #e8ebe6;
    --dark-color: rgb(21, 21, 21);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}

body {
    background-color: var(--dark-color);
    background-image: url(img/planets/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper__title {
    margin-bottom: 30px;
    cursor: pointer;

    text-align: center;
    background-color: transparent;
    color: #fff;
}

.inner_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 400px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

/* aside -------------------------------------------------------------- */

.aside {
    background-color: var(--aside-bg-color);
    display: flex;
    border-radius: 5px 0px 0px 5px;
}

.aside__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aside__item {
    padding: 15px;
    cursor: pointer;
    color: var(--dark-color);
    border-radius: 5px 0px 0px 5px;
}

.focused {
    background-color: var(--dark-color);
    color: #fff;
    opacity: .8;
}

.aside__item:not(:last-child){
    border-bottom: 2px solid var(--border-color);
}

/* main --------------------------------------------------------------- */

.main {
    display: flex;
    background-color: rgba(21, 21, 21, 0.857);
    border-radius: 0px 5px 5px 0px;
}

.container {
    padding: 30px;
    color: #fff;
}

.container__title {
    margin-bottom: 20px;
}

.container__img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .inner_wrapper {
        min-height: 500px;
    }
}

@media screen and (max-width: 530px) {

    .wrapper {
        margin: 100px 0;
    }

    .inner_wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .aside {
        text-align: center;
        border-radius: 5px 5px 0px 0px;
    }

    .main {
        min-height: 400px;
        border-radius: 0px 0px 5px 5px;
    }
}