body {
    margin: 0;
    padding: 0;
    background-image: url(./img/ocean.jpg);
    background-repeat: no-repeat;
}
.header {
    background-color: rgba(110, 120, 116, 0.598);
}
.header_nav {
    display: flex;
    justify-content: end; 
}
.nav-position {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    line-height: 3em;
}
.link {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 18px;
}
.check-input {
    appearance: none;
    position: absolute;
}             
.label-position {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box-popup {
    background: url(./img/popup-button.png) no-repeat rgba(255, 235, 205, 0.614); 
}
.box-popup,
.box-bell,
.profile-link {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid transparent;
    border-radius: 5px; 
}
.check-input:focus + .label-position > .box-popup,
.check-input:focus + .label-position > .box-bell,
.box-popup:hover,
.box-bell:hover,
.profile-link:focus,
.profile-link:hover {
    border: 1px solid rgb(255, 235, 205);
    box-shadow: 0 0 10px rgb(255, 235, 205);
    border-radius: 5px;  
}
.popup {
    position: fixed;
    right: 9em;
    top: 4em;
    width: 18em;
    height: 35em;
    background-color: rgb(255, 235, 205);
    border: 1px solid rgb(255, 235, 205);
    box-shadow: 0 0 10px rgb(255, 235, 205);
    border-radius: 5px;
    display: none;
    overflow-y: auto;
}
.check-input:checked ~ .popup {
    display: block;
}
.popup-angle {
    width: 1em;
    height: 1em;
    background-color: rgb(255, 235, 205);
    position: fixed;
    top: 3.5em;
    right: 11.8em;
    transform: rotate(45deg);
    border-bottom: 1px solid rgb(255, 235, 205);
    border-top: 1px solid rgb(255, 235, 205);
    box-shadow: 0 0 10px rgb(255, 235, 205);
    border-radius: 5px;
}
.popup-content {
    padding: 2em 1.5em .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 2fr);
    justify-items: center;
    align-items: center;
    gap: .5em;
}
.popup-item {
    text-decoration: none;
    color: rgb(29, 39, 41);
    width: 4.5em;
    height: 6.5em;
    box-sizing: border-box;
    padding-top: 1em;
    border: 1px solid transparent;
}
.popup-item:hover, 
.popup-item:focus,
.more:focus + .label-more   {
    border: 1px solid rgb(131, 121, 106);
    box-shadow: 0 0 10px rgb(131, 121, 106);
    border-radius: 5px;     
}
.popup-img {
    display: block;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    object-fit: cover;
}
.popup-text {
    text-align: center;
    margin: 0; 
}
.more {
    appearance: none;
    position: absolute;
}
.label-more {
    margin-top: 1.5em;
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 225, 181);
    box-sizing: border-box;
    cursor: pointer;
}
.more:checked + .label-more,
.more:checked {
    display: none;
}
.popup-items {
    padding: .5em 1.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
    gap: .5em;
    border-top: 1px solid rgba(29, 39, 41, 0.658);
    display: none;
}
.more:checked ~ .popup-items {
    display: grid;
}
.box-bell {
    background: url(./img/bell.png) center/cover no-repeat rgba(255, 235, 205, 0.614);
}
.profile-link {
    overflow: hidden;
}
.profile-img {
    display: block;
    background-color: rgba(255, 235, 205, 0.614);
    width: 100%;
}
@media (width: 1920px) {
    .popup-angle {
        right: 16.3em;
    } 
}
