* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: manipulation;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: lightsteelblue;
}

.header {
  text-align: center;
  margin: 20px 0;
  font-size: 3rem;
  color: white;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  perspective: 800px;
  .card {
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    .face,
    .back {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 20px;
      pointer-events: none;
      backface-visibility: hidden;
    }
    .back {
      position: absolute;
      top: 0;
      background-image: url('../images/nfl.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .face {
      transform: rotateY(180deg);
    }
  }
  .toggle {
    transform: rotateY(180deg);
  }
  .flipped {
    pointer-events: none;
  }
}

@media (max-width: 750px) {
  .header {
    font-size: 2rem;
  }
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}
