html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

ol,
ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  height: auto;
  vertical-align: top;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(212, 240, 231);
  padding: 24px 0px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav .nav__items {
  display: flex;
  align-items: center;
}
.header__nav .nav__items .nav__item {
  display: inline;
  position: relative;
  margin-right: 14px;
}
.header__nav .nav__items .nav__item .nav__item-link {
  font-size: 14px;
  padding: 8px 16px;
  color: rgb(27, 22, 22);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.header__nav .nav__items .nav__item .nav__item-link:hover {
  background-color: rgb(161, 206, 206);
}
.header__nav .nav__items .nav__item .nav__item-link:focus,
.header__nav .nav__items .nav__item .nav__item-link:focus-visible {
  background-color: rgb(109, 221, 221);
}

.checkbox,
.checkbox__more {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox:checked ~ label .popup__button,
.checkbox:focus ~ label .popup__button,
.popup__button:hover {
  background-color: rgb(134, 223, 230);
}

.checkbox:checked ~ .popup__wrapper {
  display: block;
}

.checkbox__more:checked ~ .popup__more-items {
  display: flex;
  justify-content: center;
}

.checkbox__more:focus ~ label .popup__more-name,
.popup__more-name:hover {
  background-color: #d1cbcb;
}

.checkbox__more:checked ~ label .popup__more-name {
  background-color: rgb(218, 230, 226);
  display: none;
}

.popup__button {
  cursor: pointer;
}

.popup__wrapper {
  display: none;
  position: absolute;
  top: 56px;
  right: -80px;
  overflow: hidden;
  width: 300px;
  height: 320px;
  padding: 4px;
  background-color: aliceblue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 1;
}

.popup__content {
  height: 320px;
  overflow: auto;
}

.popup__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8px;
}

.popup__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin: 8px 4px 0px 4px;
  padding: 0px 8px;
}

.popup__item-icon {
  display: inline-block;
  width: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px 0;
}

.popup__item-name {
  display: block;
  color: rgb(27, 24, 24);
  font-size: 11px;
  padding-top: 12px;
}

.popup__item-name:hover {
  text-decoration: underline;
}

.popup__item-icon:hover {
  background-color: #d1cbcb;
}

.popup__item-icon:focus {
  background-color: #aaa5a5;
  outline: none;
  padding: 0px 4px 0px 4px;
}

.popup__content::-webkit-scrollbar {
  width: 4px;
}

.popup__content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #d1cbcb;
}

.popup__content::-webkit-scrollbar-track {
  margin: 4px;
}

.icon {
  max-height: 36px;
  margin-bottom: 4px;
  margin-top: 8px;
}

.popup__more-items {
  display: none;
  flex-wrap: wrap;
  margin-top: 12px;
}

.popup__more-icon {
  padding-top: 4px;
  display: inline-block;
  width: 80px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px 0;
}

.popup__more-name:hover {
  text-decoration: underline;
}

.popup__more-icon:hover {
  background-color: #d1cbcb;
}

.popup__more-icon:focus {
  background-color: #aaa5a5;
  outline: none;
}

.even-more {
  width: 100%;
}

.even-more:hover {
  text-decoration: underline;
}

.nav__item_bell {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 4px;
}

.bell {
  width: 20px;
}

.nav__item_bell:focus,
.nav__item_bell:hover,
.nav__item_bell:focus-visible {
  background-color: rgb(109, 221, 221);
  outline: none;
}

.user-item {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 4px;
}

.user {
  background-color: rgb(180, 235, 226);
  color: rgb(56, 53, 49);
}

.user__img {
  width: 24px;
}

.user:focus,
.user:focus-visible {
  outline: none;
  background-color: #e3e6e6;
}

.popup__more-name {
  display: flex;
  color: rgb(27, 24, 24);
  font-size: 14px;
  padding: 18px 8px 8px 8px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  color: #1f1a1a;
  align-items: center;
  justify-content: center;
}

.even-more {
  display: inline;
  padding-bottom: 8px;
}

.checkbox__more:focus ~ label .popup__more-name,
.popup__more-name:hover {
  text-decoration: underline;
  background-color: #d3d4d4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popup__item-name:focus,
.popup__item-name:focus-visible {
  outline: none;
  background-color: #e3e6e6;
}/*# sourceMappingURL=style.css.map */