/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


/* Header */

.header-navigation {
    display: flex;
    justify-content: end;
    padding: 15px;
    align-items: center;
    flex: 1 0 auto;
    margin: 5px;

}

.menu-list {
    display: flex;
    margin-right: 15px;
}

.menu-item {
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #000;
    opacity: 45%;
}

.popup-icon {
    width: 20px;
    opacity: 70%;

}

.menu-bell {
    width: 20px;

}

.user-icon img {
    border-radius: 50%;
    width: 60px;
    height: 55px;
}

/* Popup-content */

.popup-shower {
    position: relative;
}

.popup {
    position: absolute;
    top: 100px;
    right: 100px;
}

@media(max-width:768px) {
    .popup {
        right: 20px;
    }
}

.popup-checkbox,
.popup {
    opacity: 0;
    visibility: hidden;
    transition: 1.0s;
}

.content {
    background-color: #fff;
    padding: 30px;
    max-width: 850px;
    max-height: 500px;
    border: 2px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
    margin: 15px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .25)),
            color-stop(.5, transparent), to(transparent));
}

.popup-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media(max-width:480px) {
    .popup-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .menu-item {
        padding: 5px;
        margin: 5px;
        font-weight: 600;
    }

    .header-navigation {
        padding: 5px;
        margin: 10px;

    }

    .content {
        padding: 20px;
    }
}

.content-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    color: #032f75;
    margin: 1px;
}

.content-item:hover {
    border: #a2a6ad solid 1px;
    border-radius: 5px;
    margin: 0px;
}

.content-item:focus {
    border: #35618480 solid 1px;
    border-radius: 5px;
    margin: 0px;
}

.content-img {
    width: 70px;
    margin: 15px;
}

.popup-checkbox:checked+.popup {
    opacity: 1;
    visibility: visible;
    transition: 1.0s;
}

.popup-checkbox,
.button-popup {
    display: none;
}

.popup-checkbox:checked~.open-button {
    display: none;
}

.popup-checkbox:checked+.button-popup {
    display: grid;
    margin-top: 30px;
}

.open-button {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #356184;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    opacity: 60%;
}
