:root {
  --full-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}
.wrapper {
  height: 300vh;
  min-width: var(--full-size);
  background-image: url(./img/gitlogoforme.jpeg);
}
.header {
  height: 80px;
  max-width: 1198px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.menu {
  height: var(--full-size);
  width: 30%;
}
.menu-list {
  height: var(--full-size);
  width: var(--full-size);
  position: relative;
  display: flex;
  justify-content: space-around;
}
.menu-list li {
  height: var(--full-size);
  width: 25%;
  margin: 0 0.3em;
  position: relative;
  display: block;
}
.menu-list li a {
  height: var(--full-size);
  width: var(--full-size);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.menu-list li img {
  height: var(--full-size);
  width: var(--full-size);
  border-radius: 20%;
}
.menu-list > li input {
  height: var(--full-size);
  width: var(--full-size);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.popup,
.more {
  height: 500px;
  width: 127px;
  display: none;
  position: relative;
  left: -30%;
  top: calc(10% + 0.1rem);
}
.more {
  height: 0;
  position: absolute;
  top: var(--full-size);
  left: -30%;
}
.popup li,
.more li {
  height: 70px;
  width: 70px;
  margin: 0.9rem auto;
}
.menu-list:last-child input:checked + .popup {
  display: block;
  overflow: hidden overlay;
}
.menu-list:last-child li {
  height: 80px;
  width: 80.25px;
}
.popup:last-child input:checked + .more {
  display: block;
}
*:focus {
  box-shadow: 0 0 0 0.1em white;
}
*:checked:focus {
  box-shadow: 0 0 0 0.2em gray;
}
