:root {
    --bg-color: rgb(215, 211, 211);
    --counter-bg-color: rgb(236, 228, 228);
    --card-border-color: rgb(201, 197, 197);
    --card-front-color: rgb(83, 125, 193);
    --card-back-color: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
    overflow: hidden;
}

.menu-close {
    overflow: auto;
}

.game-menu__hide {
    visibility: hidden;
}

.game-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(139, 124, 124, 0.431);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-modal {
    position: absolute;
    width: 450px;
    height: 350px;
    background-color: var(--counter-bg-color);
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 31px 126px -30px rgba(128,115,128,1);            
}

.modal__desc {
    margin: 15px 0;
    font-size: 18px;
}

#game-start-button {
    margin-top: 50px;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    background-color: var(--card-front-color);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#restart-btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--card-front-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.game-counter {
    width: 100%;
    border-radius: 10px;
    background-color: var(--counter-bg-color);
    border: 1px solid var(--card-border-color);
    margin: 30px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.flip-container {
	perspective: 1000px;
    transition: .4s;
}

.flip-container-clicked .flipper {
    transform: rotateY(180deg);
}

.flip-container-clicked * {
    pointer-events: none;
}

.founded {
    opacity: 0;
}

.flip-container, .front, .back {
	width: 200px;
	height: 240px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

    border-radius: 10px;
    border: 2px solid var(--card-border-color) ;
}

.front {
	z-index: 2;
    
    background-color: var(--card-front-color);

	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);

    background-color: var(--card-back-color);
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.back img {
    pointer-events: none;
    width: 60%;
}

@media screen and (max-width: 1200px) {
    .game-list {
        max-width: 700px;
    }

    .flip-container, .front, .back {
        width: 150px;
        height: 170px;
    }
}

@media screen and (max-width: 768px) {
    .game-list {
        max-width: 500px;
        margin-top: 100px;
    }

    .flip-container, .front, .back {
        width: 100px;
        height: 120px;
    }
}

@media screen and (max-width: 560px) {
    .menu-modal {
        width: 80%;
        min-height: 500px;
    }

    .game-list {
        max-width: 400px;
        gap: 15px;
    }

    .flip-container, .front, .back {
        width: 80px;
        height: 100px;
    }
}
