@media screen and (max-width: 750px) {
  .popup {
    height: var(--full-size);
    width: var(--full-size);
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .popup__content {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: calc(50% - 100px);
    left: calc(50% - 140px);
  }
  .popup__content > li {
    width: var(--full-size);
    margin: 5px 0;
    line-height: 5;
    letter-spacing: 3;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(226, 229, 255);
    color: #000;
    transition: 0.3s all ease-in-out;
  }
  .menu {
    display: none;
  }
  .burger-label {
    width: 10%;
    display: inherit;
    position: relative;
  }
}
