@import 'form.css';
@import 'burger.css';
@import 'card.css';

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #1a73a8;
}

#root {
    display: grid;
    grid-template-columns: 25% 75%;

}

.header {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 100px;
    box-shadow: 0 4px 16px #ccc;

}

.header-title {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #0071f0;
    text-align: center;
    flex: 1 1 auto;
}

.user_img {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.aside {
    grid-column: 1/2;
    width: 100%;
}

.main {
    grid-column: 2/3;

}

.friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:focus,
.button:hover {
    background-color: rgba(0, 113, 240, 0.7);
}

.loading {
    margin: 40vh auto;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
}

@media (max-width: 1200px) {
    .friends {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 960px) {
    #root {
        display: block;
        position: relative;
    }

    body.lock {
        overflow: hidden;
    }

    .header {
        position: sticky;
        top: 0;
        background-color: #fff;
        justify-content: space-around;
    }

    .header-title {
        flex: 0 0 auto;
    }

    .aside {

        pointer-events: none;
        position: fixed;
        top: 100px;
        left: -100%;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .aside.active {
        left: 0;
        pointer-events: all;
    }
}

@media (max-width: 700px) {
    .friends {
        grid-template-columns: repeat(1, 1fr);
    }
}