body {
  background-color: rgba(0, 255, 255, 0.2);
}

header nav {
  text-align: right;
  font-family: "Roboto";
}
header nav .navLink {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
header nav .navLink .imgLink {
  width: 30px;
  height: 30px;
}
header nav .navLink .avatar {
  border-radius: 50%;
}
header nav .burger {
  position: relative;
}
header nav .burger .input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
header nav .burger #burgerCheckbox:checked ~ .main {
  display: flex;
}
header nav .navLink:focus {
  outline: 2px solid blue;
}

.popupContainer {
  width: 350px;
  height: 545px;
  border: 1px solid grey;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 5px 0px 5px;
  box-shadow: 0 0 15px grey;
  position: absolute;
  right: -26px;
  top: 57px;
  overflow-y: auto;
  overflow-x: hidden;
}
.popupContainer .containerForItem {
  flex-direction: row;
  flex-wrap: wrap;
}
.popupContainer .visibleBlock {
  display: flex;
}
.popupContainer .itemBlock {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popupContainer .itemBlock .itemPopup {
  width: 70px;
  padding: 15px;
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}
.popupContainer .itemBlock .itemPopup .imgBlock {
  width: 70px;
  height: 65px;
}
.popupContainer .itemBlock .itemPopup .imgBlock img {
  max-width: 50px;
  max-height: 50px;
}
.popupContainer .itemBlock .itemName {
  font-family: "Roboto";
}
.popupContainer .itemPopup:focus {
  outline: 2px solid blue;
}

.popupContainer:nth-child(2):before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  transform: rotate(135deg);
  position: absolute;
  left: 253px;
  top: -12px;
  background: linear-gradient(to top right, #ccffff, #ccffff, #ccffff);
  z-index: -1;
}

.popupContainer:nth-child(2)::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #ccffff transparent;
  position: absolute;
  left: 249px;
  top: -15px;
}

li {
  display: inline-block;
}

.burgerImg {
  cursor: pointer;
}

#burgerCheckbox:checked ~ .burgerLabel:focus {
  outline: 2px solid blue;
}

#burgerCheckbox:focus ~ .burgerLabel {
  outline: 2px solid blue;
}

#burgerCheckbox:checked ~ .popupContainer {
  display: none;
}

.navLink:hover,
.itemPopup:hover {
  outline: 1px solid gray;
}

.btnMore {
  width: 103%;
  text-align: center;
  background-color: cadetblue;
  padding: 10px 0;
  position: relative;
  margin-right: -10px;
  margin-left: -5px;
  cursor: pointer;
}

.btnMore:hover {
  background-color: aquamarine;
}

.moreBlock {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid grey;
  padding: 20px 0;
}

.btnMore-checkbox:focus ~ .btnMore {
  background-color: aquamarine;
}

.btnMore-checkbox:checked ~ .moreBlock {
  display: flex;
}

.btnMore-checkbox:checked + .btnMore {
  color: transparent;
  background-color: #ccffff;
}

.btnMore-checkbox:checked ~ .main {
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=styles.css.map */
