*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: white;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
    letter-spacing: 0.05em;
}
a {
	color: #794f45;
    text-decoration: none;
}
div {
    color: #794f45;
}
header {
    padding: 12px 14px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
*:focus {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
*:checked
*:enabled {
    outline: 0px;
}
.wrapper {
    min-height: 100%;
}
.navigation__menu {
    display: flex;
    justify-content: end;
}
.navigation__list {
    flex-basis: 80px;
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation__link {
    display: flex;
    justify-content: center;
    padding: 2px 3px;
    min-height: 30px;
    min-width: 95%;
}
.navigation__link:hover {
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.navigation__image {
    width: 25%;
}
.profile__image {
    width: 35%;
    height: 35%;
    border-radius: 15%;
    align-self: center;
}
.popup__container,
.popup__more,
.toggle__more,
.label__toggle__more,
.label__toggle__less {
    display: none;
}
.toggle {
    appearance: none;
    cursor: pointer;
}
.toggle:focus {
    outline: none;
}
.popup__container {
    position: absolute;
    top: 80px;
    max-height: 365px;
    overflow-y: scroll;
    padding: 5px 10px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.toggle:checked ~ .popup__container {
    display:flex;
    flex-direction: column;
}
.popup__box {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
}
.popup__link {
    display: inline-flex;
    flex-direction: column;
    align-items:center;justify-content:space-around;
    width: 70px;
    height: 70px;
    padding: 3px;
    margin: 2px;
    font-size: 0.7em;
}
.popup__link:hover {
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.popup__image {
    height: 35px;
    width: 48px;
    object-fit: contain;
    align-content: center;
}
.toggle:checked ~ .toggle__more {
    display: block;
    cursor: pointer;
}
.toggle__more:checked ~ .popup__container {
    overflow-y: scroll;
    max-height: 350px;
}
.toggle__more:checked ~ .popup__more {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
}
.label__toggle__more,
.toggle__more:checked ~ .label__toggle__less {
    display: block;
    align-self: center;
    padding: 1px 40px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.label__toggle__more:hover,
.toggle__more:checked ~ .label__toggle__less:hover {
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.toggle__more:checked ~ .label__toggle__more {
    display: none;
}
::-webkit-scrollbar {
    width: 0px;
}