.footer {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    padding: 10px;

    text-shadow: var(--default-shadow)
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-img {
    fill: var(--background-color-btn);
}

.footer-link:hover .github-img,
.footer-link:focus .github-img {
    fill: var(--hover-focus-color);
}

.footer-text {
    margin-left: 15px;
}
