.header {
    margin-bottom: 10px;
}

.header-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin-left: 10px;
    text-shadow: var(--default-shadow);

    @media screen and (max-width: 530px) {
        padding: 15px 0px 15px 0px;
    }
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 80px;
}

.overlay {
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.747),
            rgba(255, 255, 255, 0.836)),
        url(../../images/movies.webp);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
