.main-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;

    @media screen and (max-width: 580px) {
        column-gap: 5px;
    }
}

.list-movie-item {
    display: flex;
    flex-direction: column;
}

.list-movie-item:not(:last-child) {
    margin-bottom: 10px;
}

.list-movie-btn {
    min-height: 50px;
    padding: 10px;

    background-color: var(--background-color-btn);
    ;
    text-shadow: var(--default-shadow);
    z-index: 1;

    &:hover,
    &:focus {
        background-color: var(--hover-focus-color);
    }
}

.list-movie-btn-text {
    font-family: var(--default-font);
    font-size: 12px;
    color: var(--white-color);

    text-shadow:
        -0 -1px 0 #000000,
        0 -1px 0 #000000,
        -0 1px 0 #000000,
        0 1px 0 #000000,
        -1px -0 0 #000000,
        1px -0 0 #000000,
        -1px 0 0 #000000,
        1px 0 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; // max nb lines to show
    -webkit-box-orient: vertical;

    position: relative;
    z-index: -1;
}

.movie-box {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr 30%;
    row-gap: 10px;
    column-gap: 20px;

    @media screen and (max-width: 1465px) {
        grid-template-rows: 1fr 28%;
    }

    @media screen and (max-width: 1355px) {
        grid-template-rows: 1fr 33%;
    }

    @media screen and (max-width: 1005px) {
        grid-template-rows: 1fr 35%;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 220px 1fr;
        grid-template-rows: 1fr 50%;
        column-gap: 10px;
        row-gap: 5px;
    }

    @media screen and (max-width: 530px) {
        // grid-template-columns: 150px 1fr;
        // grid-template-rows: 1fr 70%;
        // column-gap: 5px;
        display: flex;
        flex-direction: column;
    }
}

// .img-poster {
//     max-height: 420px;
//     object-fit: cover;

//     @media screen and (max-width: 768px) {
//         max-height: 330px;
//     }

//     @media screen and (max-width: 500px) {
//         max-height: 260px;
//     }
// }

.description-box {
    padding: 5px;
}

.description-text:not(:last-child) {
    margin-bottom: 15px;

    @media screen and (max-width: 530px) {
        margin-bottom: 5px;
    }
}

.description-text {
    font-size: 18px;

    @media screen and (max-width: 1000px) {
        font-size: 16px;
    }

    @media screen and (max-width: 530px) {
        font-size: 14px;
    }
}

.description-title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;

    text-shadow: var(--default-shadow);

    @media screen and (max-width: 1000px) {
        font-size: 22px;
    }

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }

    @media screen and (max-width: 530px) {
        font-size: 16px;
    }
}

.description-text-span {
    font-weight: 700;

    text-shadow: var(--default-shadow);
}

.description-text {

    &__hidden-laptop {
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    &__hidden-tablet {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.description-plot-title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;

    text-shadow: var(--default-shadow);

    @media screen and (max-width: 1000px) {
        font-size: 22px;
    }

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }

    @media screen and (max-width: 530px) {
        font-size: 16px;
    }
}

.description-plot-text {
    font-size: 18px;
    line-height: 1.71;

    @media screen and (max-width: 530px) {
        font-size: 14px;
    }
}

.plot-box {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    padding: 10px;

    @media screen and (max-width: 530px) {
        padding: 5px;
    }
}
