* , 
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
  }


html {
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
    color: black;
    background-color: seashell;
}

header {
    padding: 1em 1.5em;
}


ul, li {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

label {
    cursor: pointer;
  }

input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.navbar {
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.crumbs {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
}

.crumb {
    width: 3.5em;
    height: 3.5em;
}

.icon {
    max-width: 3em; 
    max-height: 3em;  
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

.popup {
   position: absolute;
   right: -60px;
   top: 50px;
    width: 280px;
    max-height: 420px;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: 0px 0px 10px 1px grey;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.check_input:checked ~ .popup {
    opacity: 1;
    visibility: visible;
}

.bell {
    width: 20px;
    height: 20px;
}

.popup_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
    padding: 0.4em;
    align-items: baseline;
}

.popup_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: blanchedalmond;
}

.more {
   visibility: hidden; 
   opacity: 0; 
   position: absolute;
}

li.popup_item {
    width: 5em;
    height: 5.5em;
    display:inline-flex;
    justify-content: center; 
    align-items: center;
}

.popup_more:checked ~ .more {
    opacity: 1;
    visibility: visible;
    position: relative; 
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: 0px;
}

.popup_more:checked ~ .popup_btn {
    opacity: 0;
    visibility: hidden; 
}
     
.crumb:hover {
    border: 1px solid grey;
}

.crumb:focus-within {
    border: 1px solid blue; 
}

.popup_item:hover {
border: 1px solid grey;
}

.popup_item:focus-within {
    border: 1px solid blue;
}

.popup_btn:hover {
    border: 1px solid grey;
}

.popup_btn:focus-within {
    border: 1px solid blue;
}

p {
    margin-top: 0.4em;
}

@media only screen and (max-width: 310px) {
   .popup {
        width: 250px;
    }
}