@font-face {
  font-family: BelweBold;
  src: url(../fonts/BelweBoldBT.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BelweBold;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
  padding: 1em;
}

.logo {
  width: 60px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
  width: 95%;
  height: 95%;
  margin: 10px auto;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid rgb(143, 129, 95);
  border-radius: 3rem;
  font-size: 25px;
  padding: 1em;
}

.cards-wrapper {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 0.5em;
  border: 5px solid rgb(143, 129, 95);
  border-radius: 3em;
  padding: 1em;
}

.flip-container {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  place-self: center;
}

.is-flipped {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}

.restart {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  text-align: center;
}

.cardback,
.hero {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.cardback {
  cursor: pointer;
}

.hero-list {
  display: flex;
  align-items: center;
  position: relative;
}

.defeated {
  position: absolute;
  color: red;
  top: 30%;
  left: 15%;
  transform: rotate(-10deg);
  opacity: 0.9;
}

.opponents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flipper {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.greeting {
  text-align: center;
}

.hidden {
  display: none;
}

.try-again {
  border: 5px solid rgb(143, 129, 95);
  background: rgba(143, 129, 95, 0.3);
  border-radius: 1em;
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.try-again:hover {
  background: rgba(143, 129, 95, 0.7);
}

.opaque :not(.defeated) {
  opacity: 0.3;
}

@media screen and (max-width: 750px) {
  .main-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .info-wrapper {
    font-size: 14px;
  }
  .logo {
    width: 30px;
  }
  .opponents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
