@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@keyframes nav-animation {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.2);
    filter: invert(54%) sepia(4%) saturate(14%) hue-rotate(1deg) brightness(93%) contrast(91%); }
  to {
    transform: scale(1); } }

@keyframes logo-animation {
  from {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }

@keyframes one_time_180_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@keyframes infinite_180_rotate {
  from {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  to {
    transform: rotate(0deg); } }

* {
  padding: 0;
  margin: 0; }
  *::-webkit-scrollbar {
    width: 10px; }
  *::-webkit-scrollbar-thumb {
    background-color: grey; }

a {
  cursor: pointer; }

body {
  overflow-x: hidden; }

/* Page wrapper */
.wrapper {
  box-sizing: border-box;
  font-family: OpenSans-Regular, "Times New Roman", Times, serif; }
  .wrapper .header {
    background-color: #DBC7B5;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 3px 15px 1px #735244; }
    .wrapper .header .header__container {
      margin: 0 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 25px; }
      .wrapper .header .header__container .header__menu .menu__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        column-gap: 20px; }
        .wrapper .header .header__container .header__menu .menu__list .menu__item {
          display: flex;
          /* Popup*/ }
          .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__link {
            display: flex; }
          .wrapper .header .header__container .header__menu .menu__list .menu__item img {
            width: 35px;
            height: 35px; }
            .wrapper .header .header__container .header__menu .menu__list .menu__item img:hover {
              animation: nav-animation 2s infinite; }
          .wrapper .header .header__container .header__menu .menu__list .menu__item .check__input {
            position: absolute;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 35px;
            height: 35px;
            z-index: -1; }
            .wrapper .header .header__container .header__menu .menu__list .menu__item .check__input:checked ~ .menu__popup {
              display: block; }
          .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup {
            overflow-y: scroll;
            display: none;
            position: absolute;
            top: 80px;
            right: 35px;
            z-index: -1;
            border: 2px solid #CB8658;
            border-radius: 2.5%;
            width: 400px;
            max-height: 300px;
            box-shadow: 0 2px 15px 1px #cb8658; }
            .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup::-webkit-scrollbar {
              width: 8px; }
            .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup::-webkit-scrollbar-thumb {
              background-color: #CB8658;
              border-radius: 15px; }
            .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              overflow: auto; }
              .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item {
                text-align: center;
                display: flex;
                flex-direction: column;
                margin: 10px;
                flex: 1; }
                .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .submenu__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .sub-popup__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .submenu__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .sub-popup__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .submenu__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .sub-popup__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .submenu__link, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .sub-popup__link {
                  text-decoration: none;
                  color: #552C22; }
                  .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .submenu__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .sub-popup__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .submenu__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .sub-popup__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .submenu__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .sub-popup__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .submenu__link:focus, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .sub-popup__link:focus {
                    outline: 2px solid darkgrey;
                    text-decoration: underline;
                    color: #46241c; }
                  .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .submenu__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .sub-popup__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .submenu__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .sub-popup__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .submenu__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .sub-popup__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .submenu__link img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .sub-popup__link img {
                    border: 2px solid black;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 75px;
                    height: 75px; }
                    .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .submenu__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .submenu__item .sub-popup__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .submenu__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .sub-popup__item .sub-popup__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .submenu__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .submenu__item .sub-popup__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .submenu__link img + h3, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .sub-popup__item .sub-popup__link img + h3 {
                      border: 2px solid grey;
                      background-color: #F2F2F4;
                      margin-top: 5px;
                      font-size: 18px; }
              .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button {
                width: 100%;
                overflow: hidden;
                margin: 15px 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap; }
                .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button label, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button label {
                  display: flex;
                  justify-content: center;
                  width: 95%;
                  border: 1px solid grey; }
                .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button .see-more-check__input, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button .see-more-check__input {
                  position: absolute;
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  z-index: 1;
                  width: 100%; }
                  .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button .see-more-check__input:checked ~ .sub-popup, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button .see-more-check__input:checked ~ .sub-popup {
                    display: block; }
                  .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button .see-more-check__input:checked ~ label > img, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button .see-more-check__input:checked ~ label > img {
                    animation: one_time_180_rotate 1.5 ease;
                    transform: rotate(180deg); }
                .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .submenu__list .see-more-button .sub-popup, .wrapper .header .header__container .header__menu .menu__list .menu__item .menu__popup .sub-popup__list .see-more-button .sub-popup {
                  display: none; }
      .wrapper .header .header__container .header__avatar {
        display: flex;
        align-items: center;
        padding: 5px; }
        .wrapper .header .header__container .header__avatar img {
          border-radius: 50%;
          width: 50px;
          height: 50px; }
          .wrapper .header .header__container .header__avatar img:hover {
            animation: logo-animation 3s infinite; }

/*  Block main */
.main {
  box-shadow: inset 0 5px 17px 5px #dbc7b5;
  border: 2px solid lightgrey;
  height: 90vh;
  background-color: #F2F2F4; }
  .main .content {
    position: relative;
    top: 80px; }

.footer {
  background-color: #C2A991;
  height: 90px;
  font-family: 'Dancing Script', cursive;
  font-size: 36px; }
  .footer .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px; }
    .footer .footer__container .copyright {
      text-decoration: none;
      color: #552C22; }
