* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #b4cbff;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
}

.header > a:focus,
.header__link:focus,
#popup_checkbox:focus ~ .popup_label,
.popup_item:focus,
.user_avatar:focus
{
    outline: 2px solid #0C2B63;
}

.header__logo {
    padding: 2px;
    border-radius: 50%;
}

.logo_img{
    width: 30px;
    height: 30px;
}

.header__logo:hover,
.header__logo:focus,
.header__link:focus,
.header__link:hover,
#popup_checkbox:focus ~ .popup_label,
.popup_label:hover,
#popup_checkbox:checked ~ .popup_label,
.popup_item:hover,
.popup_item:focus {
    background-color: #7396f5;
}

.header__menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.header__menu > li {
    display: block;
    margin-right: 15px;
}

.header__menu > li:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    color: #747474;
    padding: 6px;
    border-radius: 15px;
}

.hidden_checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup_label {
    cursor: pointer;
    display: block;
    border-radius: 10px;
}

.popup_label img {
    width: 32px;
    height: 32px;
    display: block;
}

.user_avatar{
    border-radius: 50%;
    display: block;
}
.avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.popup_container,
.popup_more,
#more_checkbox:checked ~ .more_label,
#more_checkbox:checked {
    display: none;
}

#popup_checkbox:checked ~ .popup_container {
    display: block;
    position: absolute;
    top: 80px;
    right: 2px;
    border: 2px solid #7396f5;
    border-radius: 2px;
    width: 300px;
    height: 362px;
    overflow: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
}

.popup_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    align-items: stretch;
    list-style-type: none;
}

.popup_item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 3px;
    border-radius: 2px;
}

.popup_image_container{
    flex: 1 1 auto;
}

.popup_item img {
    display: block;
    width: 50px;
    margin: 10px auto;
}

.popup_item p {
    text-align: center;
    color: #747474;
}

.more_label {
    display: block;
    background-color: #7396f5;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.more_label:hover,
#more_checkbox:focus ~ .more_label {
    background-color: #7396f5;
}

#more_checkbox:checked ~ .popup_more {
    display: block;
}

.more_hr {
    margin: 2px 0;
    border-top: 1px solid #0C2B63;
}
