.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.header__logo {
  margin-inline: auto;

  color: inherit;
  text-decoration: none;
}

.header__navBtn {
  padding: 5px 15px;
  
  color: inherit;
  font-size: 0.8em;
  
  background-color: transparent;
  border: 1px solid rgb(255 255 255 / 0.4);
}


@media (min-width: 768px) {
  .header__navBtn {
    display: none;
  }
}
