.nav {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: -100%;
  
  inline-size: 100%;
  block-size: 100vh;
  
  background-color: #000;
  transition: inset-inline-start 0.1s;
}

.nav--visible {
  inset-inline-start: 0;
}

.nav__closeBtn {
  display: block;
  inline-size: 100%;
  margin-block-end: 10px;
  padding: 15px;

  color: inherit;
  font: inherit;

  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav__link {
  display: block;
  padding: 15px 10px;
  
  color: inherit;
  text-decoration: none;
}

.nav__link:hover {
  background: rgb(255 255 255 / 0.1);
}

.nav__link--active {
  background: rgb(255 255 255 / 0.1);
}


@media (min-width: 768px) {
  .nav {
    position: static;
  }

  .nav__closeBtn {
    display: none;
  }
}
