@import 'variables/variables';
@import 'components/base';
@import 'components/main';
@import 'components/timer';
@import 'components/winpage';
@import 'components/animation';
@import 'adaptive/media';