/* Global Vars */
:root {
    --white: #fff;
    --black: #000;
    --background-color: var(--white);
    --text-color: var(--black);
}

.theme-dark {
    --white: #000;
    --black: #fff;
    --background-color: var(--black);
    --text-color: var(--dark);
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: var(--white);
    color: var(--black);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
    box-shadow: 0 2px 4px 0 rgb(76,76, 75, 0.1);
    text-align: center;
    padding: 10px 15px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: var(--black);
}

.header__toggle-menu {
    width: 30px;
    height: 25px;
    position: relative;
}

.header__toggle-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--black);
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header__toggle-menu span:nth-child(1) {
    top: 0px;
}

.header__toggle-menu span:nth-child(2),
.header__toggle-menu span:nth-child(3) {
    top: 11px;
}

.header__toggle-menu span:nth-child(4) {
    top: 22px;
}

.header__toggle-menu_open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.header__toggle-menu_open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header__toggle-menu_open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header__toggle-menu_open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.header__logo:hover {
    text-decoration: none;
}

@media (min-width: 992px) {
    .header__toggle-menu {
        display: none;
    }
}

@media (max-width: 991px) {
    .header {
        font-size: 14px;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
    }
}

/* Main */
.main {
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
}

.main__header {
    width: 100%;
}

.main__sidebar {
    width: 300px;
    padding: 10px;
    position: relative;
}

.main__sidebar--block {
    display: block;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main__sidebar--block:last-child {
    margin-bottom: 0;
}

.main__sidebar--block:after {
    content: '';
    width: 60%;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main__sidebar--block:last-child:after {
    content: none;
}

.main__sidebar--block h6 {
    font-weight: bold;
}

.main__content {
    width: calc(100% - 300px);
    padding-bottom: 20px;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .main {
        min-height:100vh;
        height: 100%;
    }

    .main__sidebar--inner {
        position: fixed;
        top: 74px;
        bottom: 0;
        overflow-y: auto;
        width: 280px;
    }
}

@media (max-width: 991px) {
    .main__sidebar {
        background-color: var(--white);
        width: 100%;
        position: fixed;
        top: 46px;
        bottom: 0;
        left: -100%;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 1;
    }

    .main__sidebar_open {
        left: 0;
    }

    .main__content {
        width: 100%;
    }

    .main__sidebar--block {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

/* Users */
.users {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.users__item {
    height: 100%;
}

.user {
    display: block;
    height: 100%;
    position: relative;
}

.user-poster {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    border: 1px solid var(--black);
}

.user-poster > img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.user-block {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 38px;
}

.user-headings {
    padding: 10px;
    text-align: center;
}

.user-headings h5 {
    font-size: 14px;
}

.user-headings h6 {
    font-size: 13px;
    margin-bottom: 0;
}

.user-headings strong {
    font-family: serif;
}

.user-description {
    padding: 10px 10px 30px;
    text-align: center;
}

.user-description p {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.user-description p:last-child {
    margin-bottom: 0;
}

.user-description .uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.user-description a {
    color: inherit;
    font-size: 12px;
}

.user-button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    padding: 10px 5px;
    display: block;
    transition: 0.3s;
}

.user-button:hover,
.user-button:focus,
.user-button:active {
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
}

@media (min-width: 992px) {
    .user_single {
        text-align: left;
    }
    
    .user_single .user-block {
        padding: 15px;
        height: auto;
    }
    
    .user_single .user-poster {
        float: left;
    }
    
    .user_single .user-headings {
        padding-left: 120px;
        text-align: left;
    }
    
    .user_single .user-description {
        text-align: left;
        clear: left;
    }
}

@media (max-width: 1300px) {
    .users {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}

@media (max-width: 991px) {
    .users {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (max-width: 767px) {
    .users {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}


/* filter */
.filter {
    display: block;
}

.filter__block {
    display: block;
    margin-bottom: 10px;
}

.filter__block:last-child {
    margin-bottom: 0;
}

.filter__block label {
    margin-bottom: 0;
}

.filter__block input[type="text"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 70%;
    text-align: center;
}

.filter__block input[type="submit"],
.filter__block input[type="reset"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 70%;
    border-radius: 4px;
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
    transition: 0.3s;
}

.filter__block input[type="submit"]:hover,
.filter__block input[type="submit"]:focus,
.filter__block input[type="submit"]:active,
.filter__block input[type="reset"]:hover,
.filter__block input[type="reset"]:focus,
.filter__block input[type="reset"]:active {
    background-color: var(--black);
    border-color: var(--white);
    color: var(--white);
}

@media (max-width: 991px) {
    .filter__block input[type="submit"],
    .filter__block input[type="reset"] {
        margin-top: 20px;
    }
}
