/*Общий стиль*/
*:focus {
	box-sizing: border-box;
	outline: 1px solid #8DAEFF;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body { 
	margin: 0px;
	background-color: #B0E0E6;
	font-family: 'Roboto';
} 

/*Стили хедера*/
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	height: 50px;
	width: 100%;
	border-bottom:  1px solid black;
}

/*Стили логотипа*/
#logo {
	font-family: 'Silkscreen', cursive;
	font-size: 40px;
}
#logo a {
	text-decoration: none;
	color: black;
}

#logo a:focus {
	outline: none;
	color: red;
}

/*Навигация*/
#nav_bar {
	margin-right: 20px;
}

#nav_bar li {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	margin-left: 15px;
}
#nav_bar li a {
	color: black;
	text-decoration: none;
}
#nav_bar li a:focus {
	opacity: 0.5;
	outline: none;
}

#nav_bar li:hover {
	text-decoration: underline;
}

#nav_bar ul {
	padding: 0;
	margin: 0;
	width: auto;
	display: flex;
	align-items: center;
}

/*стиль иконок навигации*/
#notification{
	height: 32px;
	width: 32px;
}

#avatar {
	border-radius: 50%;
	height: 35px;
	width: auto;
}

/*Чекбокс меню*/
#menu { 
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	outline: none;
}

/*Иконка открытия меню*/
#menu:focus + #label_menu > #label_icon {
	/*border-radius: 25%;
	border: 1px solid grey;
	box-sizing: border-box;
	background-color: #99ddff; */
	background-image: url("images/popup-button-active.png");
	background-repeat: no-repeat;
	background-position: center;
	outline: none; 
}

#label_icon {
	background-image: url("images/popup-button.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
}

#label_icon:hover  {
	background-image: url("images/popup-button-hover.png");
	background-repeat: no-repeat;
	background-position: center;	
}

#label_icon:active {
	background-image: url("images/popup-button-active.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*Тело попапа*/
#popup_body {
	visibility: hidden;
	opacity: 0;
	display: none;
}

#menu:checked ~ #popup_body {
	background-color: white;
	visibility: visible;
	opacity: 1;
	width: 300px;
	height: 385px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	top: 55px;
	right: 20px;
	border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

/*Стили иконок в меню*/
.item {
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: space-between;
	margin: 10px;
	flex-wrap: wrap;
	font-size: 15px;
	box-sizing: border-box;
	cursor: pointer;
}

.item a {
	color: black;
	text-decoration: none;
}

.item a:hover {
	color: #3498eb;

}

.item:focus {
	text-decoration: underline;
	font-weight: bold;
	color: #3498eb;
	outline: none;
}

.item img {
	height: auto;
	max-height: 45px;
	width: auto;
	margin-bottom: 5px;
}

/*Кнопка More*/
#more_icons_label {
	background-color: #e6e6e6;
	width: 100%;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#more_icons {
	visibility: hidden;
	opacity: 0;
	display: none;
}

#more_checker {
	opacity: 0;
	position: absolute;
}	

#more_checker:checked {
	display: none;
}

#more_checker:checked ~ #more_icons {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	visibility: visible;
	opacity: 1;
	background-color: white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#more_checker:checked + #more_icons_label {
	display: none;
}

#more_checker:focus + #more_icons_label {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}