@import "nullstyle.scss";

.wrapper{
    max-width: 700px;
    margin: 0 auto;
    transition: 0.3s;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.625em;
}
.header__link{
    color: #000;
    display: block;
    border: 2px solid transparent;
    padding: 0.312em;
    border-radius: 5px;
}
.header__link:hover{
    border: 2px solid rgb(94, 170, 233);
}
.header__link:focus{
    border: 2px solid rgb(94, 170, 233);
}
.header__info{
    position: relative;
    display: flex;
    align-items: center;
}
.header__info-item{
    margin-right: 1.25em;
    cursor: pointer;
}
.header__info-item:last-child{
    margin-right: 0;
}
.header__bell{
    width: 35px;
    height: 40px;
}
.header__bell img{
    width: 100%;
    height: 100%;
}
.menu{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    padding: 0.312em;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid transparent;
}
.menu:hover{
    border: 2px solid rgb(94, 170, 233);
}
.menu__input{
    appearance: none;
    position: absolute;
}
.menu__input:focus ~ .menu{
    border: 2px solid rgb(94, 170, 233);
}
.menu-img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.header__admin{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s
}
.header__admin img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu__input:checked ~ .popup{
    display: block;
}

//==================POPUP========================//

.popup{
    position: absolute;
    top: 65px;
    right: 0px;
    width: 297px;
    height: 450px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    padding: 0.625em;
    box-shadow: 0px 0px 9px rgb(146, 146, 146);
    display: none;
    overflow-y: auto;
}
.popup__items{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    margin-bottom: 0.625em;
}
.popup__item{
    height: 115px;
}
.popup__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    width: 100%;
    height: 100%;
    padding: 0.312em;
    border-radius: 5px;
}
.popup__link:hover{
    border: 2px solid rgb(94, 170, 233);
}
.popup__link:focus{
    border: 2px solid rgb(94, 170, 233);
}
.popup__img-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.popup__img{
    width: 100%;
}
.popup__more{
    appearance: none;
    position: absolute;
}
.popup__more:checked + label{
    display: none;
}
.popup__more:checked ~ .popup__items--hidden{
    display: grid;
}
.label__more{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0.625em;
    background-color: rgb(91, 53, 230);
    border-radius: 5px;
    margin: 0.625 auto;
    cursor: pointer;
}
.label__more:hover{
    background-color: rgb(136, 105, 247);
}
.popup__more:focus + label{
    background-color: rgb(136, 105, 247);
}
.popup__items--hidden{
    border-top: 1px solid rgb(167, 167, 167);
    padding-top: 0.625em;
    display: none;
}

@media(max-width: 720px){
    .header__link{
        margin-right: 0.625em;
    }
    .header__info-item{
        margin-right: 0.625em;
    }
}
