@font-face {
  font-family: "exo2";
  src: url(fonts/Exo2-Light.ttf);
  src: url(fonts/Exo2-Regular.ttf);
  src: url(fonts/Exo2-SemiBold.ttf);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleBurger {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

body {
  display: flex;
  justify-content: center;
}
img {
  object-fit: contain;
}

.container {
  display: block;
  background-image: url(img/grey_marble.jpg);
  background-size: cover no-repeat;
  width: 100%;
  min-height: 600px;
}

.burger {
  position: absolute;
  display: block;
  height: 150px;
  width: 150px;
  background: none;
  border: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px rgba(186, 36, 36, 0.8);
  background: rgba(186, 36, 36, 0.1);
  border-radius: 50%;
}

.burger:hover {
  animation: scaleBurger 0.5s;
  animation-fill-mode: forwards;
}

.burger__img {
  height: 100%;
  width: 100%;
}

.menu__wrapper {
  height: 100%;
}

.menu__list {
  background-image: url(img/parchment.jpg);
  width: 50%;
  height: 70%;
  border: 3px solid rgb(58, 57, 59);
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  z-index: 5;
  animation: fadeIn 1s;
  box-shadow: 3px 5px 10px rgb(125, 77, 37);
}

.menu__list_hidden {
  display: none;
}

.menu__item {
  height: 40px;
  padding: 5px 0 5px 0;
  font-size: 30px;
  font-family: "Exo2";
  font-weight: 600;
  border-bottom: 2px solid brown;
}

.menu__item:hover {
  animation: scale 1s;
  animation-fill-mode: forwards;
}

.menu__link {
  text-decoration: none;
  color: black;
  height: 40px;
}

.main__content {
  display: block;
  box-sizing: border-box;
}

.first__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding-top: 90px;
}

.description {
  margin: 20px;
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 5px;
  width: 80%;
  background-color: rgba(198, 171, 135, 0.5);
  border: 4px solid rgba(45, 23, 5, 0.728);
  border-radius: 5px;
  object-fit: contain;
  font-size: 20px;
  font-family: Exo2;
  line-height: 22px;
}

.content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding-top: 90px;
  font-family: "Exo2";
  animation: fadeIn 1s;
}

.content__image {
  display: block;
  width: 80%;
  height: 100%;
  border: 4px solid rgba(45, 23, 5, 0.728);
  border-radius: 5px;
  object-fit: contain;
}

.content__text__wrapper {
  margin-top: 20px;
  width: 80%;
  background-color: rgba(198, 171, 135, 0.5);
  border: 4px solid rgba(45, 23, 5, 0.728);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.content__title {
  font-size: 350%;
  margin-top: 20px;
  text-align: center;
}

.content__subtitle {
  font-size: 150%;
  margin-top: 12px;
  text-align: center;
}

.content__warcry {
  font-size: 110%;
  font-style: italic;
  margin-top: 25px;
  text-align: right;
  line-height: 20px;
}

.content__description {
  margin-top: 30px;
  font-size: 100%;
  line-height: 20px;
}

.content__main__legion {
  margin-top: 20px;
  font-size: 120%;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 779px) {
  .burger {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: row;
  }

  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    position: initial;
    transform: none;
    width: 120%;
    animation: fadeIn 1s;
    padding-top: 60%;
  }

  .menu__list_hidden {
    display: flex;
  }

  .content__container {
    padding-top: 5%;
  }

  .content__text__wrapper {
    width: 80%;
  }

  .first__page {
    padding-top: 5%;
  }

  .lorgar {
    width: 60%;
  }

  .menu__item {
    background-color: rgba(172, 85, 27, 0.221);
    border-bottom: 2px solid rgb(125, 93, 54);
    border-top: 2px solid rgb(125, 93, 54);
    border-radius: 5px;
    margin-top: 10px;
  }

  .description {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .menu__list {
    width: 140%;
  }

  .content__container {
    width: 100%;
    padding-top: 5%;
  }

  .menu__item {
    height: 50px;
    font-size: 37px;
  }

  .content__image {
    width: 60%;
  }

  .content__text__wrapper {
    width: 70%;
    font-size: 130%;
  }

  .content__title {
    font-size: 350%;
    margin-top: 40px;
  }

  .content__subtitle {
    font-size: 150%;
    margin-top: 30px;
  }

  .content__warcry {
    font-size: 110%;
    font-style: italic;
    margin-top: 40px;
    text-align: right;
    line-height: 30px;
  }

  .content__description {
    margin-top: 50px;
    font-size: 100%;
    line-height: 28px;
  }

  .content__main__legion {
    margin-top: 50px;
    font-size: 120%;
    text-align: center;
    margin-bottom: 15px;
  }

  .description {
    width: 60%;
    margin-top: 50px;
    font-size: 150%;
    line-height: 28px;
  }
}

@media (min-width: 1350px) {
  body {
    background-color: rgba(99, 95, 86, 0.526);
  }

  .container {
    width: 1350px;
  }

  .content__image {
    width: 60%;
  }

  .content__text__wrapper {
    width: 60%;
  }
}
