
* {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-image: url('https://i.im.ge/2022/08/03/FE91Z6.5624543.jpg');
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #E6DC1B;
    border-radius: 10px;
    margin: 10px;
    height: 60px;
}

.nav-item {
    width: 100px;
}

.logo {
    font-size: 30px;
}

.logo:hover {
    transition: 0.5s;
    font-size: 40px;
    color: #E6DC1B;

    text-shadow: 3px 0px 7px #5D5933, 
        -3px 0px 7px #5D5933, 
        0px 4px 7px #5D5933;
}

.greeting {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#menu-check, #menu-check-more{
    appearance: none;
}

.main-menu{
    position:absolute;
    display: none;
    margin-top: 40px;
    background-color: #F4F4EF;
    border-radius: 10px;
    box-shadow: 0 0 0 3.5px #b3b3b3, 0 0 0 7px #5d5933;
    height: 345px;
    width: fit-content;
    overflow-y: scroll;
}


.main-menu::-webkit-scrollbar {
    width: 10px;
}

.main-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #E6DC1B;
}

#menu-check:checked ~ .main-menu, #menu-check-more:checked ~ .main-menu-more{
    display: block;
}

.popup-grid {
    display: grid;
    grid-template: repeat(1, 130px) / repeat(3, 130px);
    justify-items: center;
    align-items: center;
}

.popup-grid-more {
    display: grid;
    grid-template: repeat(1, 130px) / repeat(3, 130px);
    justify-items: center;
}

.main-menu-more{
    display: none;
}

.item-name{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100px;
    width: 100px;
}

.list {
    list-style: none;
    padding: 10px
}

.input-check:focus + .check, .input-check:focus + .check-more {
    border-radius: 10px;
    outline: #5d5933 solid 5px;
    outline-offset: 5px;
    font-size: 50px;
    transition: 0.5s;
}

.input-check:hover + .check, .input-check:hover + .check-more {
    border-radius: 10px;
    outline: #5d5933 solid 5px;
    outline-offset: 5px;
    font-size: 50px;
    transition: 0.5s;
}

.check, .check-more{
    font-size: 45px;
}

.check-more{
    margin-left: 190px;
}

#menu-check-more:checked ~ .check-more{
    display: none;
}

.icon{
    height: 50px;
    width: auto;
    cursor: pointer;
}

.item-name:focus, .item-name:hover{
    border-radius: 10px;
    box-shadow: 0 0 0 2.5px #B3B3B3, 0 0 0 5px #5d5933;
    font-size: 35px;
    transition: 0.5s;
    background-color: #CBCAC7;
}


.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    height: fit-content;
    width: fit-content;
    background-color: #E6DC1B;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}

.post:hover{
    box-shadow: 0 0 0 4px #B3B3B3, 0 0 0 10px #5d5933;
    transition: 0.5s;
}

.topzone{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
}

.post-img{
    height: 512px;
    border-radius: 15px;
}

.action-zone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #E6DC1B;
    border: none;
    margin-top: 15px;
}

.btn{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.btn:hover{
    box-shadow: 0 0 0 2.5px #B3B3B3, 0 0 0 5px #5d5933;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 25px;
}

.post-time{
    margin-top: 10px;
    font-size: 15px;
    color: #5d5933;
}