
*{
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
body{
    size: 80%;
    background-image: url('https://i.im.ge/2022/08/03/FE91Z6.5624543.jpg');
}

nav{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #E6DC1B;
    height: 80px;
    align-items: center;
    margin: 10px;
    padding: 0 15px 0 15px;
    border-radius: 10px;
}

h1{
    font-size: 40px;
    cursor: pointer;
}

h1:hover{
    font-size: 40px;
    color: #E6DC1B;

    text-shadow: 3px 0px 7px #5D5933, 
        -3px 0px 7px #5D5933, 
        0px 4px 7px #5D5933;
}

nav:hover{
    box-shadow: 0 0 0 4px #B3B3B3, 0 0 0 10px #5D5933;
}

a{
    text-decoration: none;
}

.post{
    width: fit-content;
    height: fit-content;
    margin: 60px auto auto auto;
    background-color: #E6DC1B;
    padding: 10px;
    border-color: black;
    border: 50px;
    border-radius: 15px;

}

.post:hover{
    box-shadow: 0 0 0 4px #B3B3B3, 0 0 0 10px #5D5933;
}

.post img{
    height: 512px;
    border-radius: 15px;
}

.like-btn img{
    width: 40px;
    height: 40px;
    background-color: #E6DC1B;
}


.comment-btn img{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #E6DC1B;
}

button{
    margin: 10px 5px;
    border: 0;
    background-color: #E6DC1B;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 0 2.5px #b3b3b3, 0 0 0 5px #5d5933;
    border-radius: 10px;
}

button:focus{
    background-color: #E6DC1B;
    border-radius: 10px;
    box-shadow: 0 0 0 2.5px #b3b3b3, 0 0 0 5px #5d5933;
}

button img{
    height: 40px;
    width: 40px;
}

.share-btn img{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #E6DC1B;
}

.topzone{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.topzone img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.topzone p{
    font-size: 20px;
    font-weight:bolder;
}

#menu-check, #menu-check-more{
    display: none;

}

.main-menu{
    display: none;
    position: absolute;
    margin-top: 20px;
    padding: 12px;
    background-color: #CBCAC7;
    border-radius: 10px;
    box-shadow: 0 0 0 3.5px #B3B3B3, 0 0 0 7px #5d5933;
    height: 380px;
    overflow-y:scroll;
}


.main-menu::-webkit-scrollbar {
    width: 10px;
}
  
.main-menu::-webkit-scrollbar-track {
    background-color: #CBCAC7;
    border-radius: 10px;
}
  
.main-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #E6DC1B;
}


.main-menu img{
    height: 50px;
    width: auto;
    cursor: pointer;
}

#menu-check:checked ~ .main-menu, #menu-check-more:checked ~ .main-menu-more{
    display: block;
    transition: 4s;
}

.popup-grid {
    display: grid;
    grid-template: repeat(4, 115px) / repeat(3, 115px);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.main-menu-more{
    display: none;
}


.popup-grid-more {
    display: grid;
    grid-template: repeat(2, 115px) / repeat(3, 115px);
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.item-name{
    word-wrap: break-word;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    height: 100px;
    width: 100px;
}

.main-menu img{
    height: 50px;
    width: auto;
    cursor: pointer;
}

.label-more .img{
    box-shadow: 0 0 0 1px #b3b3b3, 0 0 0 5px #5d5933;
    margin: 25px;
    padding: 7px 80px;
    border-radius: 10px;
}

#menu-check-more:checked ~ .label-more{
    display: none;
}

li a:hover {
    box-shadow: 0 0 0 2.5px #b3b3b3, 0 0 0 5px #5d5933;
    border-radius: 10px;
    cursor: pointer;
}

li a:focus{
    background-color: #B3B3B3;
    border-radius: 10px;
    box-shadow: 0 0 0 2.5px #b3b3b3, 0 0 0 5px #5d5933;
}

.main-menu label img{
    margin-left: 149px;
}


ul { list-style: none; }
