* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

$header-height: 5vh;
$footer-height: 4vh;
$main-height: 100vh - $footer-height - $header-height;
$menu-width: 15vw;
$main-width: 100vw - $menu-width;

$color-back-header: rgb(68, 202, 206);
$color-text-header: rgb(110, 251, 240);
$color-menu-dark: rgb(6, 61, 63);
$color-menu-item: rgb(29, 153, 157);
$color-menu-hover-item: rgb(10, 110, 100);
$color-menu-text: rgb(156, 250, 242);
$color-menu-hover-text: rgb(240, 209, 56);
$color-main: rgb(245, 229, 185);
$color-check-card: rgb(220, 130, 12);

:root {
    --columns-card: 0;
    --rows-card: 0;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: $header-height $main-height $footer-height;
    grid-template-columns: $menu-width $main-width;
    font-family: Arial, Helvetica, sans-serif;
}

#user-pageHeader {
    grid-area: header;
}

#user-pageNav {
    grid-area: nav;
}

#user-pageMain {
    grid-area: main;
}

#user-pageFooter {
    grid-area: footer;
}

.navigation {
    background-color: $color-menu-dark;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1.7rem;
}

.menu__item {
    cursor: pointer;
    border: 0.8rem $color-menu-dark solid;
    background-color: $color-menu-item;
    transition: 0.25s;
}

.menu__title {
    color: $color-menu-text;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.2rem;
    line-height: 2rem;
    display: block;
    text-align: center;
}

.menu__item:hover,
.menu__title:focus {
    background-color: $color-menu-hover-item;
}

.menu__item:hover .menu__title,
.menu__title:focus {
    color: $color-menu-hover-text;
}

.main {
    background-color: $color-main;
}

.main__div {
    display: grid;
    grid-template-columns: repeat(var(--columns-card), 1fr);
    grid-template-rows: repeat(var(--rows-card), 1fr);

    .div__card {
        width: calc($main-width / var(--columns-card));
        height: calc($main-height / var(--rows-card));
        position: relative;

        .card-face,
        .card-back,
        .card-checked,
        .card-off-checked {
            $square-image: min(
                calc($main-width / var(--columns-card)) * 0.85,
                calc($main-height / var(--rows-card)) * 0.85
            );
            width: $square-image;
            height: $square-image;
            position: absolute;
            margin-left: calc(
                calc(calc($main-width / var(--columns-card)) - $square-image) /
                    2
            );
            margin-top: calc(
                calc(calc($main-height / var(--rows-card)) - $square-image) / 2
            );
            transition: 0.2s;
        }

        .card-checked {
            opacity: 0.3;
            border-color: $color-check-card;
            border-style: solid;
            border-width: 0.45rem;
            box-shadow: -2px 0px 30px -3px $color-check-card;
        }

        .card-face {
            border-color: $color-back-header;
            border-style: solid;
            border-width: 0.45rem;
        }

        .card-back {
            cursor: pointer;
        }

        .card-back:hover {
            border-color: $color-back-header;
            border-style: solid;
            border-width: 0.2rem;
            box-shadow: -2px 0px 30px -3px $color-menu-dark;
        }
    }
}

.header {
    text-transform: uppercase;
    font-size: 2.3rem;
    color: $color-text-header;
}

.footer,
.header {
    background-color: $color-back-header;
    font-weight: 700;
    text-shadow: 0.3rem 0.3rem 1rem $color-menu-dark;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    font-size: 1.5rem;
}

.git,
.menu__title {
    text-decoration: none;
}

.git:hover,
.git:focus {
    color: white;
}

$one-px: 0.06em;
$bp-small-0: 10em;
$bp-small-1: 22em; //320
$bp-small-2: 28em; //480
$bp-med-1: 34em;
$bp-med-2: 42em; //768
$bp-large-1: 46em;
$bp-large-2: 48em;
$bp-xl-1: 55em; // 992
$bp-xl-2: 62em; //
$bp-xl-3: 70em; // 1200

$screen-resolution-range: (
    $bp-small-0: $bp-small-1 - $one-px,
    $bp-small-1: $bp-small-2 - $one-px,
    $bp-small-2: $bp-med-1 - $one-px,
    $bp-med-1: $bp-med-2 - $one-px,
    $bp-med-2: $bp-large-1 - $one-px,
    $bp-large-1: $bp-large-2 - $one-px,
    $bp-large-2: $bp-xl-1 - $one-px,
    $bp-xl-1: $bp-xl-2 - $one-px,
    $bp-xl-2: $bp-xl-3 - $one-px,
    $bp-xl-3: $bp-xl-3 + $bp-xl-3,
);

@mixin html-font($font-size) {
    html {
        font-size: $font-size;
    }
}

@each $min-width, $max-width in $screen-resolution-range {
    @media all and (min-width: $min-width) and (max-width: $max-width) {
        @include html-font(calc($min-width/ 100));
    }
}

@media all and (orientation: portrait) {
    $header-height: 4vh;
    $menu-width: 17vw;

    .main__div {
        grid-template-columns: repeat(var(--rows-card), 1fr);
        grid-template-rows: repeat(var(--columns-card), 1fr);

        .div__card {
            width: calc($main-width / var(--rows-card));
            height: calc($main-height / var(--columns-card));

            .card-face,
            .card-back,
            .card-checked,
            .card-off-checked {
                $square-image: min(
                    calc($main-width / var(--rows-card)) * 0.93,
                    calc($main-height / var(--columns-card)) * 0.93
                );
                width: $square-image;
                height: $square-image;
                margin-left: calc(
                    calc(calc($main-width / var(--rows-card)) - $square-image) /
                        2
                );
                margin-top: calc(
                    calc(
                            calc($main-height / var(--columns-card)) -
                                $square-image
                        ) / 2
                );
            }
        }
    }
}
