* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-bar {
    display: flex;
    justify-content: center;
    background-color: orange;
    border-bottom: 5px solid rgb(170, 57, 8);
}

.logo {
    height: 50px;
    padding: 10px 0px;
}

.main-content {
    background-color: rgb(255, 225, 168);
    display: flex;
    padding: 50px 15px;
    justify-content: center;
}

.main-content__time{
    font-size: 20px;
    font-weight:800;
    display: flex;
    justify-content: center;
}

.main-content__flips{
    font-size: 20px;
    font-weight:800;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main-content__playing-field{
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    justify-content: center;
    padding-top: 20px;
}

.flip-card-img{
    height: 150px;
}

.flip-card-back-img {
    height: 100px;
    display: flex;
}

.main-content {
    justify-content: center;
    flex-direction: column;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

.rotate_card {
		transform: rotateY(180deg);
	}

.flip-container {
	height: 510px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
        display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
