@media screen and (min-width: 1025px) {
  .wrapper {
    padding: 2%;
  }
  /* ------------SWITCHER--------------- */
  .switcher {
    width: 3%;
    top: 4%;
    left: 2%;
  }
  /* ------------MAIN--------------- */
  .main__container {
    padding-top: 0;
  }
  .main__info {
    width: 75%;
    justify-content: flex-start;
  }
  .main__info__name {
    font-size: 2.5rem;
    padding: 20px 0;
  }
  .main__info__personage {
    flex-direction: row;
    width: 100%;
  }
  .main__info__figure {
    max-width: 30%;
  }
  .main__info__personage table {
    width: 50%;
    height: 70%;
  }
  .main__info__personage table caption {
    padding-bottom: 20px;
  }
  .main__info__text {
    column-count: 2;
    padding: 40px 25px 0 25px;
  }
  /* ------------NAVIGATION--------------- */
  .main__navigation {
    padding: 0 0 0 2%;
    width: 25%;
  }
  .main__navigation__menu__container {
    padding: 3%;
  }
  .main__navigation__image {
    border-radius: 50%;
    max-width: 40%;
    padding-bottom: 5%;
  }
  .main__navigation__menu__list {
    border-radius: 3%;
  }
  .main__navigation__menu__list__link {
    font-size: 1.4em;
    padding: 2% 0;
  }
  .main__navigation__menu h2,
  .main__navigation__menu__list__link {
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1600px) {
  .main__container {
    height: 90%;
  }
  .main__info__strip {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .main__info__strip li {
    text-align: center;
  }
  .main__info__strip__link__image {
    width: 80%;
  }
  footer {
    height: 10px;
  }
}

@media screen and (min-width: 1600px) and (max-height: 900px) {
  .main__info__strip__link__image {
    width: 50%;
  }
}

@media screen and (min-height: 1200px) {
  .main__info {
    justify-content: space-around;
  }
  .main__navigation {
    justify-content: center;
  }
}
