* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("img/background_space.jpg"), black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 480px;
    height: 600px;
    perspective: 1200px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.wins-counter {
    display:flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: orangered;
    opacity: 80%;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card.hidden {
    visibility: hidden;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    border: 2px solid transparent;
    opacity: 75%;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}

@media screen and (max-width: 1024px) and (min-height: 601px) {
    .memory-game {
        width: 90vw;
        height: 120vw;
    }
}

