.label {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.label:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.label svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.label svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.label svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.label:hover:before {
    opacity: 1;
}

.label:hover svg {
    stroke: #4285f4;
}

.input:checked+.label svg {
    stroke: #4285f4;
}

.input:checked+.label svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.input:checked+.label svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.searchByName {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}

.searchField {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 14px;
    font-weight: 300;
    color: #4285f4;
    letter-spacing: 1px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.searchField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 1px;
    border-color: #4285f4;
    border-image-slice: 1;
}

.searchField:focus~.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #4285f4;
    font-weight: 700;
}

.burgerLabel {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

.burgerLabel span {
    background: #0f66f1;
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
    width: 50%;
}

span:nth-of-type(2) {
    width: 100%;
}

span:nth-of-type(3) {
    width: 75%;
}

.burgerInput {
    display: none;
}

.burgerInput:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px)
}

.burgerInput:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg)
}

.burgerInput:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
}
