* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

$color-menu-dark: rgb(7, 68, 64);
$color-menu-focus: rgb(189, 226, 234);
$color-submenu: rgb(5, 37, 41);
$color-submenu-fon: rgb(184, 242, 242);
$color-submenu-focus: rgba(255, 255, 255, 0.5);
$color-header: rgb(68, 202, 206);
$color-mein: rgb(90, 161, 177);

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: $color-header;
}

.nav {

    .nav__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50px;

        .li-menu,
        .content-button,
        .content-button-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-weight: 500;
            text-shadow: 3px 3px 8px $color-menu-dark;
            text-transform: uppercase;
            color: $color-submenu;

            .item-menu:hover,
            .item-menu:focus {
                color: $color-menu-focus;
            }

            .label__base:hover,
            &:focus-within label {
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}

.checkbox-base,
.checkbox-additional {
    appearance: none;
    position: absolute;
}

.content {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 370px;
    height: 400px;
    gap: 28px;
    overflow: auto;
    border: 2px solid $color-header;
    border-radius: 10px;
    background-color: $color-submenu-fon;
}

.content__base {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: none;
}

.content__additional {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: none;
}

.content-button,
.content-button-add {
    padding: 10px;
}

.content__application img {
    height: 75px;
    width: 75px;
    padding: 10px;
}

.label-additional {
    display: grid;
    text-align: center;
    padding: 20px;
}

#checkbox-base:checked~.content {
    display: block;
}

#checkbox-additional:checked~.content__additional {
    display: grid;
}

.checkbox-additional:checked~.label-additional {
    display: none;
}

.content-button:hover,
.content-button-add:hover,
.label-additional:hover,
.content-button:focus-within,
.content-button-add:focus-within,
.checkbox-additional:focus~label {
    background-color: $color-submenu-focus;
}

.main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: $color-mein;
}

.main__animated:hover {
    opacity: 0.2;    
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: $color-header;
}

.footer__div {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px $color-menu-dark;
    text-align: center;
}

.footer__git:hover {
    color: $color-menu-focus;
}

@media (max-width: 480px) {
    html {
        font-size: 44%;
    }

    .main__animated {
        transform: scale(.5);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .main__animated {
        transform: scale(.6);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    html {
        font-size: 54%;
    }

    .main__animated {
        transform: scale(.7);
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .main__animated {
        transform: scale(.8);
    }
}

@media (min-width: 1201px) {
    html {
        font-size: 68%;
    }

    .main__animated {
        transform: scale(.87);
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    html {
        font-size: 60%;
    }

    .main__animated {
        transform: scale(.6);
    }
}