* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: slategrey;
    outline: none !important;
}

.header {
    margin: 0 auto;
    /* width: 720px; */
}

.nav {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  list-style-type: none;
}

.nav a {
    text-decoration: none;
}

.nav__item_icon-message, .nav__item_user-avatar {
    display: block;
}

.nav__item_user-avatar {
    border-radius: 50%;
}

.nav__item {
    padding: 15px;
    border: solid 2px white;
    border-radius: 5px;
}

.nav__item:hover, .nav__item:focus-within {
    cursor: pointer;
    border-color: aqua;
    color: black;
}   

.popup-button {
    position: relative;
}

.popup-button:hover .dropdown-menu, .popup-button:focus-within .dropdown-menu{
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 360px;  
    height: 537px; 
    position: absolute; 
    top: 70px;
    left: -267px;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.dropdown { 
    width: 360px;  
    height: 537px; 
    position: absolute; 
    top: 0;
    left: 0px;
    overflow: hidden;
}

.dropdown:hover, .dropdown:focus-within {
    overflow-y: scroll;
}

.dropdown:hover .more-button,.dropdown:focus-within .more-button {
    display: none;
}

.dropdown ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 80%;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: lightgray transparent transparent lightgray;
    transform: rotate(45deg);
    background-color: white;
  }

.dropdown-item a {  
    display: flex; 
    width: 90px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 5px; 
    border: 2px solid white;
    border-radius: 5px;
}

.dropdown-item a:hover, .dropdown-item a:focus-within {
    border-color: aqua;
}

.dropdown-item a p {
    font-size: 1rem;
}

.more-button {
    height: 40px;
    background-color: ghostwhite;
    text-align: center;
    line-height: 40px;
    position: sticky;
    bottom: 0;
}

.end-message {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
}

.end-message:hover a {
    font-weight: bold;
}
