@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

.wrapper {
  background-color: #030332;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 800;
  color: #fefefe;
  background-color: #030332;
  padding: 10px 0px;
  box-shadow: 0 0 10px #ffffff80;
  z-index: 10;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  min-width: 250px;
  height: 350px;
  background-color: #fefefe;
  margin: 77px 0 0 10px;
  border-radius: 5px;
}

.filter-form {
  padding: 5px;
}

.form-title {
  padding: 10px 0 5px 0;
  font-weight: 600;
}

.searchName {
  width: 100%;
  margin-top: 15px;
  padding: 0.5rem;
  background-color: #fefefe;
  border: 1px solid #030332;
  color: #030332;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

label {
  cursor: pointer;
}

input[type="radio"] + span:hover {
  color: #00a6ff;
}

.reset-button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #fefefe;
  border: 1px solid #f44336;
  color: #f44336;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  border: 1px solid transparent;
  background-color: #f44336;
  color: white;
}

.main {
  width: 100%;
  min-height: 50vw;
  min-width: 320px;
  margin: 70px 0;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  width: 210px;
  height: 270px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  padding: 15px 5px;
  text-align: center;
  background: #fefefe;
  border-radius: 5px;
}

.user-card:hover {
  transform: scale(1.02);
  background-color: #fff;
}

.image {
  text-align: center;
  width: 100px;
  border-radius: 50%;
}

.name {
  font-weight: 800;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.email,
.tel {
  color: #6d6d71;
  cursor: pointer;
}

.tel:hover,
.email:hover {
  color: #001aff;
}


.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  content: "";
  top: 20%;
  right: 45%;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.ring::before {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(254, 254, 254, 0.3);
}

.span {
  color: #fefefe;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out linear;
}

@keyframes text {
  50% {
    color: #000;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .header {
    font-size: 20px;
  }
  .user-cards {
    justify-content: center;
    margin: 15px;
  }
  .user-card {
    width: 200px;
  }
  .loader {
    top: 50%;
    right: 35%;
  }
}
