@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E9E9E9;
    background-color: #151724;
}

@media (min-height: 900px) {
    body {
        height: 100vh;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.header__container {
    display: flex;
    flex-direction: column;
    background-color: #252838;
    margin-top: auto;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 5px;
    max-width: 640px;
}

.header__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.header__subtitle {
    margin-top: 20px;
    font-weight: 500;
}

.copyright:hover {
    text-decoration: underline;
}

.memory-game {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 640px;
    height: 600px;
    perspective: 1000px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.memory-card {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.memory-card:not(.memory-card--flipped):active {
    transform: scale(.97);
    transition: transform .3s;
}

.frontside,
.backside {
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
}

.backside {
    filter: invert(90%);
}

.frontside {
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252838;
}

.frontside-img {
    display: block;
    width: 65%;
    height: auto;
    margin-bottom: 20px;
}

.frontside-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-weight: 400;
    color: #E9E9E9;
    text-decoration: none;
}

.popup {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252838;
    color: #fff;
    padding: 100px 50px;
    border-radius: 5px;
    text-align: center;
}

.popup__title {
    margin-bottom: 60px;
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 700;
}

.popup__click-counter {
    display: block;
    margin-bottom: 70px;
    letter-spacing: 1px;
}

.popup__btn {
    display: inline-block;
    background-color: #62729C;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 37px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s;
}

.popup__btn:active {
    outline: 1px solid #f1f1f1;
}

.popup--non-active {
    visibility: hidden;
    opacity: 0;
}

.memory-card--flipped {
    transform: rotateY(-180deg);
}

.popup-background.transparent-bg {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(21, 23, 36, .9);
    z-index: 1;
}
