* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.header {
    padding: 13px 17px;
    box-shadow: 0px 1px 30px 7px rgb(220, 219, 219);
}

.header__menu {
    position: relative;
}

.header__list_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__list_item {
    list-style-type: none;
    padding: 0px 10px;
}

.link {
    color: #494949;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.header__popup,
.header__popup__more {
    display: none;
}

.header__popup_checkbox_more,
.header__popup_checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    appearance: none;
}

.header__popup_label {
    cursor: pointer;
    display: flex;
}

.header__popup__btn:hover {
    opacity: 0.5;
}

.header__link,
.header__popup_item {
    display: flex;
}

.header__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(246, 157, 157);
}

.header__popup {
    position: absolute;
    top: 40px;
    right: 20px;
    box-shadow: 3px 3px 20px 10px rgb(220, 219, 219);
    border-radius: 5%;
    background-color: white;
    overflow-y: scroll;
    height: 420px;
}

.header__popup_items {
    display: grid;
    grid-template: repeat(4, 70px) / repeat(3, 75px);
    justify-items: center;
    align-items: center;
    padding: 20px;
    column-gap: 10px;
    row-gap: 20px;
}

.header__popup_item:hover {
    box-shadow: 2px 2px 8px 3px rgb(220, 219, 219);
    border-radius: 10%;
    padding: 8px 15px;
}

.header__popup_link {
    font-size: 13px;
    text-align: center;
}

.header__popup__img {
    object-fit: contain;
    margin-bottom: 8px;
    align-content: center;
}

.header__popup__more {
    height: 210px;
    overflow: hidden;
}

.header__popup_checkbox:checked~.header__popup,
.header__popup_checkbox_more:checked~.header__popup__more {
    display: block;
}

.header__popup_checkbox:focus~.header__popup_label,
.header__popup_checkbox_more:focus~.header__popup__label_more,
.focus_item:focus,
.header__popup_link:focus {
    outline: grey solid 1px;
}

.header__popup__label_more {
    box-shadow: 2px 2px 10px 4px rgb(220, 219, 219);
    margin-left: 15%;
    padding: 5px 80px;
    color: #494949;
    font-size: 14px;
    border-radius: 10%;
}

.header__popup_checkbox_more:checked~.header__popup__label_more {
    display: none;
}

.header__popup__label_more:hover {
    cursor: pointer;
    opacity: 0.5;
}

