@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap);

*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-weight: 400;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

:focus {
  outline: none;
}

li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}

.nav__list {
  display: flex;
  gap: 30px;
  position: relative;
}

.nav__title {
  color: black;
}

.profile-picture {
  margin-top: -7px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.popup__wrapper {
  display: none;
}

.popup__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(230, 223, 223);
  padding: 20px 10px 0;
  margin: 0 -5px;
  box-shadow: 0 0 20px #e9e5e5;
  border-radius: 3px;
  position: absolute;
  top: 60px;
  right: 0;
  overflow-x: hidden;
  height: 410px;
}

.popup__item {
  width: 33.33%;
  text-align: center;
  padding-top: 5px;
}

.popup__menu::-webkit-scrollbar {
  width: 12px;
}

.popup__menu::-webkit-scrollbar-thumb {
  background-color: rgb(245, 245, 250);
  border-radius: 3px;
  border: 1px solid rgb(207, 203, 198);
  height: 20px;
}

.popup__text {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: black;
}

.popup__checked {
  width: 28px;
  height: 28px;
  border: 2px solid rgb(152, 202, 243);
  border-radius: 3px;
  margin-left: -1.6px;
  margin-top: -1.6px;
  visibility: hidden;
}

.more {
  position: relative;
  text-align: center;
}

.more .more__text {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.more__checkbox {
  position: absolute;
  appearance: none;
}

.popup__checkbox {
  position: absolute;
  appearance: none;
}

.label__more {
  display: inline-block;
  background-color: rgb(245, 245, 250);
  border: 1px solid rgb(207, 203, 198);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.more__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  padding: 0 10px;
  margin: 20px -10px 20px;
}

.more__item {
  width: 33.33%;
  text-align: center;
  padding-top: 5px;
}

.more__wrapper {
  display: none;
}

.popup__checkbox:checked ~ .popup__wrapper {
  display: block;
}

.more__checkbox:checked ~ .more__wrapper {
  display: block;
}

.more__checkbox:checked ~ .label__more {
  display: none;
}

.popup__checked:checked {
  visibility: visible;
}

.label__more:hover {
  background-color: rgb(225, 237, 247);
  border: 1px solid rgb(207, 203, 198);
  transition: 1s ease;
}

.popup__icon:hover,
.bell__icon:hover,
.profile-picture:hover {
  box-shadow: 0 0 6px rgb(225, 237, 247), 0 0 6px rgb(225, 237, 247);
}

.nav__title:hover {
  text-decoration: underline;
}

.popup__item:hover,
.more__item:hover {
  outline: 2px solid rgb(225, 237, 247);
  border-radius: 3px;
}

.popup__item:focus-within,
.more__item:focus-within {
  outline: 2px solid rgb(152, 202, 243);
  border-radius: 3px;
}

.more__checkbox:focus ~ .label__more {
  outline: 2px solid rgb(152, 202, 243);
  border-radius: 3px;
}

.popup__checkbox:focus ~ .label__popup {
  outline: 2px solid rgb(152, 202, 243);
  border-radius: 3px;
}

.nav__title:focus {
  outline: 2px solid rgb(152, 202, 243);
  border-radius: 3px;
}


