.navigation{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;

    & > *{
        display: flex;
        height: $header-height;
        align-items: center;
        cursor: pointer;

    }

    & > *:hover{
        background-color: $hover-background-navigation-color;
    }

    & > *:focus{
        background-color: $hover-background-navigation-color;
    }

}
