body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu__list {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.menu__list__item {
    margin-left: 2em;
    position: relative;
    min-width: 40px;
}

.menu__item__text {
    color: rgb(0, 0, 0, 0.7);
    font-size: 1.3em;
    letter-spacing: 2px;
    text-decoration: none;
}

.menu__item__text:hover {
    color:#64CF6F;
}

.menu__item__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.7s;
}

.menu__item__img:hover {
    box-shadow: 0px 0px 3px 7px rgb(0, 0, 0, 0.2) ;
    background-color: rgb(0, 0, 0, 0.2) ;
}

.popup__input, .more__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.popup__checkbox {
    position: absolute;
    background: url(icons/popup-button.png) center center/cover no-repeat;
    cursor: pointer;
}

.popup {
    height: 40px;
}

.popup:focus-within {
    box-shadow: 0 0 0 0.1em #4A90E2;
    border-radius: 2px;
}

.popup__input:checked ~ .popup__wrapper {
    display: grid;
}

.popup__wrapper {
    padding: 10px 30px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    border: solid 1px grey;
    border-radius: 15px;
    position: absolute;
    top: 60px; 
    right: -90px;
    display: none;
    box-shadow: 0 0 1em rgba(167, 167, 167, 0.5);
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup__icon {
    width: 30px;
    margin-bottom: 10px;
}

.popup__link__item {
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
    height: 90px;
    width: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.popup__link__item:hover {
    box-shadow: 0 0 0 0.05em rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.popup__link__item:focus {
    box-shadow: 0 0 0 0.1em #4A90E2;
}

.more {
    grid-column: 1 / 4;
    display: block;
    margin: 0 auto;
    width: 100%;

}

.more__btn {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color:#64CF6F;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5px;
}

.more__input:focus ~ .more__btn{
    box-shadow: 0 0 0 0.1em #4A90E2;
    border-radius: 2px;
}

.more__input:checked ~ .more__wrapper {
    display: grid;
}

.more__input:checked + label {
    display: none;
}

.more__wrapper {
    margin-top: -15px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    display: none;
    background-color: #fff;
}

@media (max-width: 576px) {
    .menu__list__item {
        margin-left: 1em;
    }

    .menu__item__text {
        font-size: 1em;
    }

    .menu__item__img {
        width: 30px;
        height: 30px;
    }

    .popup__wrapper {
        height: 545px;
        right: -98px;
        grid-template-columns: repeat(3, 70px);
    }

    .popup__checkbox {
        top: 5px;
        left: 5px;
    }
    .popup__link__item {
        padding: 10px;
        font-size: 14px;
        height: 95px;
        box-sizing: border-box;
    }

    .popup__icon {
        width: 30px;
    }
    .more__wrapper {
        grid-template-columns: repeat(3, 70px);
    }
}


