* {
    font-family: Jost, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.popupContainer {
    border: 1px solid rgba(173, 139, 156, 0.34);
    border-radius: 5px;
    box-shadow: -3px 10px 23px 1px rgba(242, 220, 232, 0.22);
    overflow: scroll;
    height: 405px;
    position: relative;
}

.menuContainer {
    background-color: #f5f7fa;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
}

.navWrapper {
    display: flex;
    align-items: center;
    height: 50px;
}

.navItem {
    border: 2px solid transparent;
    position: relative;
    padding: 5px 8px;
}

.navItem:hover {
    border: 2px solid #f6ccdb;
    border-radius: 3px;
}

.navLink {
    font-size: 18px;
    color: dimgray;
    text-decoration: none;
    height: inherit;
    display: block;
}

.navImg, .popupItemImg {
    height: 100%;
    display: block;
}

.navItem.icon {
    width: 25px;
    height: 25px;
}

.navItem .popupBtnCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
}

.popupBtnCheckbox:checked ~ .appsPopup {
    display: block;
}

.popupBtnCheckbox:focus ~ .popupBtnLabel {
    outline: 2px solid #144aba;
    border-radius: 3px;
}

.popupBtnLabel {
    display: block;
}

.popupBtnLabel:focus {
    outline: 2px solid blue;
}

.profile {
    height: 45px;
    width: 45px;
    padding: 0;
    margin-left: 15px;
}

.profile:hover {
    border-radius: 50%;
}

.profileImg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.appsPopup {
    display: none;
    position: absolute;
    right: -15px;
    top: 50px;
    width: 400px;
}

.appsPopup:after {
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    box-shadow: 2px -2px 2px -1px rgb(242 220 232);
    z-index: 0;
    top: -5px;
    left: calc(90% - 3px);
}

.itemList {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hiddenItems {
    display: none;
}

.loadMore {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 0;
}

.loadMore:hover {
    background-color: grey;
}

.visibilityFlag {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
}

.visibilityFlag:focus ~ .loadMore {
    border: 2px solid #144aba;
    border-radius: 3px;
    display: block;
}

.visibilityFlag:checked ~ .loadMore {
    display: none;
}

.visibilityFlag:checked ~ .hiddenItems {
    overflow: auto;
    display: grid;
}

.visibilityFlag:checked ~ .evenMore {
    display: block;
    width: 100%;
    color: lightslategray;
    text-align: center;
    padding: 10px 0;
}

.evenMoreWrapper {
    display: none;
}

.visibilityFlag:checked ~ .evenMoreWrapper {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.evenMoreLink {
    text-decoration: none;
    color: lightgrey;
}

.evenMoreLink:hover {
    color: #f6ccdb;
}

.popupItemImg {
    height: 40px;
    padding: 5px 3px;
    margin: 8px 3px;
}

.columnItem {
    box-sizing: border-box;
    align-items: center;
    margin: 13px auto;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.columnItem:hover {
    border: 1px dashed #b4e2f5;
}

.columnItem:focus {
    border: 1px solid #b4e2f5;
}

.itemTitle {
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

.popupBtn {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}

@media (max-width: 500px) {
    .appsPopup {
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 33px);
    }
    
    .appsPopup:after {
        left: 48%;
    }

    .popupItemImg {
        max-height: 50%;
    }

    .columnItem .itemTitle {
        font-size: 14px;
    }
}