@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


body,h1,h2,h3,h4,p,
ul,ol,li {
  margin: 0;
  font-weight: 400;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color:rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
    overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* --------- */

body {
    background-image: url(img/dots.webp);
}

/* first screen */

.form__wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #6afc46, #6d47f7);
    z-index: 3;
}
  
.first__screen {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
  
.form_first-screen {
    background: rgba(255, 255, 255, 0.3);
    padding: 2em;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
  
.welcome__title {
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 800;
}

.question {
    color: #fff;
    opacity: 0.7;
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-top: 25px;

}
  
.radio__label {
    position: relative;
    opacity: 0.7;
    font-size: 1rem;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.radio__label::before {
    content:'';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #6d47f7;
    margin-right: 10px;
    border-radius: 100%;
}

.radio__label::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 8px;
    height: 8px;
    background-color:#6d47f7;
    border-radius: 100%;
    opacity: 0;
}

.radio__btns {
    display: flex;
    align-items:center;
    justify-content: center;
}

input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

input[type="radio"]:checked + .radio__label::after {
    opacity: 1;
}

input[type="radio"]:checked + .radio__label {
    opacity: 1;
}

.age__input {
    position: relative;
}

.input-min,
.input-max {
    border: none;
    height: 25px;
    width: 45px;
    text-align: center;
    background-color: #f0f0f335;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}

.input-min::placeholder,
.input-max::placeholder {
    color: white;
    font-size: 12px;
}

.number-min__label {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    color: white;
    opacity: 50%;
}

.number-max__label {
    position: absolute;
    top: 5px;
    right: -10px;
    font-size: 12px;
    color: white;
    opacity: 50%;
}

.submit_btn {
    width: 8rem;
    height: 2.5rem;
    margin: 20px auto;
    border-radius: 20px;
    color:rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #f0f0f335;
    border: none;
}
          
.submit_btn:hover { 
    color:rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #f0f0f385;
}

.submit_btn:active {
   margin-top: 22px;
   border-radius: 20px;
}

/* main content */

.wrapper {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 1fr 150px;
}

/* header section */

.header {
    grid-area: header;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    padding-left: 85px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.logo {
    position: relative;
    font-weight: 700;
    font-size: 50px;
}

.logo::after {
    content: 'find someone like you';
    display: inline-block;
    position: absolute;
    font-weight: 400;
    font-size: 15px;
    background-image: linear-gradient(45deg, #000000 0%, #000000 80%, #6d47f7 80%, #6d47f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.35em;
    left: 8px;
    bottom: -8px;
}

.logo::before {
    content: "";
    background-image: url('img/logo.png');
    background-size: 30px 30px;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    left: -32px;
    bottom: 5px;

}

.search {
    position: absolute;
    right: 70px;
    top:37px;
    cursor: pointer;
}
.search input {
    height: 35px;
    width: 50px;
    border: 1px solid rgba(128, 128, 128, 0.414);
    padding-left: 35px;
    background-color:rgba(139, 137, 137, 0.1);
    border-radius: 50px;
    transition: 1s;
}

.search__icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-image: url("img/search.png");
    background-size: 15px 15px;
}

.search input:hover {
    width: 240px;
    border: 1px solid rgba(128, 128, 128, 0.414);
    background-color:rgba(255, 255, 255, 1);
    border-radius: 10px;
}


/* content section */

.main {
    grid-area: main;
}

.grid__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(4, 400px);
    grid-auto-rows: 400px;
    gap: 25px;
    width: 800px;
    margin: 15px auto;

}

.card {
    position: relative;
    background-color: #6d47f7;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.user__photo {
    position: relative;
    width: 95%;
    height: 90%;
    border-radius: 18px;
    margin: 5px auto;
    background-size: cover;
    background-position: center;
}

.info,
.location,
.additional__info {
    position: absolute;
    font-weight: 700;
    color: white;
}

.info {
    left: 10px;
    bottom: 30px;
    font-size: 25px;
}

.location {
    left: 10px;
    bottom: 5px;
    font-size: 15px;
}

.additional__info {
    left: 47px;
    bottom: 4px;
    font-size: 20px;
}
/* footer section */

.bottom__menu {
    grid-area: footer;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    bottom: -40px;
    right: 13%;
    background-color: #fbfbfb63;
    width: 500px;
    height: 50px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.menu__up {
    grid-area: footer;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    bottom:0;
    right: 13%;
    background-color: #fbfbfb63;
    width: 500px;
    height: 50px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav__link {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 10px;
}

.link__img {
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.link__img:hover {
    width: 40px;
    height: 40px;
    margin: 0 25px;
}

/* aside section */

.aside {
    grid-area: aside;
    position: fixed;
    top: 100px;
    width: 400px;
    height: 100vh;
    backdrop-filter: blur(5px);
}

._aside {
    color:black;
}

._aside::placeholder {
    color: black;
}

.aside__button {
    width: 10rem;
    height: 2.5rem;
    margin: 20px auto;
    border-radius: 20px;
    color:rgba(169, 167, 167, 0.857);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #d9d9d980;
    border: none;
}

.aside__button:hover {
    background-color: #6d47f7;
    color: white;
    font-weight: 700;
}

.input-max._aside,
.input-min._aside {
    background-color: #6d47f73a;
    width: 70px;
}


.form_aside {
    padding: 2em;
    text-align: center;
    position: relative;
    
}

.sorting {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.sort_list {
    display: flex;
    width: 70px;
    height: 30px;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

.sort {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.sort:hover {
    border: 1px solid #6d47f78e;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

.sort_active {
    border: 1px solid #6d47f7;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

.sort-up {
    transform: rotate(180deg);
}

.question._aside {
    position: relative; 
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.hint {
    position: relative;
    width: 20px;
    font-size: 8px;
    top: 0px;
    left: -10px;
    text-align: right;
    color:rgba(0, 0, 0, 0.4);
}

/* tablet */

@media only screen

and (min-width: 768px)
and (max-width: 1199px) {

    .wrapper {
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 150px 1fr;
    }

    .grid__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(4, 320px);
        grid-auto-rows: 320px;
        gap: 15px;
        width: 660px;
        margin: 15px auto;
    
    }

    .form_aside {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 1em 5em;
        margin-top: 40px;
        height: 100px;
    }

    .aside {
        width: 100%;
        height: 150px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #6d47f78b;
        z-index: 1;
    }

    .header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .question._aside { 
        display: none;
    }

    .sorting {
        width: 25%;
        margin:0;
        display: grid;
    }

    .sort_list {
        margin: 0;  
    }

    .age__input._aside {
        display: grid;
        gap: 15px;
    }

    .number-min__label._aside {
        top: -17px;
        left: 3px;
        font-size: 10px;
    }

    .number-max__label._aside {
        top: 25px;
        right: -4px;
        font-size: 10px;
    }

    .radio__btns {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-top: 5px;
    }

    .radio__label._aside {
        height: 26px;
    }

    .bottom__menu {
        grid-area: footer;
        position: fixed;
        display: flex;
        align-items:center;
        justify-content: center;
        bottom:0;
        right: 0;
        background-color: #fbfbfb63;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

/* mobile */

@media only screen

and (min-width: 320px)
and (max-width: 767px) {

    .form__wrapper{
        z-index: 3;
    } 

    .form_first-screen {
        height: 420px;
        padding: 1em;
        width: 250px;
    }

    .number-max__label {
        right: -10px;
    }

    .number-min__label {
        left: -1px;
    }

    .submit_btn {
        margin: 55px auto;
    }

    .question { 
        margin-top: 10px;
    }

    .form_first-screen .radio__label::after {
        left: 2px;
        top: 9px;
        width: 6px;
        height: 6px;
    }

    .wrapper {
        display: grid;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 130px 120px 1fr;
    }

    .grid__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(4, 160px);
        grid-auto-rows: 160px;
        gap: 5px;
        width: 310px;
        margin: 15px auto;
        margin-top: -80px;
    
    }

    .form_aside {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        height: 100%;
    }

    .aside {
        width: 100%;
        height: 120px;
        top: 30px;
        z-index: 1;
        background-color:#6d47f751;
        transition: 1s;
    }

    .aside::after {
        content: "show filters";
        display: block;
        width: 100px;
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
        margin-top: -17px;
        color: white;
    }

    .show-aside {
        top: 120px;
        background-color: rgba(255, 255, 255, 1);
    }

    .header {
        background: linear-gradient(#ece8fd, rgba(255, 255, 255, 1));
        height: 130px;
        padding: 20px;
        justify-content: center;
        align-items:flex-start;
        z-index: 2;
    }

    .question._aside { 
        display: none;
    }

    .sorting {
        width: 25%;
        margin:0;
        margin-top: 10px;
        display: grid;
        gap: 5px;
    }

    .sort_list {
        margin: 0;  
        justify-content: space-around;
    }

    .sort {
        width: 15px;
        height: 15px;
    }

    .age__input._aside {
        display: grid;
        gap: 5px;
        position: relative;
    }

    .age__input._aside::before {
        position: absolute;
        content: "age range";
        width: 20px;
        font-size: 8px;
        top: -25px;
        left: 5px;
        color:rgba(0, 0, 0, 0.4);

    }

    .number-max__label._aside,
    .number-min__label._aside {
        display: none;
    }

    .radio__btns {
        display: grid;
        justify-items:start;
        margin-top: 25px;
    }

    .radio__label._aside {
        height: 26px;
        margin: 0;
    }

    .aside__button {
        width: 5rem;
        height: 3rem;
        font-size: 12px;
    }

    .input-max._aside,
    .input-min._aside {
        width: 30px;
    }

    .radio__label._aside {
        font-size: 10px;
    }
    .radio__label::before {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

    .radio__label::after {
        left: 2px;
        top: 2.5px;
        width: 6px;
        height: 6px;
    }

    .logo {
        margin-left: 20px;
        font-size: 30px;
    }

    .logo::after {
        left: 0px;
        bottom: -15px;
        width: 260px;
        letter-spacing: 0.1em;
    }

    .hint {
        display: none;
    }

    .search {
        top: 83px;
        right: initial;
    }

    .info {
        font-size: 12px;
        bottom: 15px;
        white-space: nowrap;
    }

    .additional__info {
        font-size: 8px;
        bottom: -1px;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .location {
        font-size: 8px;
        white-space: nowrap;
    }

    .search input {
        width: 260px;
        border: 1px solid rgba(128, 128, 128, 0.414);
        background-color:rgba(138, 138, 138, 0.1);
        border-radius: 10px;
        margin: 0 auto;
    }

    .search input:hover {
        width: 260px;
        background-color:rgba(255, 255, 255, 1);
    }

    .input-min, .input-max {
        font-size: 8px;
    }

    .number-min__label,
    .number-max__label  { 
        font-size: 9px;
        top: 8px;
    }

    .bottom__menu {
        grid-area: footer;
        position: fixed;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10px;
        bottom: -10px;
        right: 0;
        background-color: #fbfbfbbd;
        width: 100%;
        height: 80px;
        border-radius: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .link__img {
        width: 35px;
        height: 35px;
    }

    .link__img:hover {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }
}


