#myDIV {
  padding-top: 120px;
  background-color: #fff;
  width: 100%;
  height: 500px;
}

#myDIV div {
  width: 80px;
  height: 80px;
  background: rgb(9, 6, 173);
  position: relative;
  animation: mymove 7s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 1190px;
  }
}
@keyframes myothermove {
  from {
    top: 0px;
  }
  to {
    top: 100px;
  }
}
@keyframes mylastmove {
  from {
    background-color: red;
  }
  to {
    background-color: rgb(0, 255, 13);
  }
}

