@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --main-dark-color: #0b0c10;
    --main-light-color: #fff;
    --secondary-dark-color: #2c2531;
    --secondary-light-color: #c5c6c7;
    --accent-color: #483d8b;
    --secondary-red-color: #d22b2b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
}

html{
    font-size: 15px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-light-color);
}

.content-wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    position: relative;
}

.header{
    width: inherit;
    max-width:inherit;
    height: 6rem;
    padding: 0 1.5rem;
    background: var(--main-light-color);
    color: var(--main-dark-color);
    border-radius: 0 0 5px 5px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu{
    width: 2.2rem;
    height: 2.2rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu .hamburger-menu__line{
    width: 100%;
    height: 0.4rem;
    background-color: var(--main-dark-color);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}

.header-logo{
    display: flex;
    align-items: baseline;
}

.header-title, .header-icon{
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.header-title span{
    color: var(--accent-color);
}

.header-link{
    color: var(--main-dark-color);
}

.header-link:hover{
    color: var(--accent-color);
}

.main{
    padding: 6rem 0 3.5rem;
    margin-bottom: -2.5rem;
    min-height: 100vh;
}

.input-container{
    width: 18rem;
    height: max-content;
    padding: 1rem;
    margin: 1rem 0 0 0;
    background: var(--main-light-color);
    border-radius: 10px;
    position: fixed;
}

.search-container{
    position: relative;
}

.search-icon, .close-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.search-icon{
    left: 1rem;
    cursor: text;
}

.close-icon{
    right: 1rem;
    visibility: hidden;
}

.close-icon.active{
    visibility: visible;
}

.close-icon:hover, .close-icon:active{
    cursor: pointer;
    color: var(--secondary-red-color);
}

.search_container__input{
    width: 100%;
    height: 2.1rem;
    padding-left: 2.2rem;
    border: 2px solid rgba(0, 0, 0, 0.65);
    border-radius: 1rem;
    cursor: pointer;
}

.search_container__input:focus{
    outline: none;
    border:2px solid var(--accent-color);
    padding-left: 1rem;
}

.search_container__input:focus + .search-icon{
    display: none;
}

.filters-container, .sorters-container{
    margin-top: 0.8rem;
    user-select: none;
}

.input-category-title{
    font-size: 1.3rem;
    color: var(--main-dark-color);
    font-weight: 600;
}

.input-method-title{
    font-weight: 500;
    margin-top: 0.4rem;
}

.radio-button-input{
    vertical-align: middle;
    appearance: none;
}

.radio-button-input:checked + .input-label{
    background-color: #483d8b;
    color: var(--main-light-color);
}

.input-label{
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

.loader-wrapper{
    height: calc(100vh - 6rem);
    grid-column: 1 / auto-fill;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 5rem;
    height: 5rem;
    border: 10px solid var(--main-light-color); 
    border-top: 10px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 3s linear infinite;

}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.users-container{
    margin: 1rem 0 0 18rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem; 
}

.user-container{
    height: 100%;
    background: var(--main-light-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.user-image{
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.user-info{
    padding: 1rem;
    font-size: 1rem;
    color: var(--secondary-dark-color);
}

.user-info__item{
    display: block;
}

.user-name, .user-age{
    font-size: 1.3rem;
}

.user-name{
    font-weight: 700;
    color: var(--main-dark-color);
    margin-right: 0.7rem;
}

.user-age{
    font-weight: 500;
    color: var(--secondary-dark-color);
}

.user-info-icon{
    color: var(--accent-color);
}

.secondary-user-info{
    color: var(--secondary-dark-color);
    font-weight: 500;
}

.user-info__item.secondary-user-info{
    padding: 0.3rem;
}

.secondary-user-info a{
    cursor: pointer;
    color: inherit;
}

.secondary-user-info a:hover{
    color: var(--accent-color);
}

.footer{
    height: 2.5rem;
    text-align: center;
    background: var(--secondary-dark-color);
    border-radius: 5px 5px 0 0;
}

.footer span{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--secondary-light-color);
    line-height: 2.5rem;
}

@media(max-width: 1350px){
    .main{
        padding: 6rem 1.5rem 3.5rem;
    }
}

@media(max-width: 735px){
    .header{
        height: 5rem;
    }

    .hamburger-menu{
        display: flex;
    }

    .hamburger-menu.active .hamburger-menu__line:nth-child(1){
        transform: rotate(45deg) translate(11px, 8px);
    }

    .hamburger-menu.active .hamburger-menu__line:nth-child(2){
        display: none;
    }
    
    .hamburger-menu.active .hamburger-menu__line:nth-child(3){
        transform: rotate(-45deg) translate(11px, -8px);
    } 

    .input-container{
        display: none;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
    }

    .input-container.opened{
        display: block;
        margin: -1.5rem 0 0 -1.5rem;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .search_container__input{
        height: 2.4rem;
        border-radius: 1.2rem;
        padding-left: 3rem;
        font-size: 1.3rem;
    }

    .search-icon, .close-icon{
        font-size: 1.3rem;
        padding: 0.5rem;
    }

    .input-category-title{
        font-size: 1.7rem;
    }

    .input-method-title{
        font-size: 1.4rem;
        padding: 0.3rem;
    }

    .input-label{
        font-size: 1.2rem;
        padding: 0.3rem;
    } 

    .users-container{
        margin: 1rem 0 0 0;
        padding-left: 0;
    }
}

@media (max-width: 450px){
    html{
        font-size: 10px;
    }

    .header{
        padding: 0 1.5rem;
        height: 6rem;
    }

    .header-title, .header-icon{
        font-size: 2.8rem;
        padding: 0.5rem;
    }

    .hamburger-menu{
        width: 3.6rem;
        height: 3.6rem;
        padding: 0.6rem;
    }

    .hamburger-menu.active .hamburger-menu__line:nth-child(1){
        transform: rotate(45deg) translate(8px, 6px);
    }
    
    .hamburger-menu.active .hamburger-menu__line:nth-child(3){
        transform: rotate(-45deg) translate(8px, -6px);
    } 

    .input-container{
        padding: 2rem;
    }

    .search_container__input{
        height: 4rem;
        border-radius: 2rem;
        padding-left: 3.6rem;
        font-size: 1.6rem;
    }

    .search-icon, .close-icon{
        font-size: 1.7rem;
        padding: 0.5rem;
    }

    /* .input-category-title{
        font-size: 2rem;
        padding: 0.3rem;
    }

    .input-method-title{
        font-size: 1.7rem;
        padding: 0.4rem;
    }

    .input-label{
        font-size: 1.5rem;
        padding: 0.5rem;
    } */

    .loader{
        border: 5px solid var(--main-light-color); 
        border-top: 5px solid var(--accent-color);
    }

    .user-info__item.secondary-user-info{
        padding: 0.6rem;
    }

    .user-name, .user-age{
        font-size: 1.6rem;
    }

    .secondary-user-info{
        font-size: 1.4rem;
    }

    .footer{
        height: 4rem;
    }
    
    .footer span{
        font-size: 1.3rem;
        line-height: 4rem;
    }
}
