/*--------Обнуление--------*/
*{padding: 0;margin: 0;border: 0;}*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
box-sizing: border-box;}:focus,:active{outline: none;}a:focus,a:active{outline: none;}nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}input,button,textarea{font-family:inherit;}input::-ms-clear
{display: none;}button{cursor: pointer;}button::-moz-focus-inner {padding:0;border:0;}a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}ul li{list-style: none;}img{vertical-align: top;}h1,h2,h3,h4,h5,h6{font-size:inherit;
font-weight: 400;}


/*--------Common Styles--------*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #010e09;
	font-size: 16px;
	line-height: 1.5;
}
body._lock {
	overflow: hidden;
}
li.display-none {
	display: none;
}


/*--------Header--------*/
.header__container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 40px 15px 0 15px;
}
.title {
	font-size: 35px;
	font-weight: 700;
	color: #91dd77;
	transition: all .2s;
	position: fixed;
	z-index: 5;
}
.icon-menu {
	display: none;
}
.menu__body {
	position: fixed;
	top: 150px;
}
.menu__list {
	transition: all .5s;
	overflow-y: scroll;
	height: 490px;
}
.menu__list::-webkit-scrollbar { 
	width: 0;
}
.menu__item {
	margin-bottom: 30px;
}
.menu__item:last-child {
	margin-bottom: 0;
}
.menu__btn {
	font-size: 20px;
	font-weight: 500;
	color: #c6cbc4;
	transition: all .1s;
	background-color: transparent;
}
.menu__btn:hover,
.menu__btn:focus {
	background-color: #90dd772d;
	border-radius: 10px;
}




/*--------Main--------*/
.main__container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 13px 15px;
	display: flex;
	justify-content: flex-end;
}
.block {
	min-width: 350px;
}
.main__content {
	max-width: 850px;
	transition: all .9s;
}
.main__content-item {	
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 30px;
}
.sub-title {
	color: #d4eeca;
	font-size: 24px;
	font-weight: 600;
}
.main__img {
	border-radius: 10px;
	width: 100%;
}
.title-description {
	color: #d4eeca;
	font-size: 20px;
	font-weight: 500;
}
.title-description__text {
	color: #c6cbc4;
}


@media (max-width: 960px) {
	.title {
		font-size: 30px;
	}
	.block {
		min-width: 275px;
	}
	.menu__body {
		top: 125px
	}
	.menu__btn {
		font-size: 17px;
	}
	.menu__item {
		margin-bottom: 25px;
	}
	.main__container {
		padding-top: 7px;
	}
}

 @media (max-width: 850px) {
	.title {
		top: 8px;
	}
	.menu__body {
		position: fixed;
		overflow: auto;
		width: 100%;
		height: 100%;
		left: -100%;
		top: 0;
		background-color: rgba(1, 14, 9, 0.97);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 90px 30px 30px 30px;
		transition: all .3s;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		background-color: #04472ef0;
	}
	.menu__list {
		height: 100%;
	}
	.menu__item {
		text-align: center;
	}
	.menu__btn {
		font-size: 20px;
	}
	.header__container {
		padding-top: 20px;
	}
	.block {
		display: none;
	}
	.main__container {
		padding-top: 60px;
	}
	.icon-menu {
		display: block;
		position: fixed;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		background-color: transparent;
		right: 25px;
		top: 21px;
	 }
	 .icon-menu span, 
	 .icon-menu::before, 
	 .icon-menu::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #d4eeca;
	 }
	 .icon-menu::before {
		top: 0;
	 }
	 .icon-menu::after {
		bottom: 0;
	 }
	 .icon-menu span {
		top: calc(50% - 1px);
	 }
	 .icon-menu._active span {
		width: 0;
	 }
	 .icon-menu._active::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	 }
	 .icon-menu._active::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	 }
}
@media (max-width: 500px) {
	.title {
		font-size: 25px;
		top: 7px;
	}
	.menu__body {
		padding-top: 70px;
	}
	.menu__body::before {
		height: 50px;
	}
	.sub-title {
		font-size: 20px;
	}
	.title-description {
		font-size: 18px;
	}
	.title-description__text {
		font-size: 14px;
	}
	.icon-menu {
		top: 16px;
	}
	.menu__item {
		margin-bottom: 20px;
	}
}
