html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #1d1d1d;
    line-height: 1.5em;
    margin: 0;
}

.container {
    max-width: 1144px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: #fff;
    box-shadow: 0px 0px 16px #e0e0e0;
    z-index: 10;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.logo__link {
    max-width: 100px;
}

.menu {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.menu__item {
    margin: 0.8em;
    font-size: 1.1em;
    position: relative;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__popup-checkbox,
.popup__more-button {
    position: absolute;
    -webkit-appearance: none;
}

.menu__popup-checkbox,
.menu__popup-label,
.popup__more-button,
.popup__more-label {
    cursor: pointer;
    display: block;
}

.menu__popup-image {
    display: block;
    padding: 5px;
}


.menu__popup-label:hover {
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: all 0.25s linear;
}

.menu__popup-checkbox:focus ~ .menu__popup-label {
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: all 0.25s linear;
}

.menu__popup-checkbox:checked ~ .menu__popup-label {
    background-color: #d0d0d0;
    border-radius: 50%;
}

.menu__popup-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
    border-radius: 5px;
    max-width: 360px;
    max-height: 400px;
    padding: 10px;
    overflow: auto;
    display: none;
    right: 0;
    top: calc(2.5em + 0.5em);
}

.menu__popup-checkbox:checked ~ .menu__popup-container {
    display: block;
}

.popup-list, .more-button__list  {
    display: grid;
    grid-template-columns: repeat(3, 115px);
    text-align: center;
    align-items: center;
    padding: 0;
    font-size: 0.85em;
}

.popup-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.popup-list__image {
    display: block;
    max-width: 100%;
    height: 60px;
    object-fit: contain;
    overflow: hidden;
    align-items: center;
}

.more-button {
    grid-column: span 3;
}

.popup__more-image {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.popup__more-label {
    display: flex;
    justify-content: center;
}

.popup-list__item:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.popup__more-button:focus ~ .popup__more-label {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.popup__more-image:hover {
    background-color: #e0e0e0;
    border-radius: 50%;
}

.more-button__container {
    display: none;
}

.popup__more-button:checked ~ .more-button__container {
    display: block;
}

.popup__more-button:checked ~ .popup__more-label {
    display: none;
}

@media (max-width: 480px) {
    .popup-list, .more-button__list  {
        grid-template-columns: repeat(2, 115px);
    } 

    .more-button {
        grid-column: span 2;
    }
}
