* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 480px;
}

body {
    background-color: #ccd3d2;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper__title {
    cursor: pointer;
    text-align: center;
    color: rgb(29, 27, 27);
}

.inner_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 400px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.aside {
    display: flex;
    border-radius: 8px 0px 0px 8px;
    background-color: rgb(78, 78, 78);
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
}

.aside__list {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.aside__item {
    padding: 16px;
    cursor: pointer;
    background-color: rgb(12, 11, 11);
    color: rgb(213, 215, 218);
}

.aside__item:not(:last-child) {
    border-bottom: 1px solid #4b5554;
}

.focused {
    background-color: #ccd3d2;
    color: rgb(10, 10, 10);
    opacity: 0.8;
}

.main {
    display: flex;
    background-color: #212121;
}

.container {
    padding: 30px;
    color: aliceblue;
}

.container__title {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .inner_wrapper {
        min-height: 500px;
    }
}

@media screen and (max-width: 530px) {

    .wrapper {
        margin: 100px 0;
    }

    .inner_wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .aside {
        text-align: center;
    }

    .main {
        min-height: 400px;
    }
}
